[2022-09-06 09:05] shivangT commented on #3692
Hey @KaviiSuri

The issue is still on you.
If you want to work on this, please go ahead.

Incase you don't have the bandwidth to work on this, kindly let us know. We’ll re-assign this to someone else.
Thanks

[2022-09-06 09:06] KaviiSuri commented on #3692
I'll get it done by tomorrow
Thanks

[2022-09-06 09:09] shivangT commented on #3692
Sure, no rush @KaviiSuri

We would appreciate if you try finishing this soon.
This issue is active for quite long.

Thanks

[2022-09-06 09:11] shivangT commented on #3955
Hey @DronSKM044
This issue is resolved by an internal team member.

Kindly explore our issue logs to other good first issues.

Thanks

[2022-09-06 09:55] gondar00 opened #3965 "[refactor]: create query panel component"
### What area of the codebase is to be refactored?
The drag behaviour of the query panel can be moved to a separate component

### What are the potential advantages of this proposed refactoring?
Avoid re-renders due to state change in parent(editor) component

[2022-09-06 12:23] sherfin94 opened #3967 "Table does not expose filtered data"
### Version Information

### Environment

All
### What is the expected behaviour?

The table widget should expose filtered data
### What is the current behaviour?

It does not expose filtered data
### How to reproduce the issue?

1. Add a table
2. Apply a filter
3. Observe that the filtered data is not available on any key of the table widget in the inspector

### Can you identify the location in

[2022-09-06 13:05] #3898 closed

[2022-09-06 13:10] #3961 closed

[2022-09-06 14:00] sherfin94 commented on #1551
Resolved.

[2022-09-06 14:00] #1551 closed

[2022-09-06 14:01] sherfin94 commented on #1437
This issue is resolved.

[2022-09-06 14:01] #1437 closed

[2022-09-07 07:19] arpitnath opened #3971 "Support to paginate Object list from AWS S3 buckets"
Currently while listing S3 bucket's objects from a particular directory or a sub-directory, default the action returns up to 1,000 key names. The response might contain fewer keys but will never contain more.

**Proposal**
Able to set the number of key names to be returned and allow to set offset for pagination.

[2022-09-07 10:13] mikebarr24 commented on #3963
I think I've fixed this but having some issues running the tests. I've followed the documentation [here](https://docs.tooljet.com/docs/contributing-guide/setup/docker) to install a local instance.

If I run `docker-compose run --rm server npm run test`

[code]

When I run

`docker run server --rm npm run`

to get a list of script options I get the following list:

[code]

I believe these scrips ar

[2022-09-07 10:35] gsmithun4 opened #3972 "[BUG] Error while setup first user when single workspace is enabled"
### What is the expected behaviour?
Should load the account setup page if first user is setup through invite link

### What is the current behaviour?
Account setup page is not loading

### How to reproduce the issue?
1. sign up -> enter mail id
2. get invite link, follow same
3. Page not loading

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-09-07 11:01] arpitnath commented on #393
Refer: #3952

[2022-09-07 11:01] #393 closed

[2022-09-07 11:17] shivangT commented on #3963
Hey @mikebarr24
Can you join our slack channel and post the same. We’ll be able to quickly fix it for you.

Thanks

[2022-09-07 14:54] TheLearneer opened #3975 "Security concerns with default admin seed credentials"
### Is your proposal related to a problem?

Just earlier today I went through a slack conversation where one of user was having issues with certain aspect with their custom deployed version of Tooljet.
In the message they had also shared a screenshot which also displayed the full URL of the deployed version of tooljet.

The problem now is that, since they followed the entire tutorial of deployment

[2022-09-07 14:55] Navaneeth-pk commented on #3975
This behaviour will be changed as part of our redesigned onboarding process for self-hosted instances.

[2022-09-07 14:55] #3975 closed

[2022-09-08 02:41] #3922 closed

[2022-09-08 03:45] kavinvenkatachalam opened #3979 "[Hotfix]: Add Render Only Active Tab Toggle on Tab Widget"
### Is your proposal related to a problem?

When the tab widget is dropped all the tab contents are loaded irrespective of the active tab which causes unwanted re-renders and performance lag

### Describe the solution you'd like

Add a toggle to the tab property `Render only active tab` and when it is enabled, only the active tab content will be rendered

### Describe alternatives you've considere

[2022-09-08 05:58] yureckey opened #3981 "can't connect to Postgresql provided by nhost.io"
there is nhost.io service which provides Postgresql in the Amazon cloud, I'm not sure exactly what they use (not RDS, maybe K8S)
when I'm trying to connect to this db from other dashboard-building tools (Retool, Appsmith, Nocodb) it's working fine. But connecting from Tooljet isn't working

### Version Information
latest

### Environment
ToolJet Cloud

### What is the expected behaviour?
working c

[2022-09-08 07:49] gondar00 opened #3982 "[refactor]: memoize resolve references values in box component"
### What area of the codebase is to be refactored?
Resolve references value inside box.jsx

### What are the potential advantages of this proposed refactoring?
Significant performance improvement in primitive actions such as drag-and-drop and select/un-select of inspector

[2022-09-08 09:33] #3887 closed

[2022-09-08 11:34] #3979 closed

[2022-09-08 11:52] manishkushare opened #3986 "Bug : [ Table Widget] is not consistent with the dark theme"
### Environment
Development
### What is the expected behaviour?
The table widget should be consistent with the dark theme

### What is the current behaviour?
The table widget is not consistent with the dark theme entirely.
1. You can observe, that the placeholder in the search bar is not going well with the dark theme.
2. Also, click on the filter button at the right top of the widget, and click o

[2022-09-08 12:01] manishkushare opened #3989 "Bug : [ Text Input] widget is not consistent with the dark theme"
### Environment
Development

### What is the expected behaviour?
The text Input widget should be consistent with the dark theme.

### What is the current behaviour?
The text Input widget is not consistent with the dark theme. The text color of the placeholder is not going well with the dark theme.

### How to reproduce the issue?

1. Create a new app or open an existing app
2. Switch to a dark the

[2022-09-08 12:13] manishkushare opened #3991 "Bug : [ Password Input widget ] is not consistent with the dark theme"
### Environment
Development

### What is the expected behaviour?
The Password Input widget should be consistent with the dark theme.

### What is the current behaviour?
The Password Input widget is not consistent with the dark theme. The text color of the placeholder is not going well with the dark theme.

### How to reproduce the issue?

1. Create a new app or open an existing app
2. Switch to a

[2022-09-08 12:59] manishkushare opened #3993 "Bug : [ File Picker widget ] is not consistent with the dark theme"
### Environment
Development

### What is the expected behaviour?
The Filepicker widget should be consistent with the dark theme

### What is the current behaviour?
The Filepicker widget is not consistent with the dark theme. In a dark theme, when no files are selected and files are selected, in both cases, text color is not going well with the dark theme

### How to reproduce the issue?

1. Create

[2022-09-08 13:33] mslourens commented on #3981
the startup argument `statement_timeout` is not supported by the Postgresql version used by Nhost.io, but it is passed by the Tooljet Postgresql plugin.

[2022-09-08 17:42] shivangT commented on #3981
Hey @yureckey ,

Let me discuss this with the team. Getting back shortly.
What PostgreSQL version are you using?

Thanks for waiting

[2022-09-08 17:47] yureckey commented on #3981
it's PostgreSQL 14.5

[2022-09-08 23:04] shivangT commented on #3841
Hey @igrekun

Let me discuss this with the product team and get back to you.
Missed this, apologies for reaching out late.

Thanks

[2022-09-08 23:11] shivangT commented on #3792
Hey @sphinxrave

Let us recreate this issue and assign someone to get it resolved.
Thanks for pointing this out.

[2022-09-08 23:21] shivangT commented on #3752
Hey @ad-si

I hope you're still looking for a solution here.
Let me discuss this with our product team. Once they take a call on this we'll get back to you.

Would you like to elaborate more to help us understand this better? Share (If any) screenshots or links relevant to this issue.

Apologies for reaching out this late. Talk to you soon.
Thanks

[2022-09-08 23:36] shivangT commented on #3471
Hey @jtseven

Let us recreate this issue and get back to you. Thanks for letting us know.

Apologies for reaching out late.

[2022-09-08 23:40] shivangT commented on #3386
Hey @saxenashivang
Let me discuss this with the product team and give an update.
Thanks for pointing this out.

[2022-09-09 05:35] ajith-k-v opened #3996 "[Bug]: All users have access to the users route"
### Version Information

### Environment

    ToolJet Cloud

### What is the expected behaviour?

The `/users` route is accessible for admin only.

### What is the current behaviour?

The `/users` route is accessible for all users.

### Screenshots or Screencast

[Video](https://www.loom.com/share/13997176b9d34f9088e44f62c0789bbf)

[2022-09-09 08:12] shivangT opened #3997 "[RadioButton]: "Default value" property not working"
### What is the expected behavior?

Changing the default option from `true->false` should select the other option in the widget.

### What is the current behavior?
Changing the default option from `true-> false` is not working

### How to reproduce the issue?

1. Visit the [link](https://app.tooljet.com/) and create a new application.
2. Drag and drop the radio button widget from the widgets inven

[2022-09-09 08:58] shivangT commented on #3963
Hey @mikebarr24
Could you get your issue resolved?

[2022-09-09 09:01] mikebarr24 commented on #3963
Hey. Yes I did but having a bit of a mare running tests. Should I post the issues that I'm having on the slack group again. It's around docker for bcrypt using arm64.

[2022-09-09 11:55] manishkushare opened #3999 "Bug : [ Map Widget ] is not consistent with the dark theme"
### Environment
Development

### What is the expected behaviour?
The Map widget should be consistent with the dark theme

### What is the current behaviour?
The Map widget is not consistent with the dark theme. The search box is not consistent with the dark theme.

### How to reproduce the issue?

1. Create a new application or open an existing app
2. Switch to a dark theme, by clicking on the hal

[2022-09-09 12:07] manishkushare opened #4000 "Bug : [ Steps widget ] is not consistent with dark theme."
### Environment
Development

### What is the expected behaviour?
The Steps widget should be consistent with the dark theme.

### What is the current behaviour?
The steps widget is not consistent with the dark theme.  default text color is not going well with the dark theme.

### How to reproduce the issue?

1. Create a new application or open an existing app
2. Switch to a dark theme, by clicking

[2022-09-09 12:22] manishkushare opened #4001 "Bug : [ Right sidebar ] search box and label tag in the widget inspector is not consistent with the dark theme."
### Environment
Development

### What is the expected behaviour?
The Right sidebar should be consistent with the dark theme, along with the widget inspector

### What is the current behaviour?
The right sidebar should be consistent with the dark theme, along with the widget inspector

### How to reproduce the issue?

1. Create a new app or open an existing one
2. Observe the right sidebar, at the

[2022-09-09 13:15] manishkushare opened #4002 "Bug : [ Event Manager ] is not consistent with the dark theme when, action is selected as Go to App"
### Environment
Development

### What is the expected behaviour?
The event Management pop-up should be consistent with the dark theme

### What is the current behaviour?
The event Management pop-up is not consistent with the dark theme. When we select action as **Go to App** in the event management pop-up, the App dropdown appears under the action option, observe the dropdown, it is not consistent

[2022-09-09 13:47] manishkushare opened #4003 "Bug : Input placeholder at some places in the application are not consistent with the dark theme."
### Environment
Development

### What is the expected behaviour?
The input placeholder should be consistent with the dark theme.

### What is the current behaviour?
The input placeholder at the following places in the application is not consistent with the dark theme. Font color is not readable in the dark theme.
1. placeholder for select search component.
2. Search box on the Homepage

### How to

[2022-09-09 13:56] yashdhanore commented on #3997
Hey! I would like to give it a try

[2022-09-09 14:00] manishkushare opened #4004 "Bug : Organization avatar and profile avatar is not consistent with the dark theme."
### Environment
Development

### What is the expected behaviour?
The organization avatar and profile avatar on the Headers on the Home page should be consistent with the dark theme.

### What is the current behaviour?
The organization avatar and profile avatar on the Headers on the Home page is not consistent with the dark theme.

### How to reproduce the issue?

1. Login into ToolJet Account. You

[2022-09-09 14:00] shivangT commented on #3997
Hey @yashdhanore
Assigning this to you. Have a good time coding on Tooljet 👍🏼

[2022-09-09 14:33] manishkushare opened #4005 "Bug : Modal to share the app is not consistent with the dark theme."
### Environment
Development

### What is the expected behaviour?
Modal to share the application should be consistent with the dark theme.

### What is the current behaviour?
Modal to share the application is not consistent with the dark theme. The embeddable link to the share app is not visible in the dark theme.

### How to reproduce the issue?

1. Create a new application or open an existing app

[2022-09-09 16:12] AdwitiyaMishra commented on #4004
Hi @manishkushare, I would like to work on this issue. It'd be great if you could assign it to me.

[2022-09-09 16:18] manishkushare commented on #4004
@AdwitiyaMishra , I am sorry, but this issue is already resolved by our internal team.  Kindly explore other good first issues from the issue log. Thanks

[2022-09-09 16:22] manishkushare opened #4007 "Bug : Footer in the Home Page is not consistent with the dark theme."
### Environment
Development

### What is the expected behaviour?
The footer on the homepage should be consistent with the dark theme

### What is the current behaviour?
The footer on the homepage is not consistent with the dark theme.

### How to reproduce the issue?

1. Login into ToolJet
2. You will be redirected to Home Page.
3. Switch to a dark theme by clicking on the half moon icon in the He

[2022-09-09 16:31] #3955 closed

[2022-09-09 16:36] manishkushare opened #4008 "Bug : [ Chart widget inspector ] typo error, unwanted comma present in inspector"
### Environment
Development
### What is the expected behaviour?
There should be no typo error as a such present.

### What is the current behaviour?
In the Chart Inspector component, an unwanted comma is present, which is causing a typo error

### How to reproduce the issue?

1. Create a new application or open an existing one
2. Drag the Chart widget on the canvas from the right sidebar.
3. Click

[2022-09-10 04:52] PrasanthKumar77 opened #4011 "Unexpected behaviour when accessing parsed data from file picker with csv files"
### Version Information
1.14.0
### Environment
Docker - self host

### What is the expected behaviour?
when csv files are uploaded using file picker component and accessing the parsed data
1. Even if a column value is of multiple lines then it should be considered as single value.
2. Even if the column value is with multiple comma's then the whole value should be considered as single value

### Wh

[2022-09-10 06:57] himanshu-suman commented on #3519
Hi @shivangT ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 07:24] himanshu-suman commented on #3136
Hi @shivangT  ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 07:26] withshubh commented on #3136
Assigned this to you @himanshu-suman

[2022-09-10 07:39] vinzesiddharth29 commented on #3519
Greetings, @SagarSamtani

This issue seems to be a good initiation of my journey towards contribution to FOSS project. Could you please assign this issue to me?

[2022-09-11 20:54] venomouse commented on #229
Adding my vote to pages :-) This would be such a gamechanger for us. Having several applications that are basically one application is so messy.

[2022-09-12 03:35] ajith-k-v opened #4014 "Add Happypath spec for Text Input"
### Specify the kind of test

Cypress integration-test

### Describe the test

Add Happy path spec to verify all the positive test cases on normal flow.

[2022-09-12 03:46] ajith-k-v opened #4015 "[Bug]: All users have access to the audit_log route"
### Version Information

### Environment

    ToolJet Cloud

### What is the expected behaviour?

The `/audit_log` route is accessible for admin only.

### What is the current behaviour?

The` /audit_log` route is accessible for all users.

### Screenshots or Screencast

[Video](https://www.loom.com/share/469d0191115b4f32ac600220080a3c5c)

[2022-09-12 03:48] #3991 closed

[2022-09-12 04:05] #3907 closed

[2022-09-12 04:14] ajith-k-v opened #4016 "[Bug]: Table widget event handler modal does not move with the editor sidebar while scrolling."
### Version Information

### Environment

    ToolJet Cloud
### What is the expected behaviour?

The event handler modal should move with the sidebar.

### What is the current behaviour?
The event handler modal is not moving with the sidebar.

### How to reproduce the issue?

1. Create an application.
2. Drag and drop table widget.
3. Click on the table settings button.
4. Add an action button.
5.

[2022-09-12 04:24] #3949 closed

[2022-09-12 05:43] gondar00 opened #4017 "[Bug] Opening the widget inspector triggers an auto save call"
### Version Information
Latest
### Environment
All

### What is the expected behaviour?
Opening the widget inspector shouldn't change trigger an auto-save call

### What is the current behaviour?
Opening the widget inspector triggers an auto-save call

### How to reproduce the issue?

1. Dnd a widget ex: button
2. Click on the widget handle to open the widget inspector
3. Observe the auto-save tri

[2022-09-12 06:11] gondar00 opened #4019 "[Bug] Clicking on the header prints error in console"
### Version Information
Latest

### Environment
All

### What is the expected behaviour?
Clicking on the header should not print error

### What is the current behaviour?
Clicking on header prints console

### How to reproduce the issue?

1. Open the editor
2. Click on the header
3. Observe the developer console

### Screenshots or Screencast
https://user-images.githubusercontent.com/12490590/1895

[2022-09-12 06:32] #3963 closed

[2022-09-12 06:39] #3945 closed

[2022-09-12 06:42] #3947 closed

[2022-09-12 07:04] #3831 closed

[2022-09-12 07:30] #3912 closed

[2022-09-12 07:42] withshubh commented on #1672
This issue has been fixed.

[2022-09-12 07:42] #1672 closed

[2022-09-12 07:57] gondar00 commented on #4019
closing as fixed in #3845

[2022-09-12 07:57] #4019 closed

[2022-09-12 07:59] withshubh commented on #2902
Duplicate issue of #2634

[2022-09-12 07:59] #2902 closed

[2022-09-12 08:03] #3989 closed

[2022-09-12 08:05] withshubh commented on #3284
Hey @Brendandurkin 👋
We are working on this issue and we will let you know once it is released.

[2022-09-12 08:07] withshubh commented on #3236
Thanks for your suggestion @victor-ivanov . We will look into the ways of improving this.

[2022-09-12 08:07] #3236 closed

[2022-09-12 08:08] withshubh commented on #2987
Hey @HFolkertH 👋
We are looking into the issue and will update you soon.

[2022-09-12 08:47] #3993 closed

[2022-09-12 08:47] #3999 closed

[2022-09-12 08:47] #4000 closed

[2022-09-12 08:47] #3437 closed

[2022-09-12 08:47] #4001 closed

[2022-09-12 08:47] #4002 closed

[2022-09-12 08:47] #4003 closed

[2022-09-12 08:47] #4004 closed

[2022-09-12 08:47] #4007 closed

[2022-09-12 08:47] #4008 closed

[2022-09-12 09:04] #2649 closed

[2022-09-12 09:40] shivangT opened #4021 "[Table]: The currentData values in the inspector are not updating"
### What is the expected behavior?

After updating the table data, the `currentData` values in the inspector should be updated as well

### What is the current behavior?

The `currentData` values in the inspector are not updating

### How to reproduce the issue?

1. Visit the [link](https://app.tooljet.com/) and create a new application.
2. Drag and drop the Table widget from the widgets inventory

[2022-09-12 10:04] shivangT commented on #3996
Closing, Duplicate created

[2022-09-12 14:11] manishkushare opened #4023 "Enhancement : [ Button widget] refactor the widget"
### Environment
Development

### Proposed improvements
1. There is only a click event on the button, we can try to add more events.
2. No way to handle disable, visibility, and loading of button widget by other widgets using component-specific action.
3. Move the location of states (loading, visible, disable) from the styles tab to the properties tab in the widget inspector and make FX first
4. Ke

[2022-09-12 15:20] shivangT commented on #229
Hey @venomouse , @osevenlan

I’m sure about that. We too have been waiting for this feature eagerly. Our internal team in already looking into it. We’ll be rolling it out soon. Stay connected to get the updates.

Thanks

[2022-09-12 15:22] shivangT commented on #4011
Hey @PrasanthKumar77
Let us recreate this issue and get back to you with an update.
Thanks for pointing this out.

[2022-09-13 00:39] venomouse opened #4026 "Add Event trigger to RangePicker"
### Is your proposal related to a problem?

Currently, there is no way to trigger an event if the dates are changed on the RangePicker widget. That means that if we want to change the dates on the dashboard and reload the charts, we have to use two DatePickers.

### Describe the solution you'd like

RangePicker configuration pane should have "Events" section, just like DatePicker pane.

### Descri

[2022-09-13 05:41] shivangT commented on #4026
Hey @venomouse

I’m sure that must be a pain point. I was using rangepicker recently and had pointed out the same issue.
Let me check with the product team and fix this soon.
Thanks

[2022-09-13 11:14] shivangT commented on #3519
Hey @SagarSamtani
Any update on this? Let me know if you're stuck with something.

[2022-09-14 01:03] emidhun opened #4028 "User (or user group) with view access to an application is able to edit the app using the editor link."
### Version Information
[v1.24.0](https://github.com/ToolJet/ToolJet/releases/tag/v1.24.0)
### Environment
    ToolJet Cloud/MacOS

### What is the expected behaviour?
The user with view access to an application should not be able to access the editor page.

### What is the current behaviour?
Users with read-only permission can edit the app with the editor link, and it saves the changes when two o

[2022-09-14 08:06] #2648 closed

[2022-09-14 09:05] christophberger opened #4030 "Add SQLite as datasource"
### Is your proposal related to a problem?

No specific problem involved here.

### Describe the solution you'd like

Please add SQLite as a datasource for ToolJet. SQLite is a widespread in-app database that many tools and services use as their go-to file format. (See e.g. [Grist](getgrist.com).)

The ability to access SQLite files would greatly increase the possibilities of ToolJet.

### Describ

[2022-09-14 09:20] shivangT commented on #4030
Hello @christophberger

We’re already working on introducing SQLite on our Tooljet. We got multiple request recently.

Thanks for the suggestion, stay in loop to get an update on the same.

[2022-09-14 09:23] christophberger opened #4032 "Add CockroachDB as datasource"
### Is your proposal related to a problem?

I would like to use ToolJet with a distributed, open-source SQL database.

### Describe the solution you'd like

Please add [CockroachDB](https://github.com/cockroachdb) to the list of Database sources.

CockroachDB is a distributed SQL database compatible with the Postgres wire protocol. It

### Describe alternatives you've considered

PostgreSQL -> dif

[2022-09-14 10:27] arpitnath opened #4033 "[Bugfix] Big Query : `List tables` operations fails"
### What is the expected behaviour?
- All operations should be in working condition.
- sanitize the responses (removing any unwanted elements or attributes)

### What is the current behaviour?
- **Big Query** plugin, `List tables` operations fails, as the operation requires a **dataset ID**
- The **Read** operations return unwanted elements or attributes.

### How to reproduce the issue?

1. Add *

[2022-09-14 10:49] #3736 closed

[2022-09-14 11:02] manishkushare opened #4035 "Enhancement : [ Text input widget] refactor"
### Environment
Development

### Proposed improvements

1. Move the location of states (loading, hidden, disable) and make FX first from the styles tab to the properties tab, in a widget inspector.
 - In the current version, we don't have a loading state for the text input widget, and hidden and disable states are in the styles tab.
 - So, we can move them to the properties tab, by adding all 3 pr

[2022-09-14 11:35] shivangT commented on #2834
Hey @xiangz19

We're looking into this issue actively and resolving this soon by segregating different types of error messages and only showing the ones which are helpful for the end user.

Thanks for the suggestion

[2022-09-14 11:37] shivangT commented on #2966
Hey @kanishkpuri1987
Are you still trying to resolve this issue? Kindly let us know, and we'll fix this for you on priority.

Thanks and apologies for replying late.

[2022-09-14 11:39] shivangT commented on #2836
Hey @xiangz19
Are you trying to resolve this issue? Let us know.

Apologies for reaching out late. Thanks

[2022-09-14 11:48] shivangT commented on #4032
Hey @christophberger

Thanks for the request. Let me discuss the same with the product team and revert you with an update.

[2022-09-14 12:47] manishkushare opened #4037 "Enhancement : [ Text widget ] refactor"
### Environment
Development

### Proposed improvements

1. Move the location of states (loading, hidden, disable) and make FX first from the styles tab to the properties tab, in a widget inspector.
 - In the current version, loading, hidden, and disable states are in the styles tab.
 - So, we can move them to the properties tab, by adding all 3 props inside the properties object for the text widge

[2022-09-14 13:12] shivangT opened #4039 "[datasource]: RestApi definition is lost when data source is updated"
### What is the expected behavior?

If we add a restApi data source and create a query with params, type, and other details then adding the data source should not make the initial query settings disappear.

### What is the current behavior?

If we add a restApi data source and create a query with params, type, and other details then adding the data source again makes the initial query settings dis

[2022-09-14 15:47] jr-b commented on #3156
Hey @withshubh, I wanted to help with this, but I think it has been fixed!

Dark mode seems to apply correctly to admonitions, see [Environment variables](https://docs.tooljet.com/docs/setup/env-vars/#application-secret--required-) doc page.

<img width="881" alt="Screen Shot 2022-09-14 at 11 45 51" src="https://user-images.githubusercontent.com/8695937/190201594-a3b47df9-a72b-4212-9d59-431ab66837

[2022-09-14 17:58] akshaysasidrn opened #4040 "Tooljet images fail to work on Openshift container platform"
### Version Information
v1.24.3

### Environment
Docker - Openshift

### What is the expected behaviour?
The server should serve an operational base HTML file.

### What is the current behaviour?
The server fails to replace placeholder __REPLACE_SUB_PATH__ on frontend build files, thus resulting in improper base tag on served index.html

The errors indicate EACESS error on trying to modify the fil

[2022-09-14 19:56] GlenEaston opened #4042 "Tables Event"
Feature Request: For tables, add an event for "Cell Edited", or when there's a value in changeSet.

[2022-09-14 21:36] shivangT commented on #4042
Hey @GlenEaston

let me discuss this with this feature with the product team and get back to you.

Thanks

[2022-09-15 05:55] shivangT commented on #3147
Hey @mazkaaa

There are a few changes requested in the PR. Kindly resolve it so that we close the issue soon.

[2022-09-15 08:54] Newman1515 opened #4043 "[refactor]:"
### What area of the codebase is to be refactored?

(Write your answer here.)

### What are the potential advantages of this proposed refactoring?

(Describe the advantages here.)

[2022-09-15 09:40] PrasanthKumar77 commented on #4011
hi @shivangT
Could you let me know if there is any update on this?
Thank you.

[2022-09-15 09:41] shivangT commented on #4011
Hey
You’ll get an update by EOD.
Thanks for waiting.

[2022-09-15 10:39] mazkaaa commented on #3147
ohh sorry! will working on it!

[2022-09-15 11:25] shivangT commented on #3147
Thanks

[2022-09-15 12:06] shivangT opened #4046 "[feature]: Translation in French"
### What is the expected behavior?

Add support for French localization.

### What is the current behavior?

We don't support French localization for now

Kindly refer the doc below before proceeding with the issue.

[ToolJet Localization Guide](https://docs.tooljet.com/docs/contributing-guide/l10n)

[2022-09-15 12:36] SagarSamtani commented on #3519
@shivangT I am stuck at setup part.
Can you or Akshay connect over call ?
I have shared all possible screenshots on slack.

[2022-09-15 12:50] #4040 closed

[2022-09-15 14:48] xiangz19 commented on #2836
@shivangT，Sorry, I'm not good at front end coding.

[2022-09-15 15:17] shivangT commented on #2836
Hello @xiangz19
No worries, we will look into it and respond asap.
Thanks

[2022-09-16 06:48] #3902 closed

[2022-09-16 08:51] shah21 opened #4051 "[feature] Multiple users should be able to log in using restapi-oauth authentication"
### Is your proposal related to a problem?

Currently, the restapi plugin can only use single-user OAuth login information. So even if another user tries to run that query it will use the existing token and load prior user data

### Describe the solution you'd like

Change the plugin functionality to store and use multiple tokens according to different users.

### If the feature is approved, would

[2022-09-16 09:12] shivangT commented on #4026
Hey @venomouse

We've discussed this with the product team and assigned this to an internal team member.

Resolving this soon, stay in loop for the updates.

Thanks

[2022-09-16 11:44] exetico commented on #983
Thank you for pushing this through! Here's my notes, for people finding this on Google or simular.

I've used port `8069` for the below example as the port where Caddy is hitting ToolJet.

The part in Caddy v2 now looks like this:
[code]

My Docker-file looks like this - but **please** follow the ToolJet docs for the most updated example(s)!

[code]

The `logs`-directory could be added too, but th

[2022-09-16 11:59] exetico opened #4053 "i18n.js is not using the SUB_PATH variable, if any defined (used in reverse-proxy setups)"
### Version Information

`:latest` [tag](https://hub.docker.com/layers/tooljet/tooljet-ce/latest/images/sha256-3e70e97672cb0e9f702a3311e2fd9c3bdd643f4f48bd53cef00fd2dc8516e889?context=explore).

### Environment
Docker `tooljet/tooljet-ce:latest` behind Caddy.

### What is the expected behaviour?
i18n.js should use `SUB_PATH`  (process.env.SUB_PATH)

It looks like following files is impacted:
https

[2022-09-16 12:26] shivangT commented on #4053
Hey @exetico

Let me discuss this with the team & get back to you in sometime to resolve this.

Thanks

[2022-09-16 12:44] pateketrueke opened #4054 "[feature] Enable onUpdate event for CustomComponent"
### Is your proposal related to a problem?

Yes, I just want to run a separate query when a custom component change its data.

### Describe the solution you'd like

Configure the CustomWidget to receive events.

### Describe alternatives you've considered

None, since it's not possible otherwise.

### If the feature is approved, would you be willing to submit a PR?

Sure.

[2022-09-16 12:53] shivangT commented on #4054
Thanks @pateketrueke  🙌🏻

[2022-09-16 15:08] akshaysasidrn opened #4056 "Add capability to disable db and extension creation"
### Is your proposal related to a problem?
In some environments, tooljet server can't be given a user that has postgres CREATEDB permission.
There will be failures on app boot on dockerized env as the container entrypoint involves trying to create db and running migrations that may require CREATEDB permissions.

### Describe the solution you'd like
Make such behaviour configurable on the basis of

[2022-09-16 15:20] #4056 closed

[2022-09-16 16:35] #3307 closed

[2022-09-16 19:26] #3808 closed

[2022-09-17 11:47] withshubh commented on #3156
Hey @jr-b 👋
Thanks for the heads up. Yes, the issue has been fixed in the latest version of docusauras.
Please feel free to pick any other open `good-first-issue` or `up-for-grabs`

[2022-09-17 11:47] #3156 closed

[2022-09-18 20:26] manishkushare opened #4059 "Bug : [ Event Manager ] event manager pop-up is getting closed upon changing Event value"
### Environment
Development / Production

### What is the expected behaviour?
When event management pop-up is opened, selecting any value with select dropdown input element, pop-up should not get closed by this action. Pop-up should get closed ,only when se click outside the event management pop-up

### What is the current behaviour?
When we select any value from the select dropdown, pop-up tends

[2022-09-18 21:23] manishkushare opened #4060 "Bug : Control Component is not working inside List view widget"
### Environment
Development

### What is the expected behaviour?
We should be able to control the children's's components in the List view widget as parent Component using CSA (Component specific actions)

### What is the current behaviour?
We cannot control the component using CSA when the components are placed inside the list view widget.

### How to reproduce the issue?

1. Create a new applica

[2022-09-19 01:31] iSatVeerSingh commented on #3997
is anyone working on it?

[2022-09-19 01:34] iSatVeerSingh commented on #3917
is this issue still causing?

[2022-09-19 06:08] gondar00 commented on #2529
I had assumed that the [native support using knex](https://github.com/knex/knex/issues/2002#issuecomment-944593235) might have been required.

It looks like connection to cockroachdb can be achieved using the existing [Postgres](https://docs.tooljet.com/docs/data-sources/postgresql/) data source henceforth, closing this issue

[2022-09-19 06:08] #2529 closed

[2022-09-19 06:09] gondar00 commented on #4032
Closing as duplicate #2529

[2022-09-19 06:09] #4032 closed

[2022-09-19 06:12] gondar00 commented on #4030
Hi @christophberger, I appreciate your time and effort in suggesting new data sources, but unfortunately, SQLite is not planned to be added to the list of data sources.

[2022-09-19 06:12] #4030 closed

[2022-09-19 06:23] shivangT commented on #3997
Hey @yashdhanore
Any updates on this?

Hello @iSatVeerSingh
This issue is assigned to Yash and he is working on it. Let's wait for his response.

Thanks

[2022-09-19 06:38] shivangT commented on #3953
Hey @vishnurk6247
Any updates on the following issue?

[2022-09-19 06:42] vishnurk6247 commented on #3953
Hey @shivangT,
Sorry for causing the delay. Will create a PR for this by EOD

[2022-09-19 06:59] shivangT commented on #3953
Hello @vishnurk6247

Sure, Thanks for the update.

[2022-09-19 07:46] shivangT commented on #3917
Resolved

[2022-09-19 07:46] #3917 closed

[2022-09-19 08:23] shivangT commented on #3692
Hey @KaviiSuri
Any updates on the following issue?

[2022-09-19 08:47] shubh22 commented on #642
This issue doesn't exist anymore.

[2022-09-19 08:47] #642 closed

[2022-09-19 08:51] #3620 closed

[2022-09-19 08:59] christophberger commented on #4030
Why the sudden change of mind?

@gondar00 @shivangT

[2022-09-19 09:05] gondar00 commented on #4030
Well, post-discussion we came to a conclusion that SQLite won't make much sense if on the same container as containers might mostly be read-only + horizontal scalability is also an issue.

[2022-09-19 09:08] christophberger commented on #4030
Makes sense. It would seem that SQLite-over-GraphQL could be a suitable alternative (like, for example, [WunderBase](https://github.com/wundergraph/wunderbase)).

Thanks for clarifying.

[2022-09-19 09:28] shivangT opened #4061 "[Calendar]: Default date is not updated dynamically"
### What is the expected behaviour?

Changing the value from the editor, it must update the date in the widget.

### What is the current behaviour?

The "Default date" property is used to set a date (at day level).  it doesn’t  change if we update it from the editor. Currently, it only changes when we reload the page.

### How to reproduce the issue?

1. Visit the [link](https://app.tooljet.com/)

[2022-09-19 10:31] arpitnath opened #4062 "Improvements to Modal widget"
## Proposed Updates to the widget

- Option to trigger modal from a trigger button, javascript, and events.
- A launch/trigger button to open the modal (by default: button should be there on dropping a new modal widget)
- Add loading state to the widget
- Add Visibility (should only hide the trigger button if it's toggled on)
- Addition of two new component events: **On open** and **On close**
- A

[2022-09-19 10:56] arpitnath opened #4063 "Add `{{path}}}` when copying the absolute path of a variable from the LeftSidebar Inspector"
## Description
Currently, when we copy a variable's path from **LeftSidebar Inspector**, we get the absolute path of the node. But to resolve the **path** in any code hinter component we need to add `{{` and `}}`.

### Proposal
Copy the path with the variable templates.

[2022-09-19 12:46] yashdhanore commented on #3997
Hey! Yeah i'm still working on it

[2022-09-19 13:58] shivangT commented on #3997
Sure, thanks for the update

[2022-09-19 14:08] gondar00 opened #4065 "[Bug] Remove source map from webpack production build"
### Version Information
Latest

### Environment
All

### What is the expected behaviour?
In production mode devTool option needs to be set to `false`

### What is the current behaviour?
Currently, source-maps are being generated for production which are not required.

### Any possible solutions?
Set [devtool](https://webpack.js.org/configuration/devtool/#devtool) to false in production

<img width

[2022-09-20 04:44] #4063 closed

[2022-09-20 05:54] ajith-k-v opened #4067 "Add Happypath spec for Number Input"
### Specify the kind of test

Cypress integration-test

### Describe the test

Add Happy path spec to verify all the positive test cases on normal flow.

[2022-09-20 06:41] arpitnath opened #4068 "Stripe plugin : transform json object to form-encoded request bodies"
## Description
Stripe API accepts `form-encoded` request bodies

[code]

[2022-09-20 07:48] akshaysasidrn opened #4071 "App import create large number of idle db connections"
### Version Information
v1.25.3

### Environment
All

### What is the expected behaviour?
Doing an app import should not exhaust db pool connections.

### What is the current behaviour?
App imports creates lot of idle connections an thus halts any db queries resulting in timeouts meanwhile.
![image](https://user-images.githubusercontent.com/11629675/191194898-e2275f0e-edb7-4f43-8c48-69eedcda4558.p

[2022-09-20 11:35] exetico commented on #4053
@kavinvenkatachalam : I just noticed that some logics is also required here:
https://github.com/ToolJet/ToolJet/blob/fb2540b4d803bd8f2387f04b919a0b832839009c/frontend/src/_components/PrivateRoute.jsx#L16

Also mentioned on Slack:
https://tooljet.slack.com/archives/C01TY0ZGH6X/p1663673494826299

[2022-09-20 13:17] #4071 closed

[2022-09-20 20:29] #4065 closed

[2022-09-21 04:36] ajith-k-v opened #4076 "Add Happypath spec for Password Input"
### Specify the kind of test

Cypress integration-test

### Describe the test

Add Happy path spec to verify all the positive test cases on normal flow.

[2022-09-21 05:23] #4053 closed

[2022-09-21 05:24] shivangT opened #4077 "Action type "Generate file" not working"
### What is the expected behaviour?

When we create an action "Generate file" to download a CSV file , it should return a the data as per we entered.

### What is the current behaviour?

Presently, using "generate file" action, it downloads an empty file.

### How to reproduce the issue?

1. Visit the [link](https://app.tooljet.com/) and create a new application
2. Drag and drop the Button widget

[2022-09-21 08:31] shivangT commented on #4077
Not a bug anymore!!

[2022-09-21 08:31] #4077 closed

[2022-09-21 08:49] arpitnath opened #4079 "Feature request: Number as a cell type for Tables widgets"
## Description
Currently, we do not support **Number** as a cell type for the Table widget.

### Proposed improvements
- option to choose **Number** as a cell type along with other cell types for the Tables widget
- On edit column, the input field should only expect **Numbers**
- Data can be sorted (in ascending and descending order)
- Validations: Minimum value and maximum value

[2022-09-21 10:53] #3932 closed

[2022-09-21 12:27] withshubh opened #4081 "[docs]: Add copy paste commands in keyboard shortcuts"
### Summary

ToolJet supports copy-pasting the components using keyboard shortcuts. In the current keyboard shortcuts, it is missing.
Copy: `ctrl/cmnd + c`
Paste: `ctrl/cmnd + v`

### Issue Type

Documentation feature/update

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/tutorial/keyboard-shortcuts

### Steps to reproduce the issue

_No response_

### Additi

[2022-09-21 14:00] stepinfwd opened #4082 "Enhancements table widget"
### Describe the solution you'd like

*resizing columns lead to sorting : bug
*if filter is applied- download filtered data only : bug
*add option to change number of results per page - client side pagination
*set size of table to always full width

[2022-09-21 14:48] ighmaZ commented on #4081
@withshubh ! i would love to work on this issue

[2022-09-21 15:01] shay2442 commented on #4081
I could fix this for you!

[2022-09-21 22:04] manishkushare opened #4084 "[ Enhancement ] : Adding back button in data source manager pop-up, when data source is selected to go back to prev state"
### Is your proposal related to a problem?

In the current deployment, there is no way to go back to the previous stage when the data source is selected. Instead, we can close the entire modal by clicking the close button (X).

### How to reproduce the problem?
1. Create a new App, or existing one
2. On the left sidebar, look for the **Sources** menu and click on it. It will open a small adjacent

[2022-09-21 22:16] ashwin-acharya01 commented on #3309
Is this issue resolved? If not I would like to work on it

[2022-09-21 22:24] manishkushare opened #4086 "[ Enhancement ] : Adding localStorage support to query panel to persist size and position of panel on hard reload"
### Is your proposal related to a problem?
In the query panel component, whenever the user is  changing the size and position of the panel and opens the app in a new tab. All the changes get lost.

### How to reproduce the problem?
1 . Create a new app or, open an existing app.
2. In the editor, try to hide or open the query Manager, by clicking on either (^) up arrow or down arrow respectively.
3

[2022-09-22 05:46] #3899 closed

[2022-09-22 09:01] withshubh commented on #4081
Hey @shay2442 - Thanks for your interest in contributing to ToolJet, but this issue is already assigned to Ighmaz.

Can you please pick another issue from [here](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aup-for-grabs)?

[2022-09-22 09:04] withshubh commented on #4081
Hey @ighmaZ - You just need to document the keyboard shortcuts for copy and paste (mentioned in the description).

You'll need to clone the repo, setup the documentation locally, and then update the changes in the `keyboard-shortcuts.md` file.

[2022-09-22 10:22] ighmaZ commented on #4081
Thanks mate! Will do that

On Thu, Sep 22, 2022, 2:34 PM Shubhendra Singh Chauhan <
***@***.***> wrote:

[2022-09-22 12:58] stepinfwd opened #4093 "Table enhacement"
### Describe the solution you'd like

Implement following improvements

-  disable sorting - option to enable/disable
- hover row:  add hoveredRow event ( expose - howeveredRowId )
- on changes discarded - add event
- selectedRow - Add CSA

### If the feature is approved, would you be willing to submit a PR?
yes

[2022-09-22 19:07] manishkushare opened #4097 "[ hotfix ] : [ Table Widget ] Filter container and dropdown inside it are not scrollable"
### Version Information
v1.25.5

### Environment
All

### What is the expected behaviour?
In the Table widget, the filter container should be scrollable and the dropdown inside the same container should be scrollable as well.

### What is the current behaviour?
The filter container is not scrollable hence if we have lists of filters applied, it won't be possible to see all, as overflow is hidden.

[2022-09-22 23:21] pateketrueke opened #4099 "[bug] runQuery does not work if CustomComponent is within a modal"
### Version Information

v1.18.0 - v1.25.6

### Environment

MacOS / Linux / Docker (I tested all of them, but is not an infra issue)

### What is the expected behaviour?

Custom component should be able to run queries.

### What is the current behaviour?

I does not, if the component is in a modal, queries won't run.

### How to reproduce the issue?

1. Add a query with js-code "run" that just `a

[2022-09-23 04:56] stepinfwd opened #4101 "Steps widget while changing steps route to homepage"
### What is the expected behaviour?
To stay inside editor

### What is the current behaviour?
Routes to  homepage while while changing steps

### How to reproduce the issue?

1.Try changing steps in the widget

### Screenshots or Screencast

https://user-images.githubusercontent.com/31006028/191894287-819af216-384e-4935-bd9b-b340ce0bd071.mov

### Any possible solutions?
`          <a
            k

[2022-09-23 06:10] gondar00 opened #4102 "Add validation for max file size while uploading user avatar"
### Version Information
Latest

### Environment
All

### What is the expected behaviour?
Validation should be present for max file size for user avatar

### What is the current behaviour?
Validation is missing for max file size for user avatar

### Can you identify the location in the driver source code where the problem exists?
yes

### If the bug is confirmed, would you be willing to submit a PR

[2022-09-23 08:08] #3735 closed

[2022-09-23 09:18] antoniusanggito commented on #3577
Hello @shivangT I am interested to work on this issue as my first one. Would highly appreciate for an assignment.
Thankyou

[2022-09-23 10:24] withshubh commented on #4081
That's great!
You can check other [open issues](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aup-for-grabs) and comment on the issue that you want to take up next.

[2022-09-23 12:33] #4014 closed

[2022-09-23 15:42] pateketrueke commented on #4099
cc: @shivangT

[2022-09-23 16:12] stepinfwd commented on #4101
Sure , assigned to you @bstillword

[2022-09-23 19:13] #4033 closed

[2022-09-23 20:02] dumy opened #4106 "Can to be hide and show another components"
I can't show and hide containers after click button

or you can to help me ?

[2022-09-24 20:39] mikebarr24 commented on #3962
Hey! I would be eager to take a shot at this if it's OK.

[2022-09-25 03:28] Lokeren12 opened #4109 "Tear"
### Specify the kind of test

(Cypress integration-test)

### Describe the test

(Write your answer here.)

[2022-09-25 03:29] #4109 closed

[2022-09-25 10:56] khalatevarun commented on #2706
Hey @withshubh
I would like to take up this issue. Could you please assign it to me?

[2022-09-25 20:54] manishkushare opened #4110 "[ Enhancement ] : Calendar in date picker and range date picker components is not consistent with the dark theme"
### Environment
Development

### What is the expected behaviour?
The calendar in the date range picker and date picker should  be consistent with the dark theme

### What is the current behaviour?
The calendar in the date range picker and date picker is  not consistent with the dark theme

### How to reproduce the issue?

1. Create a new application or open an existing one.
2. Switch to the dark t

[2022-09-26 05:24] #3960 closed

[2022-09-26 05:37] #3309 closed

[2022-09-26 05:58] #3971 closed

[2022-09-26 07:31] arpitnath opened #4113 "[Table] : On Saving or discarding changes with **Show bulk update actions** toggled on, the bulk update action buttons are always displayed."
### What is the expected behaviour?
On Saving or discarding changes with **Show bulk update actions** toggled on, and table data edited, the bulk update action buttons should be hidden, and table UI should be reset.

### What is the current behaviour?
with **Show bulk update actions** toggled on and table data edited, the bulk update action buttons are always displayed.

### How to reproduce the i

[2022-09-26 08:15] #4113 closed

[2022-09-26 08:51] #4026 closed

[2022-09-26 09:35] #4037 closed

[2022-09-26 10:16] #4062 closed

[2022-09-26 10:17] #4023 closed

[2022-09-26 11:45] akshaysasidrn opened #4116 "Imported apps when opened doesn't load the latest version"
### Version Information
v1.25.6

### Environment
All

### What is the expected behaviour?
When an app is imported, the latest version of the app should be opened on the editor.

### What is the current behaviour?
The version of the app opened on the editor is random

### How to reproduce the issue?
1. Create an app with multiple versions that have data queries associated with them.
2. Export the a

[2022-09-26 12:56] sherfin94 opened #4119 "Component specific actions are not working properly inside modal"
### Version Information

### Environment

Enterprise deployment
### What is the expected behaviour?

Component specific actions for components inside a modal should work when the modal is closed and opened again.
### What is the current behaviour?

Component specific actions for components inside a modal are not working when the modal is closed and opened again.
### How to reproduce the issue?

1.

[2022-09-26 13:05] #3705 closed

[2022-09-26 13:22] arpitnath opened #4121 "Query params are not passed as slug for go-to-app action from editor"
### What is the expected behaviour?
Query params are passed as a slug for go-to-app action from the editor and viewer.
### What is the current behaviour?
On triggering `go-to-app` action with query params, opens the Tooljet app without the params as a slug.

### How to reproduce the issue?

1. Drop any widget from the widget manager (a table for example)
2. Add an event, On row selected, with acti

[2022-09-26 13:27] #4121 closed

[2022-09-26 13:32] withshubh commented on #2706
Hey @khalatevarun 👋
Sure, assigning it to you.

[2022-09-26 16:46] akshaysasidrn opened #4124 "Open app after import"
### Is your proposal related to a problem?
When importing app, the user has to then click on edit to view the app. It will be better ux to open the app directly after import is done.

### Describe the solution you'd like

Open imported app after the import is done.

### Describe alternatives you've considered

### If the feature is approved, would you be willing to submit a PR?
yes

[2022-09-27 02:03] kavinvenkatachalam opened #4126 "[BUG]: Query Definition Lost"
### Environment

ToolJet Cloud

### What is the expected behaviour?

Query definition should be displayed when the query is clicked

### What is the current behaviour?

Query definition is getting lost when I try to create a new query and click on the existing one

### How to reproduce the issue?

1. Click on create query in Query Manager
2. Click Rest API data source
3. Add https://reqres.in/api/

[2022-09-27 05:25] #4119 closed

[2022-09-27 05:33] #3311 closed

[2022-09-27 05:42] #3904 closed

[2022-09-27 05:48] #3935 closed

[2022-09-27 06:39] akshaysasidrn opened #4127 "Docker development setup fails to start server"
### Version Information
v1.26.0
### Environment

Docker development setup

### What is the expected behaviour?
Should start the server at the specified port

### What is the current behaviour?
Server fails to start at entrypoint script

### How to reproduce the issue?
Follow [documentation](https://docs.tooljet.com/docs/setup/docker)

### Screenshots or Screencast
N/A

### Please provide any trace

[2022-09-27 07:06] #4081 closed

[2022-09-27 07:48] #2827 closed

[2022-09-27 08:04] #4084 closed

[2022-09-27 08:31] #4106 closed

[2022-09-27 08:32] dumy commented on #4106
{{variables.ShowTable}}

[2022-09-27 09:19] #4124 closed

[2022-09-27 09:21] #4116 closed

[2022-09-27 10:53] #3113 closed

[2022-09-27 11:14] #2845 closed

[2022-09-27 12:21] manishkushare opened #4129 "[ Enhancement ] : [ Table widget ] introducing more filter options"
### Environment
Development

### Is your proposal related to a problem?
1. In the current deployment, In the Table widget, there are multiple options available to filter the data in the widget.
We can add more filters such as **is empty, is not empty, and does not contains.**
2. Also, contains seems not to be working for all the fields, so we need to add logic for the contains filter as well.

###

[2022-09-27 12:52] PrasanthKumar77 commented on #4011
hi @shivangT

is this issue fixed in 1.26.0 version?

we have been using the this in different applications

[2022-09-27 16:42] yashdhanore commented on #3997
Hey @shivangT Can you have a look at the pull request?

[2022-09-27 18:18] Shelly011s commented on #1673
Hello, @gondar00 I would like to work on this issue, I would like to know more about the details of the issue.

[2022-09-27 18:46] mikebarr24 commented on #4127
As per the Slack thread. It would be great if I could pick this up.

[2022-09-27 18:55] Shelly011s commented on #4110
I would like to work on this issue.

[2022-09-27 18:56] stepinfwd opened #4132 "[ Table Widget] :: Enhancements in properties"
### Describe the solution you'd like

Add following enhancements to table widget

1) option to enable/disable pagination arrows
enableNextButton (server side) -
enableBackButton (server side) -

2) Total Records (server side) - to be configurable

### If the feature is approved, would you be willing to submit a PR?
yes

[2022-09-27 19:37] akshaysasidrn commented on #4127
Please go ahead 👍🏾

[2022-09-27 21:05] manishkushare opened #4133 "[ Enhancement ] : Adding excel downloading option in Table widget"
### Environment
Development

### Is your proposal related to a problem?
In the current deployment, there is no way to download the data from the **Table widget** in  excel format.

### Describe the solution you'd like
We can add the option to  download data in excel using the xlsx package

### How to reproduce the issue?
1. Create a new application or open an existing one
2. Drag the table widget

[2022-09-28 05:29] #4061 closed

[2022-09-28 05:30] #4051 closed

[2022-09-28 05:33] #3967 closed

[2022-09-28 05:33] #3972 closed

[2022-09-28 05:38] #3913 closed

[2022-09-28 05:39] shubh22 commented on #3692
Hi @KaviiSuri any update on this?

[2022-09-28 05:45] shubh22 commented on #2837
This issue has been fixed in the latest release.

[2022-09-28 05:46] #2661 closed

[2022-09-28 05:47] shubh22 commented on #2620
This has been fixed in latest release.

[2022-09-28 05:47] #2620 closed

[2022-09-28 06:39] sherfin94 opened #4136 "Dropdown and Radio button widget are causing infinite loop"
### Version Information

### Environment

MacOS
### What is the expected behaviour?

Dropdown and Radio button should work properly
### What is the current behaviour?

They cause infinite loop
### How to reproduce the issue?

1. Add a dropdown or radio button

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-09-28 06:46] #4136 closed

[2022-09-28 06:50] #4099 closed

[2022-09-28 06:55] akshaysasidrn commented on #3431
Fixed in #4117

[2022-09-28 06:56] #3431 closed

[2022-09-28 08:24] arpitnath opened #4139 "Table: Expose active filters and add an event for filter change"
## Description
We do not expose the active filters applied on the table to the app state. And there are no events associated with the table's filter change action.

### Proposed request
Active filters should be exposed and add an event **Filter changed** which could be fired on adding or removing filters.

[2022-09-28 09:36] #4039 closed

[2022-09-28 09:36] #4126 closed

[2022-09-28 12:21] #4035 closed

[2022-09-28 17:21] manishkushare commented on #4110
Hey @Shelly011s , This issue has already been resolved by the internal team. You can find more such issues, in the Issue tab.

[2022-09-28 21:16] Shelly011s commented on #3509
hey @withshubh I am interested in solving this issue.

[2022-09-29 06:29] PrasanthKumar77 commented on #4011
may i know if this was picked for next version release?

[2022-09-29 07:08] manishkushare opened #4143 "[ hotfix ] : [ Datepicker widget ] height is not adjusting with the container height"
### Version Information
v1.26.0

### Environment
Production

### What is the expected behaviour?
The height of the Datepicker widget should be consistent with the height of its parent container.

### What is the current behaviour?
The height is not consistent with the parent container. When we increase the height of the container, the height of the widget still remains where it was earlier.

### H

[2022-09-29 07:22] #4086 closed

[2022-09-29 07:59] kavinvenkatachalam opened #4145 "[Enhancement]: Query Builder Improvements"
### Describe the solution you'd like

Following improvements are needed in the query manager,

- Toggling the query panel and adjusting the height of the query builder should be moved out of the `Editor` component. It stops the unwanted render on the app when we adjust the height or toggle the query panel
- Show a confirmation popup when there is an unsaved query in the query. Popup should be visi

[2022-09-29 08:46] akshaysasidrn opened #4147 "Ability to export versioned apps"
### Is your proposal related to a problem?
At present, there is no means to export a particular version of an app.
As the app development is done there can multiple version present and it may not be necessary to export whole of the versions created for it. Moreover as the export size increases there can be inconsistencies on import due to db timeouts.

### Describe the solution you'd like
As a use

[2022-09-29 08:46] akshaysasidrn commented on #4147
clickup: https://app.clickup.com/t/2vrm5d4

[2022-09-29 09:02] ajith-k-v opened #4148 "Unable to view the tooltip when hovering over the button widget."
### Version Information

### Environment
    ToolJet Cloud

### What is the expected behaviour?
On hovering over the button widget the tooltip should be displayed.

### What is the current behaviour?
Unable to view the tooltip when hovering over the button widget.

### How to reproduce the issue?

1. Open editor
2. Drag and drop button widget and add tooltip
3. hover over the button widget

### Sc

[2022-09-29 10:33] withshubh commented on #4011
Hey @PrasanthKumar77 👋

Thanks for following up. We still haven't released a fix for this. We will share an update on the issue once it is fixed, rest assured.

[2022-09-29 10:52] arpitnath opened #4150 "[improvements] Table - exposed active sort options and add an event"
## Description
We do not expose the sort options applied on the table to the app state. And there are no events associated with sorting the table data.

### Proposed request
Sorting options should be exposed to the app state and an event **On sorting columns** could be fired when columns are sorted.

[2022-09-29 12:05] stepinfwd opened #4153 "[ Table Widget] :: Bug : onsearch event not triggering"
### What is the expected behaviour?
Event to trigger while searching

### What is the current behaviour?
Event only triggers while pressing enter button or clicking outside

### How to reproduce the issue?

1.Add onsearch event on table widget
2.Observe above mentioned bug while searching

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-09-29 12:48] arpitnath opened #4154 "Table widget: An event should be fired when columns are editable and any cell value gets an update by the user"
### Proposed request
Proposing a new event for Table widget `On cell value changed`.
An event should be fired when columns are editable and any cell value gets an update by the user.

[2022-09-29 12:54] stepinfwd opened #4157 "[ Table widget ] :: Add event on discard changes in table widget"
### Is your proposal related to a problem?

Currently there is no event triggered on discarding changes while editing columns

### Describe the solution you'd like

Add an onCancelChanges event

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-09-30 07:18] withshubh commented on #3509
Hey @SagarSamtani 👋
Assigned this issue to you.

[2022-09-30 07:21] withshubh commented on #3509
Hey @Shelly011s 👋
Thanks for your interest. We assign issues on a first come first serve basis, can you check other open issues and pick one?
We are also participating in Hacktoberfest. Check out this blog to learn more: https://blog.tooljet.com/hacktoberfest-2022/

[2022-10-01 03:59] nihal-soni opened #4162 "Toggle Button For dark Theme"
Add Toggle Button--

What I'm asking for is that add a toggle button at right corner to change the light theme into dark theme

What is the current behaviour?
it has only light theme.
![Screenshot (46)](https://user-images.githubusercontent.com/109461841/193386538-4bfd30fd-5a46-4237-ab93-eff79e954450.png)

I hope you would like my opinion and try to improve that....

thanks....

[2022-10-01 04:24] Navaneeth-pk commented on #4162
Thanks for the suggestion. This feature is on our roadmap. Closing the issue since the website is not part of this repo.
@nihal-soni

[2022-10-01 04:24] #4162 closed

[2022-10-01 04:25] arpitnath opened #4164 "Add border color style property to Container widgets"
## Proposed feature
Option to change the border color of the container widget with the `Border color` property in the style tab.

### Description
Currently, the container widget only supports **Background color** , **Border radius**, **Visibility** and **Disable** as style definition.

<img width="821" alt="Screenshot 2022-10-01 at 9 56 46 AM" src="https://user-images.githubusercontent.com/6764517

[2022-10-01 04:52] arpitnath opened #4165 "Proposal to add border color option to Text Input widget"
## Proposed feature
Option to change and update the border color of the text input widget with the `Border color` property in the style tab.

### Description
Currently, the text input widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="616" alt="Screenshot 2022-10-01 at 10 19 24 AM" src="https://user-images.githubusercontent.com/67645175/19339

[2022-10-01 04:52] prateek565 commented on #4164
I would like to work on this issue.

[2022-10-01 04:55] arpitnath commented on #4164
Hi @prateek565, assigning the issue to you.
Please make sure to mention the issue in your PR, it will be easier for us to review and merge faster.
Thanks for contributing and happy hacking 🚀

[2022-10-01 04:55] TheLearneer commented on #4165
If it is up for grabs, I would love to work on it 🤚

[2022-10-01 04:56] arpitnath commented on #4165
Hi @TheLearneer, assigning the issue to you.
Please make sure to mention the issue in your PR, it will be easier for us to review and merge faster.
Thanks for contributing and happy hacking 🚀

[2022-10-01 05:00] arpitnath opened #4166 "Proposal to add border color option to Number Input widget"
## Proposed feature
Option to change and update the border color of the number input widget with the `Border color` property in the style tab.

### Description
Currently, the number input widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="528" alt="Screenshot 2022-10-01 at 10 23 36 AM" src="https://user-images.githubusercontent.com/67645175/1

[2022-10-01 05:03] Navaneeth-pk opened #4167 "Create a data source plugin for Amazon SES"
### Goal
Create a new datasource plugin for Amazon SES to send emails using SES API.

Operations to be supported:
- Send a text/html email.

### Implementation
Guide for building ToolJet plugins: https://docs.tooljet.com/docs/contributing-guide/tutorials/creating-a-plugin
Amazon SES SDK reference: https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/ses-examples-sending-email.html

##

[2022-10-01 05:06] Srisuma13 commented on #4166
Hi @arpitnath, I would like to work on this.

[2022-10-01 05:06] arpitnath opened #4168 "Proposal to add border color option to Password Input widget"
## Proposed feature
Option to change and update the border color of the password input widget with the `Border color` property in the style tab.

### Description
Currently, the password input widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="528" alt="Screenshot 2022-10-01 at 10 34 16 AM" src="https://user-images.githubusercontent.com/676451

[2022-10-01 05:07] anuj98 commented on #4166
Hi @arpitnath Let me know if this issue is still up for grabs. I would like to work on this. Thanks

[2022-10-01 05:07] arpitnath commented on #4166
Hi @Srisuma13, assigning the issue to you.
Please make sure to mention the issue in your PR, it will be easier for us to review and merge faster.
Thanks for contributing and happy hacking 🚀

[2022-10-01 05:11] anuj98 commented on #4168
@arpitnath I would like to work on this.

[2022-10-01 05:11] arpitnath commented on #4166
Hi @anuj98, as we assign to whoever comments first, and assigned to him/her.
You are free to explore other issues listed as [`hactoberfest`](https://github.com/ToolJet/ToolJet/labels/hacktoberfest) and will be adding more soon.

[2022-10-01 05:13] arpitnath commented on #4168
@anuj98, assigning the issue to you 😁

[2022-10-01 05:20] Abdirizaks12 commented on #4168
can i also work on it?

[2022-10-01 05:31] withshubh commented on #4168
Hey @Abdirizaks12 👋
This issue is already assigned.
You are free to explore other issues listed as [hactoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aopen+label%3Ahacktoberfest+sort%3Aupdated-desc) and will be adding more soon.

[2022-10-01 05:33] Abdirizaks12 commented on #4168
okay,thanks

[2022-10-01 05:34] withshubh opened #4169 "[localization] Translate global strings in french"
### Is your proposal related to a problem?

Add translations for global strings in french.

### Describe the solution you'd like

The strings needs to be translated:

[code]

Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributing-guide/l10n)

[2022-10-01 05:36] withshubh opened #4170 "[localization] Translate global strings in spanish"
### Is your proposal related to a problem?

Add translations for global strings in Spanish.

### Describe the solution you'd like

The strings need to be translated:

[code]

Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributing-guide/l10n)

[2022-10-01 05:38] akk312000 commented on #4169
@withshubh  I would like to contribute to this issue

[2022-10-01 05:38] akk312000 commented on #4170
@withshubh I would like to contribute to this issue

[2022-10-01 05:39] withshubh commented on #4169
Hey @akk312000 👋
Assigned it to you.

[2022-10-01 05:40] withshubh commented on #4170
Hey @akk312000 👋
Please comment on one issue at a time - we have already assigned an issue to you.

[2022-10-01 05:42] intSpartan commented on #4170
@withshubh I would like to look over this. Can you please assign this to me?
Thank You

[2022-10-01 05:44] arpitnath opened #4171 "Add background color style in text input widget"
## Proposed feature
Option to change and update the background color of the text input widget with the `Background color` property in the style tab.

### Description
Currently, the text input widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="573" alt="Screenshot 2022-10-01 at 11 13 34 AM" src="https://user-images.githubusercontent.com/676451

[2022-10-01 05:44] withshubh opened #4172 "Add on change event in Number Input Component"
### Is your proposal related to a problem?

Currently, there are no event handlers for the number Input component. We should have an event `on change` whenever value in the component is changed.

### Describe the solution you'd like

The number input configuration pane should have an "Events" section, just like other components.

Refer to this PR: https://github.com/ToolJet/ToolJet/pull/4058

[2022-10-01 05:44] rahulsunil2 commented on #2878
@stepinfwd I would love to work on this issue.

[2022-10-01 05:45] rahulsunil2 commented on #4171
@arpitnath I would love to work on this issue.

[2022-10-01 05:45] rahulsunil2 commented on #4172
@withshubh I would love to work on this issue.

[2022-10-01 05:47] arpitnath commented on #4171
Hi @rahulsunil2, assigning the issue to you.
Please make sure to mention the issue in your PR, it will be easier for us to review and merge faster.
Thanks for contributing and happy hacking 🚀

[2022-10-01 05:47] withshubh commented on #4172
Hey @rahulsunil2 👋
Assigned this to you.

[2022-10-01 05:50] shreyas20003 commented on #4171
@arpitnath  Hey , I am Shreyas . I like to Work on this issue . I am new to this platform please help me.

[2022-10-01 05:51] withshubh commented on #4171
Hey @shreyas20003 This issue is already assigned. Can you check other issues with `Hacktoberfest` tag?

[2022-10-01 05:51] withshubh commented on #4172
Hey @rahulsunil2 There is already an issue assigned to you. Please don't comment on multiple isses.

[2022-10-01 05:52] mikebarr24 commented on #4172
I'd love to work on this if that's OK.

[2022-10-01 05:52] withshubh commented on #4170
Hey @intSpartan 👋
assigned this to you.

[2022-10-01 05:53] withshubh commented on #4172
Hey @mikebarr24 👋
Sure, assigned this to you.

[2022-10-01 05:53] arpitnath commented on #4171
Hi @shreyas20003, as we assign to whoever comments first, and assigned to him/her.
You are free to explore other issues listed as [hactoberfest](https://github.com/ToolJet/ToolJet/labels/hacktoberfest) and will be adding more soon.

cc: @shubh22

[2022-10-01 05:55] withshubh opened #4173 "Add On change event in Password Input Component"
### Is your proposal related to a problem?

Currently, there are no event handlers for the Password Input Component. We should have an event `on change` whenever the value in the component is changed.

### Describe the solution you'd like

The Password Input's configuration pane should have an "Events" section, just like other components.

Refer to this PR: https://github.com/ToolJet/ToolJet/pull/

[2022-10-01 05:55] shreyas20003 commented on #4171
@arpitnath It's Okay .Thankyou for ur help

[2022-10-01 05:56] withshubh opened #4174 "Add On change event in Color Picker Component"
### Is your proposal related to a problem?

Currently, there are no event handlers for the Color Picker component. We should have an event `on change` whenever the value in the component is changed.

### Describe the solution you'd like

The Color Picker configuration pane should have an "Events" section, just like other components.

Refer to this PR: https://github.com/ToolJet/ToolJet/pull/4058

[2022-10-01 05:58] shreyas20003 commented on #4172
@withshubh Can i do this

[2022-10-01 05:59] appledora commented on #4174
Hi, please assign me this.

[2022-10-01 05:59] MohammedBajuaifer commented on #4173
Hey @withshubh, I'd love to work on this if that's OK.

[2022-10-01 06:02] withshubh commented on #4174
Hey @appledora 👋
Assigned it to you.

[2022-10-01 06:02] appledora commented on #4046
@shivangT @shubh22 I would like to do the localization for Bengali. Can you assign an issue to me?

[2022-10-01 06:03] withshubh commented on #4173
Hey @MohammedBajuaifer 👋
Assigned it to you.

[2022-10-01 06:03] Sumitmaithani commented on #4164
Hey @arpitnath I'm frontend developer and also want to contribute to this project but want ask in /frontend is built by reactjs because i can't see any public folder there like how i can run frontend code in my local machine?

[2022-10-01 06:04] withshubh commented on #4046
Hey @appledora 👋
Another issue is assigned to you already.

[2022-10-01 06:21] Srisuma13 commented on #4046
@withshubh @shivangT I would like to work on this translation task.

[2022-10-01 06:23] arpitnath opened #4177 "Add background color style in number input widget"
## Proposed feature
Option to change and update the background color of the number input widget with the `Background color` property in the style tab.

### Description
Currently, the number widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="530" alt="Screenshot 2022-10-01 at 11 51 37 AM" src="https://user-images.githubusercontent.com/67645175

[2022-10-01 06:25] Srisuma13 commented on #4166
@arpitnath Opened a PR for the above issue, https://github.com/ToolJet/ToolJet/pull/4175.

[2022-10-01 06:25] carefreeav09 commented on #4177
I would like to take this one please.

[2022-10-01 06:26] withshubh opened #4178 "Add On change event in range slider component"
### Is your proposal related to a problem?

We should have an event `on change` event handler for the range slider component whenever the value in the component is changed.

### Describe the solution you'd like

The range slider configuration pane should have an option `On change` in the events section, just like other components.

Refer to this PR: https://github.com/ToolJet/ToolJet/pull/4058

[2022-10-01 06:26] appledora commented on #4169
@withshubh I would like to do the localization task here for Bengali. Could you assign me to an issue, if that is okay with you?
Thanks!

[2022-10-01 06:26] SanjaySargam commented on #4177
Can U plz assign me ?

[2022-10-01 06:28] Srisuma13 commented on #4178
@withshubh Could you please assign this to me? I would like to work on it.

[2022-10-01 06:28] arpitnath commented on #4177
Hi @SanjaySargam,
Thanks for showing interest in contributing to ToolJet, but we have to assign the issue to the first person who expressed interest.

You can check out other open issues here: [hactoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest.)

[2022-10-01 06:29] SanjaySargam commented on #4177
Okk Thank You

[2022-10-01 06:29] arpitnath commented on #4177
Hi 👋🏻 @carefreeav09,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:30] carefreeav09 commented on #4177
Thank you. And thanks SanjaySargam for being a good sport.

[2022-10-01 06:30] withshubh opened #4179 "[localization] Translate login and signup page in French"
### Is your proposal related to a problem?

Add translations for login and signup page in French

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 38 25 PM](https://user-images.githubusercontent.com/25361949/193396042-65b0a71f-07f1-460b-a0fa-b59196dc3788.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/co

[2022-10-01 06:33] Aditya-Ambre commented on #4179
Hey @withshubh may I work on this issue ?

[2022-10-01 06:33] SanjaySargam commented on #4179
Can U plz assign me ?

[2022-10-01 06:33] anuj98 commented on #4168
Hey @arpitnath / @withshubh I am getting following error:
<img width="298" alt="image" src="https://user-images.githubusercontent.com/30874550/193396152-748c245b-f312-48fc-998a-586cdf7f951b.png">
Not able to start the server what might be the problem

[2022-10-01 06:36] withshubh opened #4180 "[localization] Translate login and signup page in Spanish"
### Is your proposal related to a problem?

Add translations for the login and signup page in Spanish

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 38 25 PM (1)](https://user-images.githubusercontent.com/25361949/193396246-d379f58c-3817-40fc-a0cf-743fd9414fa4.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.co

[2022-10-01 06:37] arpitnath opened #4181 "Add background color style in password input widget"
## Proposed feature
Option to change and update the background color of the password input widget with the `Background color` property in the style tab.

### Description
Currently, the password widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="528" alt="Screenshot 2022-10-01 at 10 34 16 AM" src="https://user-images.githubusercontent.com/6764

[2022-10-01 06:38] withshubh opened #4182 "[localization] Translate Component Manager in French"
### Is your proposal related to a problem?

Add translations for the component manager in French

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 40 23 PM](https://user-images.githubusercontent.com/25361949/193396346-b5b3f0cf-fb30-490f-969e-5fd90e684f07.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/co

[2022-10-01 06:39] arpitnath opened #4183 "Add text color style in text input widget"
## Proposed feature
Option to change and update the text color of the text input widget with the `Text color` property in the style tab.

### Description
Currently, the text input widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="616" alt="Screenshot 2022-10-01 at 10 19 24 AM" src="https://user-images.githubusercontent.com/67645175/193393088

[2022-10-01 06:39] withshubh commented on #4179
Hi @Aditya-Ambre ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:39] withshubh commented on #4179
Hi @SanjaySargam ,

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-01 06:40] somenath203 commented on #4183
Can you assign me this work please?

[2022-10-01 06:41] arpitnath commented on #4183
Hi @somenath203 ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:42] withshubh opened #4184 "[localization] Translate Component Manager in Spanish"
### Is your proposal related to a problem?

Add translations for the component manager in Spanish

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 40 23 PM](https://user-images.githubusercontent.com/25361949/193396346-b5b3f0cf-fb30-490f-969e-5fd90e684f07.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/c

[2022-10-01 06:44] withshubh opened #4185 "[localization] Translate Profile Settings Page in French"
### Is your proposal related to a problem?

Add translations for the Profile Settings Page in French

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 41 54 PM](https://user-images.githubusercontent.com/25361949/193396532-e5a922d7-d0ec-424e-b0bc-e444b240f243.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/doc

[2022-10-01 06:45] withshubh opened #4186 "[localization] Translate Profile Settings Page in Spanish"
### Is your proposal related to a problem?

Add translations for the Profile Settings Page in Spanish

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 41 54 PM](https://user-images.githubusercontent.com/25361949/193396532-e5a922d7-d0ec-424e-b0bc-e444b240f243.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/do

[2022-10-01 06:46] withshubh opened #4187 "[localization] Translate App Card in French"
### Is your proposal related to a problem?

Add translations for the App Card in French

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 43 04 PM](https://user-images.githubusercontent.com/25361949/193396625-72a1d252-9f8e-410e-8dc9-19657a6d44c6.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributin

[2022-10-01 06:47] withshubh opened #4188 "[localization] Translate App Card in Spanish"
### Is your proposal related to a problem?

Add translations for the App Card in Spanish

### Describe the solution you'd like

The strings need to be translated:

![Screenshot 2022-09-30 at 3 43 04 PM](https://user-images.githubusercontent.com/25361949/193396625-72a1d252-9f8e-410e-8dc9-19657a6d44c6.png)

**Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributi

[2022-10-01 06:49] Srisuma13 commented on #4181
Hi @arpitnath, I would like to work on this :)

[2022-10-01 06:50] arpitnath opened #4189 "Add text color style in number input widget"
## Proposed feature
Option to change and update the text color of the number input widget with the `Text color` property in the style tab.

### Description
Currently, the number input widget only supports **Border radius**, **Visibility**, and **Disable** as style definitions.

<img width="528" alt="Screenshot 2022-10-01 at 10 23 36 AM" src="https://user-images.githubusercontent.com/67645175/19339

[2022-10-01 06:50] arpitnath commented on #4181
Hi @Srisuma13 ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:55] danielevilela commented on #4189
Can I work on this one?

[2022-10-01 06:55] arpitnath commented on #4189
Hi @danielevilela ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:56] withshubh commented on #4169
Hey @appledora - The issue https://github.com/ToolJet/ToolJet/issues/4174 is already assigned to you.

[2022-10-01 06:56] Srisuma13 commented on #4181
@arpitnath Thanks for assigning!

[2022-10-01 06:57] Azanul commented on #4180
I'd like to work on this

[2022-10-01 06:57] stepinfwd commented on #2878
closing this as it doesn't  exist now

[2022-10-01 06:57] #2878 closed

[2022-10-01 06:57] withshubh commented on #4178
Hi @Srisuma13 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:59] Ambareen09 commented on #4186
Please assign this to me

[2022-10-01 06:59] aloks98 commented on #4167
I can work on this. Can you please assign this to me?

[2022-10-01 06:59] withshubh commented on #4180
Hi @Azanul 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 06:59] withshubh commented on #4186
Hi @Ambareen09 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 07:01] arpitnath commented on #4178
@Srisuma13 There is an issue already assigned to you.
Please resolve the assigned one first and then get a new issue assigned to yourself 😁

Thanks for contributing! Happy hacking 🚀
cc: @withshubh

[2022-10-01 07:01] withshubh commented on #4167
Hey @aloks98 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 07:07] Srisuma13 commented on #4178
Raised a [PR](https://github.com/ToolJet/ToolJet/pull/4190)  for it @arpitnath @withshubh. Is it fine if I could take this up now?

[2022-10-01 07:08] arpitnath commented on #4178
@Srisuma13 Sure 😁

[2022-10-01 07:14] Sujithkumardola commented on #4188
i would like to take up this issue

[2022-10-01 07:16] withshubh commented on #4188
Hey @Sujithkumardola 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 07:28] vedant-z commented on #4187
Hey @withshubh

I want to take this issue

[2022-10-01 07:30] withshubh commented on #4187
Hey @vedant-z 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 07:35] varun7singh commented on #4184
assign it to me please

[2022-10-01 07:36] appledora commented on #4169
Yes, I will clear that PR first, then :D

[2022-10-01 07:37] withshubh commented on #4184
Hey @varun7singh 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 07:39] Shelly011s commented on #4185
I would like to work on this.

[2022-10-01 07:50] Zunaid24 commented on #4182
I'd like to work on this issue.

[2022-10-01 07:52] varun7singh commented on #4184
do i need to make a new es.json file with only widget manager in spanish

[2022-10-01 08:17] Sujithkumardola commented on #4188
@withshubh could you please look at this [repo](https://github.com/Sujithkumardola/ToolJet/tree/feature/support-for-spanish)

[2022-10-01 08:38] vedant-z commented on #4187
If I am not wrong in **frontend/assets/translations/fr.json** file I need to just translate the strings i.e.  "Change Icon, Add to folder...." leaving their respective variable names unchanged

Am I on the right track?

[2022-10-01 08:40] SupOrg commented on #4188
the translations that you have added are not correct... I say this as a native Apanish speaker. If you want me to fix them, mention me and I can work on it :)

[2022-10-01 09:03] prateek565 commented on #4164
hi @arpitnath i have done changes in container.jsx as mentioned in reference but im unable to find components.js file in  repo which is shown in reference .can you please help.

[2022-10-01 09:10] Sujithkumardola commented on #4188
@withshubh Could you please assign him this issue.

Since I'm not a native speaker my translations could be wrong.

[2022-10-01 09:15] rahulsunil2 commented on #4171
@arpitnath I have added this feature and posted a PR #4194. Please take a look at it.

[2022-10-01 09:50] arpitnath commented on #4188
@SupOrg Would you like to work on this issue as @Sujithkumardola won't be working on it?

[2022-10-01 09:55] arpitnath commented on #4185
Hi @Shelly011s ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 09:57] arpitnath commented on #4182
Hi @Zunaid24,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 09:59] rahulsunil2 opened #4197 "Docker: The Server Container Keeps Shutting Down."
### Environment
Docker

### What is the expected behaviour?
The server getting deployed properly

### What is the current behaviour?
The server container keeps shutting down.

### Screenshots or Screencast
![image](https://user-images.githubusercontent.com/22911414/193403956-57039203-5f1d-47af-80da-fb089d2b1542.png)

### Can you identify the location in the driver source code where the problem exi

[2022-10-01 10:03] arpitnath commented on #4197
@rahulsunil2
can you share the logs pls?

[2022-10-01 10:07] rahulsunil2 commented on #4197
![image](https://user-images.githubusercontent.com/22911414/193404219-c84dc8c1-f066-4ef2-ab63-c4688ec551a3.png)
I have figured a fix, Can I post a PR for that?

[2022-10-01 10:09] arpitnath commented on #4168
@anuj98 Can you share the logs?
You can follow the setup guide for docker from [here](https://docs.tooljet.com/docs/contributing-guide/setup/docker)

[2022-10-01 10:14] arpitnath commented on #4197
ref: https://github.com/ToolJet/ToolJet/issues/4127

[2022-10-01 10:14] #4197 closed

[2022-10-01 10:17] rahulsunil2 commented on #4197
@arpitnath I'm sorry, I was facing this issue when I was working on a different issue and I fixed it for that. Can you please merge the PR posted before and fix this issue?

[2022-10-01 10:17] Sujithkumardola commented on #4188
@arpitnath I would like to contribute to the localization of Hindi And Telugu if Possible

[2022-10-01 10:22] arpitnath commented on #4197
@rahulsunil2 Yeah will merge it as soon as possible.
Thank you 😅

[2022-10-01 10:25] arpitnath commented on #4197
@rahulsunil2
For the time being, can you just update the shebang and carry on with your issue?
Just don't commit the `entryfile.sh`
Thanks 😁

[2022-10-01 10:27] arpitnath commented on #4168
@anuj98
For the time being,

[2022-10-01 10:29] rahulsunil2 commented on #4197
@arpitnath Sure, Thanks 👍

[2022-10-01 10:31] #4127 closed

[2022-10-01 10:36] arpitnath commented on #4197
@rahulsunil2 Resolved!

[2022-10-01 10:37] arpitnath commented on #4046
@Srisuma13 assigning the issue to you 😅

[2022-10-01 10:41] arpitnath commented on #4188
Hi @Sujithkumardola,
Thanks for showing interest in contributing to ToolJet.
Localization support for Hindi and Telugu is not in our roadmap.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

Thanks 😅

[2022-10-01 10:45] BabbarRaghav commented on #878
can you please assign me this?

[2022-10-01 10:54] Srisuma13 commented on #4046
Thanks for assigning @arpitnath!

[2022-10-01 10:55] TriJayDore commented on #2895
I would like to contribute please assign under my name

[2022-10-01 11:08] Srisuma13 commented on #4046
@arpitnath Just noticed that this issue is broken down into smaller subtasks - https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+french.
This would be redundant I believe. Let me know what you would suggest.

[2022-10-01 11:26] MLeissner opened #4200 "Dashboard is empty"
When i start tooljet, the dashboard is empty, but on the console there are two errors

### Environment

    ToolJet Docker / Synology

### What is the expected behaviour?

  Tooljet should start with a functional dashboard

### What is the current behaviour?

  Tooljet starts with an empty dashboard and on the console there are two errors

### How to reproduce the issue?

1. Start Tooljet
2. Dashb

[2022-10-01 11:33] najeebkp commented on #2633
Hi @Nandinisaha13 @shubh22 i would like to work on this. please assign me this taks.

[2022-10-01 11:45] Srisuma13 commented on #1817
@withshubh @shubh22 Can I pick this up? I would like to work on this.

[2022-10-01 13:00] arpitnath commented on #4046
@Srisuma13 Thanks for addressing, and closing this issue

[2022-10-01 13:00] #4046 closed

[2022-10-01 13:05] arpitnath commented on #2633
Hi @najeebkp,
Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 13:08] navyansh007 commented on #4189
Hello, I am eager to work on this issue

[2022-10-01 13:35] arpitnath commented on #4164
@Sumitmaithani You can follow the docs for setting up ToolJet locally and also about the architecture [here]( https://docs.tooljet.com/docs/category/contributing-guide)

[2022-10-01 13:38] arpitnath commented on #4164
Hi @prateek565, that pull request was just for reference. As we recently migrated the file to `widgetConfig.js`, path: `/ToolJet/frontend/src/Editor/WidgetManager/widgetConfig.js`

[2022-10-01 13:48] exitflynn commented on #4188
Hello there! :wave:
I'd love to take up this issue if no one's working on it!

[2022-10-01 14:02] arpitnath opened #4204 "Text input widget: Option to customise the error message styles for validations"
## Proposed improvement
Option to customise the error message styles for validation.

Currently, the error message color is red.
<img width="208" alt="Screenshot 2022-10-01 at 7 26 43 PM" src="https://user-images.githubusercontent.com/67645175/193413005-03b0919f-0e48-4e6c-ade6-1d281dcd907d.png">

**Proposed improvement is the ability to change the color of the error message.**

[2022-10-01 14:07] arpitnath opened #4206 "Password input widget: Option to customise the error message styles for validations"
## Proposed improvement
Option to customise the error message styles for validation.

Currently, the error message color is red.
<img width="202" alt="Screenshot 2022-10-01 at 7 35 59 PM" src="https://user-images.githubusercontent.com/67645175/193413361-9c3ad743-d335-4cfd-bb91-eba80f7edd3a.png">

**Proposed improvement is the ability to change the color of the error message.**

[2022-10-01 14:08] andreaevolo commented on #4204
I'll take care of that !

[2022-10-01 14:09] arpitnath commented on #4204
Hi @andreaevolo ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 14:09] deepanshumidha5140 commented on #2245
Hey can I work on this issue

[2022-10-01 14:12] MuhammadAakash commented on #4206
Hi @arpitnath .
You mean that the user has the ability to change the color of the error message.

[2022-10-01 14:14] arpitnath commented on #4206
Hi @MuhammadAakash ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 14:17] MuhammadAakash commented on #4206
Sure @arpitnath
I am joining slack after it I will start working on it.

[2022-10-01 14:18] arpitnath opened #4207 "Text widget: Default value for background color"
## Proposed improvement
Add default value for background color
Default value: **#fff00000**

[2022-10-01 14:20] appledora opened #4208 "`tooljet-plugins-1` container fails to start"
### Version Information

### Environment

*Docker* : 20.10.18
*Docker Desktop* : 4.12.0
*Linux* : Pop!_OS 22.04 LTS x86_64
*Shell* : zsh 5.8.1
### What is the expected behaviour?

After doing `docker compose up`, 4 containers are supposed to be running :
1. tooljet-server-1
2. tooljet-client-1
3. tooljet-plugins-1
4. tooljet-postgres-1
![image](https://user-images.githubusercontent.com/27975232/19

[2022-10-01 14:21] arpitnath opened #4209 "Text widget: Default value for text color"
## Proposed improvement
Add default value for text color
Default value: **#000000**

[2022-10-01 14:21] appledora commented on #4208
@withshubh

[2022-10-01 14:23] laurisseau commented on #4207
Hey, can I work on this?

[2022-10-01 14:24] arpitnath commented on #4208
@appledora
Can you pull the latest **develop** and try once again?
Reference https://github.com/ToolJet/ToolJet/issues/4127

[2022-10-01 14:26] arpitnath commented on #4207
Hi @laurisseau ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 14:27] PrabeshPP commented on #4209
Hey! I am interested in this issue .Can you assign me ?

[2022-10-01 14:28] arpitnath commented on #4209
Hi @PrabeshPP,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-01 14:28] appledora commented on #4208
Yeah, checked the changes in the merged commit. Works now. Should it still get mentioned in the contributors guideline?

[2022-10-01 14:32] PrasanthKumar77 opened #4210 "Need log of changes happened in versions"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

[2022-10-01 14:34] laurisseau commented on #4207
where is the CSS file

[2022-10-01 14:36] arpitnath commented on #4207
@laurisseau
Add `backgroundColor: { value: '#fff00000' }` in widgetConfig.js
Line: 1841

[2022-10-01 14:38] laurisseau commented on #4207
ok

[2022-10-01 14:41] PrasanthKumar77 opened #4211 "Need deployment flow from one stage to another"
### Is your proposal related to a problem?

Need to separate app changes between stages. currently if i wanted to make some changes and test with beta creds i am taking a new version and updating all sources creds and after changes i am taking a new version and replacing all prods creds. this is a tedious process and error prone.

### Describe the solution you'd like

apps should have stages and c

[2022-10-01 14:45] PrasanthKumar77 opened #4213 "Queries and source creds can be changed in published version"
### Version Information

### Environment
Docker

### What is the expected behaviour?
queries and source creds should not be allowed to change like how it is handled for ui changes

### What is the current behaviour?
queries can be changed and a mistake in updation of query is leading to issues

### How to reproduce the issue?

1. create a app
2. add some queries and database source
3. publish the

[2022-10-01 15:01] PrasanthKumar77 opened #4214 "Query is missing when version is published or new version is created"
### Version Information

### Environment
 Docker

### What is the expected behaviour?
queries should persist and should not disappear

### What is the current behaviour?
when a version is published or new vesion is released the first query is getting disappeared and asking for confirmation that `query is changed. do you want to save` in reality i have not made any changes. if i accidentally click

[2022-10-01 15:04] PrasanthKumar77 opened #4215 "Need to support console.log statement to debug when previewing a query"
### Is your proposal related to a problem?

when i want to debug a query or check the flow of execution of a js function i have to use return to check the value but i couldnt log the values and because of that i am spending a lot of time in writing js function and debugging when something went wrong

### Describe the solution you'd like

the js function editor should support console.log and previe

[2022-10-01 15:07] PrasanthKumar77 opened #4216 "Need python functions support to manipulate data"
### Is your proposal related to a problem?

when i want to write any validations i am facing a lot of trouble since it is just like text editor and js is not my cup of tea.

### Describe the solution you'd like

It would be great addition if you can support functions with python runtime

[2022-10-01 15:18] PrasanthKumar77 opened #4217 "Need forms like support"
### Is your proposal related to a problem?

i am building form like apps and publishing it to users. but i am missing the features like on clicking submit all the form data thats filled so far should be disappeared like how it is in google forms. because of it i have to write js funcs which will clear all existing components data or else users are clicking on submit button twice by mistake and dup

[2022-10-01 15:58] arpitnath commented on #4208
Awesome 👍🏻
Closing the issues!

[2022-10-01 15:58] #4208 closed

[2022-10-01 16:26] anuj98 commented on #4168
These are the logs:
<img width="766" alt="image" src="https://user-images.githubusercontent.com/30874550/193418895-ed884d8f-8a9a-430e-af77-2f1bc18c4f0b.png">

Also I updated the entrypoint.sh as mentioned it didn't work

[2022-10-01 17:10] saimaheshtaduri commented on #4059
The issue seems interesting, can I contribute to this as part of hacktoberfest? @manishkushare

[2022-10-01 17:11] Navaneeth-pk commented on #4216
Thanks for the suggestion but this will not possible with our current architecture easily.

[2022-10-01 17:11] #4216 closed

[2022-10-01 17:15] saimaheshtaduri commented on #3211
@ajith-k-v  can I contribute to this as part of hacktoberfest ? assign to me. Thanks :)

[2022-10-01 17:37] kaggrwal commented on #2895
@withshubh Can you assign this issue to me ?

[2022-10-01 20:39] vedant-z commented on #4188
@withshubh May I work on this please

[2022-10-01 21:16] exitflynn commented on #4188
could you check the above PR please?

[2022-10-01 22:30] daniloff200 commented on #2634
I would like to pick this one !

[2022-10-01 23:59] ishani-1255 commented on #4206
Hi @arpitnath, is there some beginner issue available to work on.

[2022-10-02 04:49] dmdbilal commented on #4209
I want to work on this issue.

[2022-10-02 05:07] dmdbilal commented on #4183
I want to work on this issue.

[2022-10-02 05:09] dmdbilal commented on #4183
Which color(color code) do i need to update ?

[2022-10-02 05:10] vedant-z commented on #4209
@dmdbilal I think if someone has already been assigned this issue, you can't make PR for this one.

This is upto my knowledge regarding ToolJet's guidelines.

[2022-10-02 05:11] Navaneeth-pk commented on #4183
@dmdbilal The issue has an assignee, please work only on issues that are assigned to you.

[2022-10-02 05:12] dmdbilal commented on #4209
Can you assign me this issue.

[2022-10-02 05:13] Navaneeth-pk commented on #4209
@dmdbilal please do not spam by commenting on issues that are assigned to someone else and by creating PRs for issues on which others are working on.

[2022-10-02 05:16] dmdbilal commented on #4209
Ok sorry

[2022-10-02 05:20] dmdbilal commented on #4188
Is this issue still open?

[2022-10-02 05:23] dmdbilal commented on #4183
Can i work on this issue now?

[2022-10-02 06:36] SupOrg commented on #4188
@arpitnath yes, i would love to work on this one :) The translation from @exitflynn still not correct. Please assign it to me

[2022-10-02 06:39] najeebkp commented on #2633
Hi @arpitnath ,
I'm not able to setup the repo in my local. I'm sorry. you can assign this issue to someone else.
Thanks.

[2022-10-02 07:36] prateek565 commented on #4164
Hi @arpitnath i have done it please review 😊.

[2022-10-02 08:34] utkershrajvenshi commented on #2633
Hi @arpitnath . I'd like to work on this one. Could you please assign this issue to me?

[2022-10-02 08:42] Roaster05 opened #4226 "Customizing the Toast notification for different pages"
### Is your proposal related to a problem?

I am too much bored with the same toast notification floating on every website.
### Describe the solution you'd like

I can customize the Toastify notification according to the need for the site each time a success ,warn or error notification has to be pushed.
### Describe alternatives you've considered

### If the feature is approved, would you be willi

[2022-10-02 08:46] kaggrwal commented on #3576
@shivangT Can you assign this issue to me, let me take a look at this.

[2022-10-02 09:39] arpitnath commented on #2633
@najeebkp, For setup you can follow https://docs.tooljet.com/docs/contributing-guide/setup/docker/
If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-02 09:40] arpitnath commented on #2633
Hi, @username,
Thanks for showing interest in contributing to ToolJet. Since @najeebkp unassigned himself the issue, we've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-02 11:09] Architsharma7 commented on #4183
Hey, I would love to work on this issue, can you assign it?

[2022-10-02 11:33] rahulsunil2 commented on #4183
Can I work on this issue?

[2022-10-02 13:16] trishitapingolia commented on #4183
Can you assign me this?

[2022-10-02 15:10] KarthickSakthi commented on #4183
Can I work on this?

[2022-10-02 15:33] Elegidoadedo commented on #4188
Hey! i created a PR for the spanish translation card keys.  Since is not yet assigned i just make the PR.
Regards :)

https://github.com/ToolJet/ToolJet/pull/4229

[2022-10-02 15:37] Navaneeth-pk commented on #4188
Thanks but there is already another PR for this issue. Also please work only on issues that are assigned to you. Since there are two PRs already, we will take a look and merge the one that's more accurate in this case.
@Elegidoadedo

[2022-10-02 15:57] Elegidoadedo commented on #4170
Hey! the trnaslations are not correct, some keys like save is not "ahorrar" ( as saving money), this save is related to save data so should be  "Guardar". Another point the isocode for spanish is not sp is "es" .

I added theses changes in this PR -> https://github.com/ToolJet/ToolJet/pull/4230

[2022-10-02 16:32] MihirShinde-29 commented on #4183
Hey, I would like to work on this issue, can you assign it to me?

[2022-10-02 18:04] Anshumansengar commented on #4185
Hey, I would Like to work on this issue too.

[2022-10-02 19:10] iamakhileshmishra commented on #2895
I would love to contribute in this issue please assign this to me.

[2022-10-02 19:27] Elegidoadedo commented on #4183
Hello! I would like to work on this issue too

[2022-10-03 02:41] harshit-dugar commented on #4181
Hi is this issue resolved? @arpitnath

[2022-10-03 02:44] harshit-dugar commented on #4215
Can I work on this issue? @PrasanthKumar77

[2022-10-03 02:53] harshit-dugar commented on #4183
Can I work On it @Navaneeth-pk

[2022-10-03 04:46] shubh22 commented on #4214
Hi @PrasanthKumar77 ,
What is the version for your ToolJet instance?

[2022-10-03 05:39] ajith-k-v commented on #3147
This issue no longer exists.

[2022-10-03 05:39] #3147 closed

[2022-10-03 05:46] arpitnath opened #4233 "On hovering the Link widget, a tooltip should be displayed"
### Version Information

### Environment
The latest `develop`

### What is the expected behaviour?
On hovering the widget, a tooltip should be displayed if a tooltip is provided in the widget inspector.

### What is the current behaviour?
With a tooltip provided, on hover, there is no tip that is being displayed

### How to reproduce the issue?

1. Add Link widget from widget manager
2. Click on t

[2022-10-03 05:52] arpitnath opened #4234 "Remove duplicate code from codebase"
## Description
Remove duplicate **onHover** events from `appUtils.js`

Source: `frontend/src/_helpers/appUtils.js` ~ **Line 487**

[2022-10-03 05:55] unnikrishnan2002 commented on #4234
Can I do that ?

[2022-10-03 05:57] AnkushGoel251 commented on #4234
I have been looking to contribute in hacktoberfest, assign this to me.

[2022-10-03 05:57] PaarthAgarwal commented on #4234
Please assign it to me

[2022-10-03 05:58] PaarthAgarwal commented on #4233
Assign it to me please

[2022-10-03 05:59] ajith-k-v opened #4235 "Clear input field after creating a group."
### Version Information

### Environment
    ToolJet Cloud

### What is the expected behaviour?

It should clear the input field after creating a group.

### What is the current behaviour?
It is not clearing the input field after creating a group.

### How to reproduce the issue?

1. Select Manage groups
2. Create a group
3. Click on Create new group button

### Screenshots or Screencast
[Video](h

[2022-10-03 06:03] arpitnath commented on #4234
Hi @AnkushGoel251 and @PaarthAgarwal,

Thanks for showing interest in contributing to ToolJet but we have to assign the issue to the first person who expressed interest.

You can check out other open issues here: [hacktober issues](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-03 06:04] arpitnath commented on #4234
Hi @unnikrishnan2002 ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 06:07] arpitnath commented on #4059
Hi @saimaheshtaduri ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 06:09] PaarthAgarwal commented on #4234
All good. Found another open issue😄

[2022-10-03 06:17] arpitnath opened #4237 "On hover, the background color of the button widget should be 15-20% darker than the baseline provided."
### Version Information

### Environment
Latest `develop`

### What is the expected behaviour?
On hover, the background color of the button widget should be 15-20% darker than the baseline provided.

### What is the current behaviour?
On hover, the background color of the widget turns transparent.

### How to reproduce the issue?

1. Drop a Button widget to the editor
2. Hover on the widget

### S

[2022-10-03 06:19] PaarthAgarwal commented on #4237
Please assign it to me

[2022-10-03 06:31] arpitnath opened #4238 "Layout accordion of widget inspector in Chart widget should be open by default"
### What is the expected behaviour?
Layout accordion of widget inspector in Chart Component should be open by default

### What is the current behaviour?
By default, it is closed.

### How to reproduce the issue?

1. Drop a Chart widget
2. Open the widget inspector
3. On the property tab, the Layout accordion is closed by default

ref: https://github.com/ToolJet/ToolJet/pull/4024/files#diff-56125a

[2022-10-03 06:32] PaarthAgarwal commented on #4238
I'd like to work on it. Please assign it to me

[2022-10-03 06:32] arpitnath opened #4239 "Layout accordion of widget inspector in Custom widget should be open by default"
### What is the expected behaviour?
Layout accordion of widget inspector in Custom Component should be open by default

### What is the current behaviour?
By default, it is closed.

### How to reproduce the issue?

1. Drop a Custom widget
2. Open the widget inspector
3. On the property tab, the Layout accordion is closed by default

ref: https://github.com/ToolJet/ToolJet/pull/4024/files#diff-5612

[2022-10-03 06:33] arpitnath opened #4240 "Layout accordion of widget inspector in Table widget should be open by default"
### What is the expected behaviour?
Layout accordion of widget inspector in Table Component should be open by default

### What is the current behaviour?
By default, it is closed.

### How to reproduce the issue?

1. Drop a Table widget
2. Open the widget inspector
3. On the property tab, the Layout accordion is closed by default

ref: https://github.com/ToolJet/ToolJet/pull/4024/files#diff-56125a

[2022-10-03 06:33] PaarthAgarwal commented on #4239
I want to work on it. Assign it to me please

[2022-10-03 06:34] withshubh commented on #4184
Correct. @varun7singh

[2022-10-03 06:34] PaarthAgarwal commented on #4240
I'd like to work on it. Please assign it to me

[2022-10-03 06:34] arpitnath commented on #4238
Hi @PaarthAgarwal ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 06:35] withshubh commented on #4187
Correct @vedant-z

[2022-10-03 06:36] arpitnath opened #4241 "Events accordion of widget inspector in Table widegt should be open by default"
### What is the expected behaviour?
Events accordion of widget inspector in Table Component should be open by default

### What is the current behaviour?
By default, it is closed.

### How to reproduce the issue?

1. Drop a Table widget
2. Open the widget inspector
3. On the property tab, the Events accordion is closed by default

ref: https://github.com/ToolJet/ToolJet/pull/4024/files#diff-56125a

[2022-10-03 06:36] vedant-z commented on #4187
@withshubh I have made PR
Please check it

[2022-10-03 06:37] PaarthAgarwal commented on #4241
Hi. Assign this issue to me please

[2022-10-03 06:42] arpitnath opened #4242 "The default text color value should be set to `#000` for table widget"
### Version Information

### Environment
Latest `develop`

### What is the expected behaviour?
The default text color value should be set to `#000` when table is dropped for the first time.

### What is the current behaviour?
The default value is not set for the text color style definition.

### How to reproduce the issue?

1. Drop a Table widget to the editor
2. Open the widget inspector and navi

[2022-10-03 06:43] PaarthAgarwal commented on #4242
Please assign it to me

[2022-10-03 06:44] kushal-gopal commented on #4242
Can I take this up, thanks!

[2022-10-03 06:47] arpitnath opened #4243 "The default text color value for the button widget"
### Version Information

### Environment
Latest `develop`

### What is the expected behaviour?
The default text color value for the button widget should be set to `#fff`

### What is the current behaviour?
The default value is not set for the text color style definition.

### How to reproduce the issue?

1. Drop a Button widget into the editor
2. Open the widget inspector and navigate to the **sty

[2022-10-03 06:48] withshubh commented on #2895
Hey @TriJayDore 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 06:48] arpitnath opened #4244 "The default loader color value for the button widget should be set to `#fff`"
### Version Information

### Environment
Latest `develop`

### What is the expected behaviour?
The default loader color value for the button widget should be set to `#fff`

### What is the current behaviour?
The default value is not set for the loader color style definition.

### How to reproduce the issue?

1. Drop a Button widget into the editor
2. Open the widget inspector and navigate to the *

[2022-10-03 06:49] withshubh commented on #2895
Hi @kaggrwal and @iamakhileshmishra 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-03 06:51] Rahul-Palahwat commented on #4244
Hey @arpitnath i would love to work on this issue , can you assign this issue to me

[2022-10-03 06:51] Aman0786-git commented on #4244
Can you assign this issue to me

[2022-10-03 06:52] Aman0786-git commented on #4243
Can you assign this to me

[2022-10-03 06:53] arpitnath opened #4245 "The default marker color value for the chart widget should be set"
### Version Information

### Environment
Latest `develop`

### What is the expected behaviour?
The default marker color value for the chart widget should be set to `#CDE1F8`

### What is the current behaviour?
The default value is not set for the loader color style definition.

### How to reproduce the issue?

1. Drop a Chart widget into the editor
2. Open the widget inspector and navigate to the

[2022-10-03 06:54] withshubh commented on #985
Hey @saimaheshtaduri

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 06:54] PaarthAgarwal commented on #4245
Assign it to me please

[2022-10-03 06:56] kushal-gopal commented on #4245
Let me know if I can this up, thanks!

[2022-10-03 07:04] arpitnath commented on #4245
Hi @kushal-gopal ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 07:06] PaarthAgarwal commented on #4245
I commented earlier btw😅

[2022-10-03 07:06] arpitnath commented on #4245
@PaarthAgarwal You already have issue #4238  assigned to yourself. Please raise a PR for the same first and then pick new issues.
Thanks 😅

[2022-10-03 07:09] withshubh commented on #4185
Hi @Anshumansengar ,

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-03 07:09] arpitnath commented on #4244
Hi @Aman0786-git ,
Thanks for showing interest in contributing to ToolJet but we have to assign the issue to the first person who expressed interest.

You can check out other open issues here: https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest.

@Rahul-Palahwat Hello, assigning the issue to you.

If you have any questions related to setting up ToolJet, feel free

[2022-10-03 07:10] ShaunThayil commented on #4235
Hey @arpitnath I would like to work on this issue

[2022-10-03 07:12] arpitnath commented on #4243
Hi @Aman0786-git ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 07:14] PaarthAgarwal commented on #4242
Opened a PR for same

[2022-10-03 07:15] Rahul-Palahwat commented on #4244
Thanks @arpitnath for assigning the issue , and i am on it

[2022-10-03 07:15] ABHISHEK-PANDEY2 commented on #4244
from what i can experience , the button already has the default textColor as white(#fff), do you want the background color to change ?

[2022-10-03 07:15] PrasanthKumar77 commented on #4215
@harshit-dugar
i am not the right person to answer you question

[2022-10-03 07:16] withshubh commented on #4242
Hey @PaarthAgarwal 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you because you commented first but from the next time please don't create the PR unless the issue is assigned to you. This might lead to adding `spam` or `invalid` tag on the PR which will affect your Hacktoberfest contributions.

If you have any questions related to setting up ToolJet, feel

[2022-10-03 07:17] withshubh commented on #4242
Hey @kushal-gopal 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-03 07:19] iamakhileshmishra commented on #4237
I would love to contribute in this please assign this to me @arpitnath

[2022-10-03 07:22] alammoiz commented on #4240
Hi, Can you please assign to me @arpitnath ?

[2022-10-03 07:22] abhishek-goswamii commented on #4235
hey @arpitnath, is anyone working on this bug?
can you share some references on how to get started with tooljet enviroment

[2022-10-03 07:24] PrasanthKumar77 commented on #4214
hi  @shubh22,
i am currently using 1.14.0 but the issue can be reproduced in latest version also.

[2022-10-03 07:26] PaarthAgarwal commented on #4245
I've opened two prs. Please assign further new issues to me. Thanks!

[2022-10-03 07:28] PaarthAgarwal commented on #4239
This issue appears similar to the one I submitted a PR earlier. Let me know if that's the right way and I'll do the same for it too

[2022-10-03 07:31] Akash-Raj-ST commented on #4241
@arpitnath I would like to work on this issue can you please assign it to me?

[2022-10-03 07:35] PaarthAgarwal commented on #4242
Thanks. I'll keep that in mind. I don't create any PR unless I am assigned to that issue or I haven't been the first commentor

[2022-10-03 07:38] arushmangal commented on #4179
Hey, in case the person to whom the issue is already assigned is unable to solve the issue, I would gladly like to help!

[2022-10-03 07:41] withshubh commented on #4179
Sure! @arushmangal

In the meantime, you can look for other open issues with [Hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest+sort%3Aupdated-desc) tags to contribute.

[2022-10-03 07:41] Syed-Ansar commented on #4241
Hii @arpitnath  would Like to work on this.

[2022-10-03 07:42] withshubh commented on #4237
Hey @iamakhileshmishra 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 08:40] exitflynn commented on #4240
Hi @arpitnath I'd love to work on this issue!

[2022-10-03 08:40] AbhishekTiwari23 opened #4250 "Onhover effect on the comapanies name and logo using ToolJet i"
### Is your proposal related to a problem?

I want to add the HOVER effect on the company's name and logo, which are using the toolset. This will make the website more eye-catching
<img width="1242" alt="Screenshot 2022-10-03 at 2 07 52 PM" src="https://user-images.githubusercontent.com/97469132/193535080-5c75013b-9427-405c-8d02-a8e736cf125e.png">

If the hover effect is added, it will be more att

[2022-10-03 08:42] AbhishekTiwari23 opened #4251 "Socials Icons"
### Is your proposal related to a problem?

I want to add social icons in the page's follow us section. This will become more eye-catching, and the hover effect will make it much more attractive.

### Describe the solution you'd like

I will use CSS or Material UI to complete this task. I will Add the hover effect by using CSS commands.

### Describe alternatives you've considered

(Write your ans

[2022-10-03 08:52] alammoiz commented on #4239
Please assign to me @arpitnath

[2022-10-03 08:57] zainbinfurqan commented on #4251
@AbhishekTiwari23 Can i take this issue, if you can add hacktoberfest tag in it?

[2022-10-03 08:58] AbhishekTiwari23 commented on #4251
@Syed-Ansar Please apologise me as I am a beginner, Will I have to make a new issue for this?

[2022-10-03 08:59] zainbinfurqan commented on #4251
I don't think so you can edit it.

[2022-10-03 09:08] Syed-Ansar commented on #4251
No, Now it is fine.

[2022-10-03 09:27] zainbinfurqan commented on #4233
@arpitnath Can i work on this issue?

[2022-10-03 09:28] ajith-k-v opened #4252 "Multiple comment bubbles are popping up while adding the comments"
### Version Information

### Environment
    ToolJet Cloud

### What is the expected behaviour?
It should add only one comment bubble at a time.

### What is the current behaviour?
Multiple comment bubbles are popping up.

### How to reproduce the issue?

1. Open the editor.
2. Select the comments.
3. Dubble click on canvas using comment bubbles.

### Screenshots or Screencast
[Video](https://driv

[2022-10-03 09:29] arsalan-nasir commented on #4235
Hey @arpitnath , I would like to work on this issue, please assign it to me. I know the solution of this bug. I will raise the PR ASAP
Thanks

[2022-10-03 09:37] DivyanshuShukla001 opened #4253 "[refactor]: pls go through the secret.yaml and service.yaml file at deploy seems like sensitive val. Can be leaked from their"

[2022-10-03 10:00] exitflynn commented on #4235
hi @arpitnath, I'd LOVE to work on this issue too!

[2022-10-03 10:09] harshit-dugar commented on #4215
Who can assign me ?

[2022-10-03 10:10] harshit-dugar commented on #4241
Hi @arpitnath I would like to work on it

[2022-10-03 10:16] kaggrwal commented on #3576
@withshubh @shubh22 please review and merge
https://github.com/ToolJet/ToolJet/pull/4255

[2022-10-03 10:29] AnmolBansalDEV commented on #4241
hey, I would like to work on this issue

[2022-10-03 10:34] AnmolBansalDEV commented on #4252
hey, I'll like to work on this issue as part of hacktoberfest. Can you please assign it to me?

[2022-10-03 10:41] exitflynn commented on #3519
Hello! I wonder if this issue is still being worked on, I'd love to take it up! 🤠

[2022-10-03 10:54] Navaneeth-pk commented on #4251
Website is not part of the repo.

[2022-10-03 10:54] #4251 closed

[2022-10-03 10:55] Navaneeth-pk commented on #4250
Website is not part of this repository.

[2022-10-03 10:55] #4250 closed

[2022-10-03 10:56] Navaneeth-pk commented on #4253
Please do not create incomplete issues.

[2022-10-03 10:56] #4253 closed

[2022-10-03 10:59] exitflynn commented on #4252
I'd love to work on this issue!

[2022-10-03 11:07] exitflynn commented on #3630
Hello there @shubh22 I'd love to work on this issue! Could you please assign it to me? 🤠

[2022-10-03 11:23] withshubh commented on #3630
Hey @UtkarshDixit-py
Unassigning it as there was no update on it for the long time.

[2022-10-03 11:23] withshubh commented on #3630
Hi @exitflynn ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-03 11:36] TheZal opened #4257 "[localization] Translate global strings in italian"
### Is your proposal related to a problem?

Add translations for global strings in Italian.

### Describe the solution you'd like

The strings need to be translated:

[code]
Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributing-guide/l10n)

Assign to me and I'll work on it!

[2022-10-03 11:41] TheZal opened #4258 "[localization] Translate App Card in italian"
### Is your proposal related to a problem?

Add translations for App Card strings in Italian.

### Describe the solution you'd like

The strings need to be translated:

[code]
Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributing-guide/l10n)

Assign to me and I'll work on it!

[2022-10-03 11:50] GovindaTakekar commented on #4235
Hey I am a new contributor, Can you please please assign me this issue?

[2022-10-03 11:56] Syed-Ansar commented on #4258
I would like to work on this

[2022-10-03 11:58] TheZal commented on #4258
Once #4259 will be closed I will do the PR for this one

[2022-10-03 12:05] Aditya-Ambre commented on #4179
Hey that would be great could we set up a meeting later tonight ?

On Mon, 3 Oct, 2022, 1:08 pm Arush Mangal, ***@***.***> wrote:

[2022-10-03 12:10] #4102 closed

[2022-10-03 12:23] Syed-Ansar commented on #4258
Okay

[2022-10-03 12:23] Gurpreet-Singh-Bhupal commented on #4235
Hi @ajith-k-v , I am very well known with the solution of the issue and fixed this type of problems before,please assign me this issue.

[2022-10-03 12:27] Gurpreet-Singh-Bhupal commented on #4233
Hi @arpitnath  ,please assign me this issue I have worked on similar type of bug before.Thanks in advance.

[2022-10-03 12:27] Gurpreet-Singh-Bhupal commented on #4241
Hi @arpitnath  ,please assign me this issue I have worked on similar type of bug before.Thanks in advance.

[2022-10-03 12:29] Gurpreet-Singh-Bhupal commented on #1673
Hi @gondar00   ,please assign me this issue I have worked on similar type of bug before.Thanks in advance.

[2022-10-03 12:36] Borges53 commented on #4240
Hi @arpitnath , I would like to make my first collaboration with you. It would be nice to be able to help you solve the problem. Could you assign it to me?

[2022-10-03 12:46] sanjus-robotic-studio opened #4260 "[docs]: Create Documentation for Tree Select Widget"
### Summary

Currently there is no documentation for the ```Tree Select``` Widget.

### Issue Type

Documentation feature/update

### The entire URL of the documentation with the issue

_No response_

### Steps to reproduce the issue

_No response_

### Additional Information

_No response_

### If the issue is confirmed, would you be willing to submit a pull request?

Yes

### Code of Conduct

-

[2022-10-03 12:46] sanjus-robotic-studio commented on #4260
Can someone assign this to me?

[2022-10-03 13:08] Candida18 commented on #4243
Can you pls assign this issue to me? I'll be happy to work on it

[2022-10-03 13:12] daniloff200 opened #4261 "[Feature request]: Ukrainian / Russian locales"
I do see localisation folder, but, it's kinda empty ;)
Can Ukrainian and Russian localisations be useful?

I'm from Ukraine, and know both languages natively, so, can help with that.
If it's not useful, feel free to close this issue

- [x]  Russian
- [x]  Ukrainian

[2022-10-03 13:20] arpitnath opened #4262 "For the table widget, the proposal is to add a new exposed variable: `updatedData`"
## Proposed Improvements
For the table widget, the proposal is to add a new exposed variable: `updatedData`

Expose the updated table data with the latest **current table data** and data updates.

[2022-10-03 14:09] VoidCupboard opened #4264 "Unknown character being printed on the home page"
### Version Information

### Environment
ToolJet homepage

### What is the expected behaviour?
There should not be a unexpected character

### What is the current behaviour?
There is a unwanted character in the home page

### How to reproduce the issue?

1. Visit https://toolject.com
2. Scroll down to the Flexible and Extensible section
3.See a character in the description (after the heart icon)

[2022-10-03 14:20] Rafajrg21 commented on #2530
Hi, is this still needed? I would like to work on this issue 🌞 this would help me familiarize with the code

[2022-10-03 14:30] arushmangal commented on #4179
Hey! I can't come to a meeting. It seems like I gave off the wrong impression. If you were a bit busy translating the document, I was proposing taking up the issue myself.

[2022-10-03 14:43] Ambareen09 opened #4266 "[localization] Translate App Card in German"
### Is your proposal related to a problem?

 Add translations for App Card strings in German.

### Describe the solution you'd like

The strings need to be translated:

"appCard":{
            "changeIcon":"Change Icon",
            "addToFolder":"Add to folder",
            "move":"Move",
            "to":"to",
            "selectFolder":"Select folder",
            "deleteApp":"Delete app",

[2022-10-03 15:33] mohithgupta commented on #4264
Is this an issue that I can contribute to? If yes, Can you assign this to me cause I know why this happens and I guess I can fix it .

[2022-10-03 15:40] mohithgupta opened #4267 "Shows wrong number of Github stars on smaller screens"
### Version Information
Latest
### Environment

### What is the expected behaviour?

Correct GitHub star count should appear when looking at the website on smaller screens.

### What is the current behaviour?

The Github star count is Hardcoded (maybe) to 12000 on smaller screens.

### How to reproduce the issue?

If you're on PC:
1. Go to the home page
2. Reduce the screen size (if on PC) and the

[2022-10-03 16:45] Sukriti-m commented on #4233
Hi @arpitnath
I'd like to work on this issue. Please assign it to me.

[2022-10-03 16:49] LPRegen commented on #4180
Hi @withshubh , if there is no activity and you want to reassign this issue, I would like to take it.

[2022-10-03 16:59] myudak commented on #4266
i would like to work on this

[2022-10-03 17:07] HVbajoria commented on #4240
Hello @arpitnath,
Could you please assign me this issue?
Thank you

[2022-10-03 17:08] myudak opened #4268 "Add indonesian translation"
### Is your proposal related to a problem?

Add translations for App Card strings in Indonesian.

### Describe the solution you'd like

The strings need to be translated:

"appCard":{
"changeIcon":"Change Icon",
"addToFolder":"Add to folder",
"move":"Move",
"to":"to",
"selectFolder":"Select folder",
"deleteApp":"Delete app",
"exportApp":"Export app",
"cloneApp":"Clone app",
"launch":"Launch",
"mai

[2022-10-03 17:16] HVbajoria commented on #4241
Hi @arpitnath ,
Could you please assign me this issue?

[2022-10-03 17:29] Azanul commented on #4180
@LPRegen, I'm waiting for any Spanish translation PRs to merge to avoid conflicts.

[2022-10-03 18:05] LPRegen commented on #4180
Great @Azanul !

[2022-10-03 19:06] Croustys commented on #4267
I can work on this issue if you assing it to me!

[2022-10-03 19:38] Gurpreet-Singh-Bhupal commented on #4264
@VoidCupboard
Please assign me this issue,I know how to fix it

[2022-10-03 19:51] Kundan1804 commented on #4237
Hey @withshubh  I am a frond end developer and would love to contribute in this issue

[2022-10-03 19:52] Kundan1804 commented on #4183
Hey @withshubh I am a frond end developer and would love to contribute in this issue

[2022-10-03 21:23] adithyaakrishna commented on #3292
@akshaysasidrn Can I take this up?

[2022-10-03 23:33] DanyaBrain opened #4272 "Warnings from table component"
### Version Information
1.21
### Environment
ToolJet Cloud

### What is the expected behaviour?
I want to use table component without weird warnings

### What is the current behaviour?

Warnings appears when I assigning ANY query to any table. This warning appears even with queries that just returning empty array ( [] )

![image](https://user-images.githubusercontent.com/64352921/193703733-38496e6

[2022-10-03 23:42] DanyaBrain opened #4273 "Run query from js"
### Version

Information 1.21

### Environment

ToolJet Cloud

### What is the expected behaviour?

I want to have ability to run any query from custom code on app load.

### What is the current behaviour?

ONLY IN EDIT MODE, when application just loaded, "queries" variable is empty. And all queries failing because they are undefined. But in production everything works fine/

### How to reproduce

[2022-10-03 23:48] DanyaBrain opened #4274 "js queries parameters"
### Is your proposal related to a problem?

If you will add this feature, everyone will be able to use queries like a js functions - devide code on smaller parts and reuse some parts multiple times

Right now I can do that, but this solution SO UGLY. I can use some global variable in some js query, and to change this variable before I start the query

### Describe the solution you'd like

I want t

[2022-10-03 23:53] DanyaBrain opened #4275 "Show unsaved progress confirmation"
### Is your proposal related to a problem?

Yes. Every time I using tooljet and writing some js code, I forget to click "SAVE AND RUN" button. So I missing my progress so often. And in this moment I want to kill someone.

### Describe the solution you'd like

Just to show confirmation if I have unsaved changes, like retool does.

[2022-10-03 23:58] DanyaBrain opened #4276 "Folders, please"
### Is your proposal related to a problem?

Sometimes applications became to big. And it is very hard to explore ten or even tens of queries.

### Describe the solution you'd like

Can you add ability to organize queries using folders? Similar, how Retool does (but please add ability to create nested folders)

OR

If folders feature is too hard to add, can just disable sort inside queries list? If

[2022-10-04 00:03] DanyaBrain opened #4277 "Changing parent component"
### Is your proposal related to a problem?

Sometimes I want to put some existing component inside another component. For example, I made some page with tables and some buttons. And after that I realized that I need to make tabs on this page. So I need to put all content inside tabs.

### Describe the solution you'd like

I want to have ability to change parent object

### Describe alternatives yo

[2022-10-04 02:26] VoidCupboard commented on #4264
Uh, you see, Im gonba work on it

[2022-10-04 03:46] Frenchtoast0 commented on #4235
Hi, if no one else has been assigned this issue, I would be interested in tackling it.

[2022-10-04 03:57] #4110 closed

[2022-10-04 04:48] mohithgupta commented on #4267
Hi @Croustys, I'm sorry but I'm planning to work on it. I'm just waiting for them to confirm it as a bug...

[2022-10-04 04:52] bobbintb opened #4278 "Toggle switch column type not editable by default"
### Is your proposal related to a problem?

I spent a good deal of time trying to figure out why the toggle switch column type wasn't working as expected. It was greyed out and it took me a while to realize the "editable" property is disabled by default.

### Describe the solution you'd like

I think it should be made editable by default. It doesn't really make sense for that column type to not be

[2022-10-04 06:07] emidhun opened #4279 "Fix all failing widget specs"
### Specify the kind of test

Cypress-Integration-test

### Describe the test

Fix all widget happypaths.

[2022-10-04 07:00] vedant-z commented on #4278
Hi @bobbintb I would like to try this if you allow

[2022-10-04 07:08] AnmolBansalDEV commented on #4272
I want to work on this issue as part of hacktober fest, please assign it to me.

[2022-10-04 07:10] vedant-z opened #4281 "[localization] Translate App Card in Japanese"
### Is your proposal related to a problem?

Add translations for App Card strings in Japanese.

### Describe the solution you'd like

The strings need to be translated:
[code]

### Describe alternatives you've considered

Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributing-guide/l10n)

### If the feature is approved, would you be willing to submit a PR?

Y

[2022-10-04 07:17] AnmolBansalDEV commented on #4143
I can see a PR merged for this issue, but why is this issue still open?

[2022-10-04 07:20] arpitnath opened #4282 "Include only the status code and error response body for throwing errors from REST API OAuth."
### Description
Include only the status code and error response body for throwing errors from REST API oAuth.

Note: OAuth endpoints response can only consist of status code, in spite of error description.

[2022-10-04 07:23] harshit-dugar commented on #4252
@ajith-k-v I would like to work on the issue.

[2022-10-04 07:24] harshit-dugar commented on #4233
@arpitnath I would like to work on this

[2022-10-04 07:26] #4282 closed

[2022-10-04 07:37] #4279 closed

[2022-10-04 07:38] #4067 closed

[2022-10-04 07:38] stepinfwd opened #4283 "Add option to hide columns in table widget"
### Is your proposal related to a problem?
Currently there is no option to hide columns from ui other than through code.

### Describe the solution you'd like
Add gui option to hide/show columns

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-04 07:42] stepinfwd opened #4285 "Option to drag and drop columns in Table widget"
### Is your proposal related to a problem?
Changing columns order through widget itself would be helpful in speeding up development .

### Describe the solution you'd like
Add option to drag and drop columns in Table widget

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-04 08:15] withshubh commented on #4183
Hi @dmdbilal 👋

We've assigned the issue to you. If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 08:17] withshubh commented on #4183
Hey 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

cc: @Architsharma7 @rahulsunil2 @trishitapingolia @KarthickSakthi @MihirShinde-29 @Elegidoadedo @harshit-dugar @Kundan1804

[2022-10-04 08:19] harshit-dugar commented on #4276
@DanyaBrain I would like to work on it

[2022-10-04 08:45] depapp opened #4286 "[localization] Translate strings in Indonesian"
### Is your proposal related to a problem?

Add translations in Indonesian.

### Describe the solution you'd like

The strings needs to be translated:
[code]

hi @withshubh please assign to me & I'll work on it!

[2022-10-04 09:11] depapp commented on #4286
created the PR #4287

[2022-10-04 09:17] withshubh commented on #4252
Hi @AnmolBansalDEV 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 09:19] withshubh commented on #4252
Hi @exitflynn & @harshit-dugar 👋

Thanks for showing interest in contributing to ToolJet. Since a lot of community members show interest in an issue, we assign issues on a first come first serve basis.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-04 09:28] withshubh commented on #4286
Hi @depapp 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you but please don't create the PRs unless the issue is assigned.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 09:31] depapp commented on #4286
hi @withshubh
noted with thanks 🙇🏻

[2022-10-04 09:34] arpitnath commented on #4241
Thanks, everyone, for showing interest in contributing to ToolJet but we have to assign the issue to the first person who expressed interest.

You can check out other open issues here: https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest.
cc: @HVbajoria @Gurpreet-Singh-Bhupal @AnmolBansalDEV @harshit-dugar @Syed-Ansar @Akash-Raj-ST @PaarthAgarwal

[2022-10-04 09:38] withshubh opened #4288 "Rename Environment Variables to Workspace Variables"
### Is your proposal related to a problem?

Currently, we have named the workspace environment variables as Environment variables which can be confusing at times.

### Describe the solution you'd like

Rename the Environment Variables to Workspace Variables in the dropdown menu as well as from the page.

<img width="390" alt="Screenshot 2022-10-04 at 3 04 48 PM" src="https://user-images.githubuser

[2022-10-04 09:41] withshubh opened #4289 "[docs]: rename Workspace Environment Variables to Workspace Variables"
### Summary

rename `Workspace Environment Variables` to `Workspace Variables`

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/tutorial/workspace-environment-variables/

### Steps to reproduce the issue

_No response_

### Additional Information

_No response_

### If the issue is confirmed, would you be willing to submit a

[2022-10-04 09:41] Syed-Ansar commented on #4288
I would like to work

[2022-10-04 09:42] Syed-Ansar commented on #4289
can you assign it me, I want to work on this ?

[2022-10-04 09:43] arpitnath commented on #4240
Thanks, everyone, for showing interest in contributing to ToolJet but we have to assign the issue to the first person who expressed interest.

Since @PaarthAgarwal has already one issue assigned for which no PR has been raised yet, so assigning this issue to the second person who showed interest.

Assigning to @alammoiz 😅

You can check out other open issues here: https://github.com/ToolJet/ToolJe

[2022-10-04 09:46] HVbajoria commented on #4289
Hello,
So as I understand we need to update the doc by renaming Workspace Environment Variables to Workspace Variables wherever it's present in the doc to which this link refers to?
Could you please guide me if I am right? And assign me so that I may work on it?

[2022-10-04 09:48] arpitnath commented on #4235
Thanks, everyone for showing interest in contributing to ToolJet but we have to assign the issue to the first person who expressed interest.

Assigning to @ShaunThayil

You can check out other open issues here: https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest.

[2022-10-04 09:52] arpitnath commented on #4233
Thanks, everyone, for showing interest in contributing to ToolJet but we have to assign the issue to the first person who expressed interest.

Since @PaarthAgarwal has already one issue assigned for which no PR has been raised yet, so assigning this issue to the second person who showed interest.

Assigning to @zainbinfurqan 😅

You can check out other open issues here: https://github.com/ToolJet/T

[2022-10-04 09:53] #4209 closed

[2022-10-04 10:10] MrKrishnaAgarwal opened #4291 "Add Pull Request Template"
I want to Add Pull Request Template to this repo.
Can I?

@withshubh

[2022-10-04 10:13] MrKrishnaAgarwal commented on #4289
@withshubh Please assign this to me, I have already made the PR #4290

[2022-10-04 10:23] depapp opened #4293 "[localization] translate strings (editor & header) section in Indonesian"
### Is your proposal related to a problem?

Add translations in Indonesian for `editor` and `header` section

![image](https://user-images.githubusercontent.com/6134774/193795502-9ccfd9bc-c445-4389-aa3b-c6691081caf0.png)

### Describe the solution you'd like

The strings needs to be translated:
[code]

hi @withshubh please assign to me & I'll work on it!

[2022-10-04 10:28] DanyaBrain commented on #4272
I think I don't have an access to do that

[2022-10-04 10:37] Navaneeth-pk commented on #4289
@MrKrishnaAgarwal please follow the rules. You should work only on issues that are assigned to you. We will mark all other PRs as invalid.

[2022-10-04 10:39] MrKrishnaAgarwal commented on #4289
Ohh okay
I didn't knew that, I am a first time contributor in this repository
What should I do now?

[2022-10-04 10:46] #4234 closed

[2022-10-04 10:50] withshubh opened #4295 "Add multi-select filter on Status in Manage Users"
### Is your proposal related to a problem?

There's no way to filter the `active` and `archive` users on the `Manage Users` page.

### Describe the solution you'd like

Add multi-select filter on Status. The default should be active and invited.

<img width="1425" alt="Screenshot 2022-10-04 at 4 17 57 PM" src="https://user-images.githubusercontent.com/25361949/193800851-7dedfa33-12c8-4164-a537-187

[2022-10-04 10:51] Syed-Ansar commented on #4295
Hey @withshubh assign it to me

[2022-10-04 10:54] withshubh opened #4296 "Change sort to lexicographic order on first name in Manage Users"
### Is your proposal related to a problem?

Currently, on the manage users page, the users are listed according to the way they were added/invited.

### Describe the solution you'd like

Sort the first name according to lexicographic order

<img width="1425" alt="Screenshot 2022-10-04 at 4 17 57 PM" src="https://user-images.githubusercontent.com/25361949/193801541-e99786f9-0beb-45f8-a891-2b726f8cf

[2022-10-04 10:55] Syed-Ansar commented on #4296
Hey @withshubh can you assign it to me, no issue has been assigned to me until now.

[2022-10-04 10:57] Sarita-Singh commented on #4288
Hello, @withshubh, I would like to resolve this issue. Can you please assign me this.

[2022-10-04 11:09] withshubh opened #4297 "Add border color property to button styles"
### Is your proposal related to a problem?

There's no option to set a border color to the button component.

### Describe the solution you'd like

Add a border color property to the button component.

<img width="680" alt="Screenshot 2022-10-04 at 4 38 25 PM" src="https://user-images.githubusercontent.com/25361949/193804008-e2a71768-a06c-43a1-90e2-d5a72df38c45.png">

[2022-10-04 11:10] Utkarsh212 commented on #4297
Please assign this issue to me so that I can work on it

[2022-10-04 11:12] Syed-Ansar commented on #4297
Hey @withshubh please assign it to me. I will work on this issue.

[2022-10-04 11:12] withshubh opened #4298 "Add border color property for outer border to the list view styles"
### Is your proposal related to a problem?

Currently, There's no option to set a border color to the outer border of the list view component.

### Describe the solution you'd like

Add an Outer border-color property to the list view component.

<img width="1037" alt="Screenshot 2022-10-04 at 4 42 28 PM" src="https://user-images.githubusercontent.com/25361949/193804641-81028867-df7b-4d9c-ba42-ecee

[2022-10-04 11:16] withshubh opened #4299 "Add border color property for row border of list view"
### Is your proposal related to a problem?

Currently, the default color of the row border in the list view is grey. There is no option to change the border color of the row border.

### Describe the solution you'd like

Add a property in styles for changing the row border color.

<img width="1037" alt="Screenshot 2022-10-04 at 4 42 28 PM" src="https://user-images.githubusercontent.com/25361949/19

[2022-10-04 11:20] simonpankovski commented on #4299
Hi, I would like to work on this issue :)

[2022-10-04 11:21] withshubh commented on #4299
Hi @simonpankovski 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 11:23] withshubh commented on #4297
Hi @Syed-Ansar 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 11:24] FroostyCodes commented on #4298
Hi, Can you assign this to me please. I would like to work on it

[2022-10-04 11:37] withshubh commented on #4288
Hey @Syed-Ansar - You already have a few issues assigned. We will assign new issues once there's PR for them. Let me know if you need any help with them.

[2022-10-04 11:37] withshubh commented on #4288
Hi @Sarita-Singh 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 11:37] Syed-Ansar commented on #4297
Hey @Syed-Ansar no one has assigned me the issue, this is my first one.

[2022-10-04 11:39] prateek565 commented on #4297
hi @withshubh  plz review my pr in this #4164

[2022-10-04 11:39] #4143 closed

[2022-10-04 11:40] TheLearneer commented on #4297
@Syed-Ansar Please follow up this link to see all the active issues you are assigned to
https://github.com/ToolJet/ToolJet/issues/assigned/Syed-Ansar

[2022-10-04 11:41] withshubh commented on #4297
Hey Syed,
I found these two issues assigned to you:
- https://github.com/ToolJet/ToolJet/issues/3295
- https://github.com/ToolJet/ToolJet/issues/2860

[2022-10-04 11:41] withshubh commented on #4297
Thanks @TheLearneer

[2022-10-04 11:43] withshubh commented on #4297
Hey @prateek565 - please be patient we will review the PRs as soon as possible.

[2022-10-04 11:44] yashdhanore commented on #4296
Hey, can i give it a shot?

[2022-10-04 11:45] Syed-Ansar commented on #4297
Oh yes, These were the issue of 3-4 months back 👍

[2022-10-04 11:47] #3997 closed

[2022-10-04 11:48] Syed-Ansar commented on #4297
I will work on this and take this one up.

[2022-10-04 11:58] racky7 commented on #4297
@withshubh I want to work on this. Please assign it to me.

[2022-10-04 12:07] withshubh commented on #4297
Hi @racky7 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-04 12:15] withshubh commented on #4289
Yes @HVbajoria You're correct.

Let's assign this issue to @MrKrishnaAgarwal since he has already created a PR for this issue. Also, @MrKrishnaAgarwal Please follow the [contributing guidelines](https://github.com/ToolJet/ToolJet/blob/develop/CONTRIBUTING.md) otherwise we will have to mark the PRs `invalid` which will affect your hacktoberfest contribution.

[2022-10-04 12:17] withshubh commented on #4293
Hey @depapp - Sure!
Assigned this issue to you.

[2022-10-04 12:26] Anuran12 commented on #4295
hi @withshubh I would like to work on this

[2022-10-04 12:27] racky7 commented on #4297
@withshubh Thanks. Can you please tell me the directory (path of this component) of this issue?

[2022-10-04 12:30] TheLearneer commented on #4297
@racky7 You will need to make changes in two of the files

First one would be: https://github.com/ToolJet/ToolJet/blob/develop/frontend/src/Editor/Components/Button.jsx
Which would be responsible for showing the actual styles

Second one would be: https://github.com/ToolJet/ToolJet/blob/develop/frontend/src/Editor/WidgetManager/widgetConfig.js
Which would be responsible for showing the field in th

[2022-10-04 13:00] MrKrishnaAgarwal commented on #4289
Sure, I will not let this happen again
Sorry :(

[2022-10-04 13:04] donheshanthaka opened #4301 "[localization] Translate App Card in Romanian"
### Is your proposal related to a problem?

Add translations for the App Card in Romanian.

### Describe the solution you'd like

Translate the strings to romanian language according to the [localization guide](https://docs.tooljet.com/docs/contributing-guide/l10n)

![image](https://user-images.githubusercontent.com/61963664/194006694-f1292128-c2a3-4e8a-bdf7-cc4e5b19e4f9.png)

### If the feature i

[2022-10-04 13:05] donheshanthaka commented on #4301
Do assign me this issue, i would be happy to work on it :)

[2022-10-04 13:49] kushal-gopal commented on #4242
Hi, I thought I was assigned this issue?

[2022-10-04 13:50] sidbelbase commented on #878
tasks need to be assigned to work or I can start on working on this?

[2022-10-04 13:59] sidbelbase commented on #4281
hi can you assign this task to me?

[2022-10-04 14:06] Syed-Ansar commented on #4295
Hey @withshubh I have raised PR for my previous issues and one of them was unassigned because it was deleted from head repository and you can assign this issue to me as I have finished other issues. 👍

[2022-10-04 14:12] vedant-z commented on #4281
Sorry @sidbelbase

Actually I want to work on it, if it's confirmed.

[2022-10-04 14:15] vedant-z commented on #4297
@withshubh I wanna give a try.

[2022-10-04 15:13] devtayade commented on #4291
@tooljet-bot  hey i really want to work on this issue. this can be my first step towards open source. can you please assign me this issue ?

[2022-10-04 15:14] MrKrishnaAgarwal commented on #4291
I've created this issue and I'll only work on it
Sorry

[2022-10-04 15:44] Syed-Ansar commented on #4297
Hey @withshubh I had raised the PR and I was the first one to comment for this issue. Can you please assign it to me as racky has unassigned his assignment.

[2022-10-04 16:22] abhishekpatil4 commented on #4243
@arpitnath Assign me this task ,will get it done in no time

[2022-10-04 17:40] AyushK-101 commented on #4297
@withshubh @TheLearneer I have made a PR regarding this issue (#4304) , please review it

[2022-10-04 17:42] daniloff200 commented on #4243
I've added the fix, @arpitnath , can it marked as a my task to work on?

[2022-10-04 18:00] bobbintb commented on #4278
Oh, you mean as a PR? That's fine. It should be a quick fix but I'm a quite busy so go for it.

[2022-10-04 18:04] vedant-z commented on #4278
@bobbintb Thanks

[2022-10-04 18:30] AnmolBansalDEV commented on #4272
You just have to add hacktoberfest tag to the issue and assign it to me.

[2022-10-04 19:59] mikebarr24 commented on #3249
Hey @shivangT. If this issue is still up for grabs, I'd like to have a go.

[2022-10-04 21:14] DanyaBrain commented on #4272
haha, can you help me to do that?) I am not sure I am able to do that
![image](https://user-images.githubusercontent.com/64352921/193930577-e5133631-066d-4d1f-b265-a4852662b176.png)

[2022-10-04 21:29] arpitnath commented on #4168
Hi @anuj98, there is a thread, faced by others in our slack community which can be helpful for you.
I would recommend you to join our [Slack community](https://tooljet.com/slack) 😅

[2022-10-04 22:22] arpitnath commented on #4243
@daniloff200 You are supposed to get the issue assigned to you first before raising pull requests.
Unassigned PRs will be considered invalid and spam or invalid tags will be added.

[2022-10-04 22:23] arpitnath commented on #4243
We have to assign the issue to the first person who expressed interest.
Assigning the task to @abhishekpatil4.

You can check out other open issues here: https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest.

[2022-10-04 22:32] arpitnath commented on #4297
@AyushK-101 All pull requests will be considered invalid if the issue is not assigned to you.

@withshubh Please assign to the first person who expressed interest.
I do not have enough context of the above conversation 😅

[2022-10-04 22:47] arpitnath commented on #4267
@stepinfwd Can you have a look into it?

[2022-10-04 22:49] arpitnath commented on #4267
@Croustys @mohithgupta Website contributions are not a part of `hacktoberfest`.

Thanks for showing interest in contributing to ToolJet and creating an issue.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-04 22:51] arpitnath commented on #4264
Hi, @VoidCupboard @Gurpreet-Singh-Bhupal and @mohithgupta

Thanks for showing interest in contributing to ToolJet but the website is not part of the repo and hence cannot be considered as `hacktoberfest` contributions.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-04 22:52] #4264 closed

[2022-10-04 23:26] SahilSingh177 commented on #4295
Please assign this to me.

[2022-10-05 00:27] Navaneeth-pk commented on #4291
One of our team members is working on this. Closing the issue.

[2022-10-05 00:27] #4291 closed

[2022-10-05 03:14] adityapathakk commented on #4297
Hi, it'd be great if I could up this issue!

[2022-10-05 07:30] OjashKush commented on #4297
can you assigned this to me?

[2022-10-05 07:36] withshubh commented on #4295
Hey @Syed-Ansar
Assigned this issue to you.

[2022-10-05 07:36] withshubh commented on #4295
Hi @AyushK-101 & @SahilSingh177 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-05 08:00] donheshanthaka opened #4309 "[localization] Translate Profile Settings Page in Romanian"
### Is your proposal related to a problem?

Add translations for the Profile Settings Page in Romanian

### Describe the solution you'd like

Translate the strings to romanian language according to the [localization guide](https://docs.tooljet.com/docs/contributing-guide/l10n)

![image](https://user-images.githubusercontent.com/61963664/194007317-e1d53f76-75c9-4f5a-a081-2394a92e9f20.png)

### If t

[2022-10-05 08:01] donheshanthaka opened #4310 "[localization] Translate login and signup page in Romanian"
### Is your proposal related to a problem?

Add translations for the login and signup page in Romanian

### Describe the solution you'd like

Translate the strings to romanian language according to the [localization guide](https://docs.tooljet.com/docs/contributing-guide/l10n)

![image](https://user-images.githubusercontent.com/61963664/194009517-a1dad112-991f-4305-9302-5dde30c95848.png)

### If t

[2022-10-05 08:01] donheshanthaka opened #4311 "[localization] Translate global strings in Romanian"
### Is your proposal related to a problem?

Add translations for global strings in Romanian

### Describe the solution you'd like

[code]

### If the feature is approved, would you be willing to submit a PR?

Yes i would be happy to contribute to this project, do assign me this issue

[2022-10-05 08:19] WadekarPrashant commented on #4297
Hey, can I work on this issue? Please assign it to me.
@TheLearneer

[2022-10-05 08:23] WadekarPrashant commented on #878
Hey, can I work on this issue? Please assign it to me.
@TheLearneer @sidbelbase @am-a-man

[2022-10-05 08:23] WadekarPrashant commented on #985
Hey, can I work on this issue? Please assign it to me.

[2022-10-05 08:28] WadekarPrashant commented on #4185
Hey, the person to whom you assigned this seems inactive.
Hey, can I work on this issue? Please assign it to me.
@withshubh @arpitnath

[2022-10-05 08:30] WadekarPrashant commented on #4181
Hey, the person to whom you assigned this seems inactive.
Hey, can I work on this issue? Please assign it to me.
@arpitnath

[2022-10-05 08:31] TheOjasSingh commented on #4297
can you assign this issue to me

[2022-10-05 08:31] WadekarPrashant commented on #4180
Hey, the person to whom you assigned this seems inactive.
Hey, can I work on this issue? Please assign it to me.
@withshubh

[2022-10-05 08:32] WadekarPrashant commented on #4174
Hey, can I work on this issue? Please assign it to me.
@withshubh

[2022-10-05 08:33] WadekarPrashant commented on #4170
Hey, can I work on this issue? Please assign it to me.
@Elegidoadedo

[2022-10-05 08:35] Azanul commented on #4180
@WadekarPrashant I'm not inactive as you must realize by reading the thread, look for some other issue to resolve.

[2022-10-05 08:35] Navaneeth-pk commented on #4174
@WadekarPrashant please do not comment on a lot of issues. You can see that this issue is already assigned to someone and there is a PR already.

[2022-10-05 08:39] bestpika opened #4312 "[fr] Allow Custom Component to read global variables and other component data"
### Is your proposal related to a problem?

I want to read the relevant data directly.

### Describe the solution you'd like

In the Custom Component example, I found that ToolJet will bind data, updateData and runQuery to the component, so is it possible to bind components and global variables as well?

[code]
↓
[code]

### Describe alternatives you've considered

### If the feature is approved,

[2022-10-05 09:13] TheLearneer commented on #4297
Hello, sorry but I am not a maintainer of this project.
I am just trying my best to help the maintainers during the hacktoberfest (there is lots of chaos during this time).

Maintainers will get back you as soon as they are free 🙇

[2022-10-05 09:19] Ambareen09 opened #4313 "[localization] Translate Profile Settings in German"
### Is your proposal related to a problem?

Add translations for Profilestrings in German.

### Describe the solution you'd like

The strings need to be translated:

"profileSettingPage":{
            "profileSettings":"Profile Settings",
            "firstName":"First name",
            "lastName":"Last name",
            "enterFirstName":"Enter First Name",
            "enterLastName":"Enter Las

[2022-10-05 09:22] Ambareen09 opened #4314 "[localization] Translate Globals in German"
### Is your proposal related to a problem?

Add translations for Globals strings in German.

### Describe the solution you'd like

The strings need to be translated:

"globals":{
        "readDocumentation":"Read documentation",
        "cancel":"Cancel",
        "save":"Save",
        "back":"Back",
        "edit":"Edit",
        "search":"Search",
        "update":"Update",
        "delete":"Del

[2022-10-05 09:30] Azanul opened #4315 "[localization] Translate login and signup page in German"
### Is your proposal related to a problem?

Add translations for login and signup strings in German.
### Describe the solution you'd like

The strings need to be translated:

"loginSignupPage":{
        "forgotPassword":"Forgot Password",
        "emailAddress":"Email address",
        "enterEmail":"Enter email",
        "resetPassword":"Reset Password",
        "dontHaveAccount":"Don't have accou

[2022-10-05 09:33] Azanul opened #4316 "Translate Profile Settings in Norwegian"
### Is your proposal related to a problem?

Add translations for Profile strings in Norwegian.

### Describe the solution you'd like

The strings need to be translated:

"profileSettingPage":{
"profileSettings":"Profile Settings",
"firstName":"First name",
"lastName":"Last name",
"enterFirstName":"Enter First Name",
"enterLastName":"Enter Last Name",
"email":"Email",
"avatar":"Avatar",
"update":"U

[2022-10-05 09:35] Azanul opened #4317 "[localization] Translate Globals in Norwegian"
### Is your proposal related to a problem?

Add translations for Global strings in Norwegian.

### Describe the solution you'd like

The strings need to be translated:

"globals":{
"readDocumentation":"Read documentation",
"cancel":"Cancel",
"save":"Save",
"back":"Back",
"edit":"Edit",
"search":"Search",
"update":"Update",
"delete":"Delete",
"add":"Add",
"view":"View",
"create":"Create",
"enabled"

[2022-10-05 09:39] Navaneeth-pk commented on #4301
@donheshanthaka are you a native Romanian speaker?
Translations by non-native language speakers using tools like Google translate is causing us a lot of trouble.

[2022-10-05 09:41] BajajAyush commented on #4299
hey, can I also work on this issue?

[2022-10-05 09:42] Navaneeth-pk commented on #4299
@BajajAyush The issue is assigned to someone else. Please read the contribution guidelines.

[2022-10-05 09:44] Navaneeth-pk commented on #4317
@Azanul are you a native speaker or are you using online tools for translation?

[2022-10-05 09:46] donheshanthaka commented on #4301
@Navaneeth-pk  no i would not be using google translator and even though i'm not born in Romania i do know people that are native which are my closets friends, so everything i contribute will be run through them as well to make sure it is up to standards, furthermore, you can just assign me this issue out of the 4 that i have opened for now and keep the others until i have completed this one to ma

[2022-10-05 09:48] Navaneeth-pk commented on #4301
Sorry, we do not have bandwidth to review everything. We will create issues for languages once we have enough feature requests from native speakers. It is very hard to maintain the translations as the project is iterating on a fast pace.

[2022-10-05 09:48] #4301 closed

[2022-10-05 09:48] #4309 closed

[2022-10-05 09:48] #4310 closed

[2022-10-05 09:48] #4311 closed

[2022-10-05 09:54] Azanul commented on #4317
@Navaneeth-pk I learnt using Duolingo and whatever I'll miss Ill use some tool.

[2022-10-05 09:55] Navaneeth-pk commented on #4317
Sorry, we are not accepting new translation requests unless there are enough requests from native speakers.

[2022-10-05 09:55] #4317 closed

[2022-10-05 09:56] #4315 closed

[2022-10-05 09:56] #4316 closed

[2022-10-05 10:00] donheshanthaka commented on #4301
@Navaneeth-pk

Btw i came across am issue regarding Spanish being assigned to a non native Spanish person in here

https://github.com/ToolJet/ToolJet/issues/4184

by the Collaborator @withshubh

what about that situation?

[2022-10-05 10:02] Azanul commented on #4317
@Navaneeth-pk Norwegian has to be my native tongue for me to translate it?

[2022-10-05 10:07] Navaneeth-pk commented on #4317
We do not have requests from Norwegian speaking users for this translations. It is difficult for the team to maintain it over time. Since there is not enough requirements at the moment, we cannot accept this issue considering the bandwidth of our core team in reviewing PRs.
@Azanul

[2022-10-05 10:08] Azanul commented on #4317
Understood

[2022-10-05 10:30] Sparsh-Malhotra commented on #3577
Hey @shivangT I would like to work on this issue. Please assign it to me

[2022-10-05 10:44] keskinonur opened #4318 "SQL Server with encryption fails as a data source"
### Version Information

### Environment
ToolJet 1.26.1 with Dorcke

### What is the expected behaviour?

Using SQL Server as a data source.

### What is the current behaviour?

SQL Server connection with encryption and possibly with trust server certification fails.

### How to reproduce the issue?

1. Create or edit an app inside ToolJet admin
2. Add or edit SQL Server database which encrypt its

[2022-10-05 11:33] abhishekpatil4 commented on #4243
@arpitnath Please verify my pull request, and suggest if any changes needed

[2022-10-05 12:17] arpitnath commented on #4295
Accidentally marked as **good first issue,** unassigning the issue as we require to close some UX decisions on it.

cc: @withshubh removing the `good-first-issue`

[2022-10-05 12:31] nishant-giri commented on #4314
@Ambareen09, could you kindly assign me this task?

[2022-10-05 13:13] depapp opened #4320 "[localization] translate all strings in Indonesian"
### Is your proposal related to a problem?

Add translations in Indonesian for `homePage`, `confirmationPage`, `onBoarding`, `redirectSso`, `oAuth2`, `widgetManager` section

### Describe the solution you'd like

The strings needs to be translated:

![Screen Shot 2022-10-05 at 20 08 35](https://user-images.githubusercontent.com/6134774/194068386-5d5f753f-35aa-4733-aa59-d3713894740f.png)

anyone pl

[2022-10-05 13:19] arpitnath opened #4322 "Modal widget: Children should be able to dragged to the bottom, making the modal's body scrollable"
### What is the expected behaviour?
Widgets dropped to the Modal as its children, should be able to drag to the bottom with scroll active

### What is the current behaviour?
Dragging children down causes them to reposition and stick to the top.

### How to reproduce the issue?

1. Drop a Modal widget, and open the modal from the default trigger button
2. Add a widget (eg., button) to the modal
3.

[2022-10-05 13:21] Syed-Ansar commented on #4322
Hey @arpitnath I would like to work on this issue

[2022-10-05 13:48] appledora commented on #4313
@Navaneeth-pk are you guys localizing for Bengali? I am a native speaker, so I will be happy to do it.

[2022-10-05 13:51] Navaneeth-pk commented on #4313
Thanks for your interest but we are not planning to at the moment. We prioritise translations as per the requests from community. Please feel free to ask these questions on Slack.
@appledora

[2022-10-05 13:54] Ambareen09 commented on #4313
No, I am not a native german speaker but have proficiency in german.

[2022-10-05 13:55] Navaneeth-pk commented on #4313
@Ambareen09 closing this issue as I just found that the team is already working with someone on translating to German.

[2022-10-05 13:55] #4313 closed

[2022-10-05 14:02] exitflynn commented on #2860
Hi can I work on this issue? I am already making my way through #3630, and I feel like working with this one (which i feel is a little more on the lighter side) would be a more hands-on way to get me familiar and comfortable with the codebase, and in a way which would end up productive for the repo too. I'll completely understand if your answer is no and contributors can't work on more than one is

[2022-10-05 14:07] AnmolBansalDEV commented on #4272
anyways, thank you!

[2022-10-05 14:44] AnmolBansalDEV commented on #4252
thank you @withshubh for assigning this issue to me. I'm facing a problem setting up tooljet on my local windows system, waiting for a reply from the community in slack. I think that you should add this as an issue that the local setup for windows users is missing.

[2022-10-05 15:28] daniel-shuy commented on #4297
@arpitnath @withshubh I suggest you guys change it to first-PR-approved (no "ticket reservation"), like what [fluttercommunity/plus-plugins](https://github.com/fluttercommunity/plus_plugins/issues/1108#issuecomment-1263071221) did.

There are too many issue squatters that request to be assigned to an issue without first understand what it is, which prevents others from working on it, and adds to m

[2022-10-05 15:32] TheLearneer commented on #4297
@daniel-shuy That will only cause more chaos and more work on maintainers side, because everyone will start making PR. and then once a single PR is approved, maintainers will have to close all others while keeping track of which issue it was for and so on.

Basically it's too much work if that philosophy is implemented 🙏

[2022-10-05 15:39] daniel-shuy commented on #4297
@TheLearneer it shouldn't be too difficult since the issue will show all PRs referencing it:
![image](https://user-images.githubusercontent.com/17351764/194102240-32f964c1-204a-426d-bf0b-bb22caaed495.png)

I was thinking it would reduce maintainer overhead, but if it increases maintainer overhead, then yeah its not a good idea. Maybe it depends on the average task difficulty as well.

[2022-10-05 16:08] Ahmed-chouaya opened #4325 "create account issue"
### Version Information

### Environment

ToolJet Cloud

### What is the expected behaviour?

to send and email for verification
### What is the current behaviour?

when you put your email in the input and click on create account button the page stuck on please wait and no email recived
### How to reproduce the issue?

1.
2.
3.

### Screenshots or Screencast

![Screenshot from 2022-10-05 17-02-58]

[2022-10-05 17:29] mayankagnihotri7 commented on #4297
Hey, @withshubh can I take this up please? Can you please assign it to me?

[2022-10-05 19:13] BajajAyush commented on #4297
Please assign it to me

[2022-10-05 19:40] DevWig commented on #4297
I can take this issue if no one has picked it up yet @withshubh

[2022-10-05 22:24] manueltarouca opened #4330 "Localization automation"
### Is your proposal related to a problem?

Hello,
Providing translations for this project can be time consuming and going over the key pairs in the json files can prove to be boresome.

### Describe the solution you'd like

In order to aid the localization of this project I've created a tool that can read the en.json file and translates it into a prefered language.
The tool is located in the foll

[2022-10-06 00:30] Frenchtoast0 opened #4331 "Pricing Page has Messy Styling (Mobile)"
### Version Information

### Environment
Tooljet Website (Mobile)

### What is the expected behaviour?
Styling should leave enough space to look aesthetically pleasing.

### What is the current behaviour?
Prices are not centered and enterprise section doesn't give enough room to all the points.

### How to reproduce the issue?

1. Go to https://www.tooljet.com/pricing
2. Examine styling on pricing

[2022-10-06 02:28] Navaneeth-pk commented on #4331
Thanks for reporting. Closing as website is not part of this repo.

[2022-10-06 02:28] #4331 closed

[2022-10-06 03:35] Candida18 commented on #4242
Can I please work on this issue?
I'll make the changes in no time.

The pull request added by @PaarthAgarwal didn't pass the checks.

[2022-10-06 03:35] Candida18 commented on #4243
Can you pls assign this issue to me
I'll make the changes in a few minutes

The pull request added by @abhishekpatil4 didn't pass the checks.

[2022-10-06 03:37] Navaneeth-pk commented on #4243
@Candida18 please do not spam by copying and pasting irrelevant comments. The issue is assigned and already have a PR.

[2022-10-06 05:32] stepinfwd commented on #4325
Thanks for reporting 🎉  , it's fixed . Closing as website is not part of this repo.
@Ahmed-chouaya

[2022-10-06 05:32] #4325 closed

[2022-10-06 06:03] kavinvenkatachalam opened #4332 "[Bug]: Selection is triggered on widgets"
### Environment

 ToolJet Cloud

### What is the expected behaviour?

The selection should be triggered only when the user clicks on the canvas and tries to drag it. For eg, when the card is moved from one position to another position in the Kanban widget, the selection should not be triggered.

### What is the current behaviour?

The selection is getting triggered for the following cases which sh

[2022-10-06 06:12] #4139 closed

[2022-10-06 06:17] #4154 closed

[2022-10-06 06:20] #4150 closed

[2022-10-06 07:38] arpitnath opened #4334 "Table: Fix server side search"
### What is the expected behaviour?
On **Server sider search** enabled, exposes the searched string/query, and on binding an event to trigger a request with the searched query

### What is the current behaviour?
On **Server sider search** enabled/disabled, the table data is filtered with the search text.

### How to reproduce the issue?

1. Add a table widget to the canvas
2. Create a Rest API (fo

[2022-10-06 09:03] amit-ksh commented on #4296
I would like to work on this issues if @yashdhanore not able to fix.

[2022-10-06 09:14] #4322 closed

[2022-10-06 09:27] KaviiSuri commented on #3692
Hey @shubh22 , I'm so sorry, but I'm facing a lot of bandwidth issues right now.

Please feel free to reassign this issue, I'll get back to contributing to ToolJet as soon as I figure things out

[2022-10-06 10:30] shashwat933 commented on #4297
Hello @withshubh , please assign this issue to me

[2022-10-06 13:28] Priyanshu-Singh-1 commented on #4297
I want to take this issue @withshubh. Can you please assign me this issue..

[2022-10-06 13:49] AnasMansy commented on #4295
can i work on this

[2022-10-06 14:41] arpitnath opened #4336 "Ability to use Server side sort for table widget"
### Description
Server-side does not automatically perform row sorting.
Instead, events can be binded and trigger queries.

[2022-10-06 16:32] Candida18 commented on #4312
Can I work on this?

[2022-10-06 16:52] AyushK-101 commented on #4297
@arpitnath I didn't know about that, actually the user who was assigned this issue removed his assignment and now there are a bunch of people who wish to contribute to this issue, so I thought it would be best to make a PR directly. I get it , in case the issue stays unresolved, feel free to review my PR.

[2022-10-06 17:12] mohdhaider07 commented on #4243
@arpitnath can you please assign any  good first issue

[2022-10-06 17:25] adityapathakk commented on #4288
I see that this issue is still open. If required, I can contribute!

[2022-10-06 18:16] shah21 opened #4338 "Organization menu didn't show for non-admin users in single workspace mode"
### Version Information
Latest
### Environment

All

### What is the current behaviour?

The organization menu didn't show for non-admin users in single workspace mode
### How to reproduce the issue?

1. Create a new user in a single workspace instance
2. log in to the new user's workspace & observe

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-06 18:35] Shelly011s commented on #4185
@arpitnath hello, I am sorry but I am having trouble setting up the project and no one on slack is able to help me, hence I will not be able to work on this issue.

[2022-10-06 19:42] stepinfwd opened #4340 "Option to disable action buttons :: Table widget"
### Is your proposal related to a problem?
Currently no option to disable action button in table.

### Describe the solution you'd like
Add an option to toggle enable/disable in table widget

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-06 23:33] dankokonate commented on #2587
Hello, If this issue is not assigned can i take this ?

[2022-10-07 04:01] #4129 closed

[2022-10-07 04:54] sidbelbase opened #4343 "[localization] Translate App Card in Nepali Language"
### Is your proposal related to a problem?

Add Nepali language support for App Card `Strings`

### Describe the solution you'd like

I would really love it if the following strings were translated into the Nepali language

[code]

### Describe alternatives you've considered

I followed the guide provided in [this link (tooljet localization documentation)](https://docs.tooljet.com/docs/contributin

[2022-10-07 05:12] vedant-z commented on #4312
@bestpika If this is confirmed may I work on this please?

[2022-10-07 05:48] withshubh commented on #4288
Hey @adityapathakk 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-07 05:58] withshubh commented on #4297
Hey @vedant-z
Assigning the issue to you since you were the first to show interest after the previous assignee unassigned himself.

[2022-10-07 06:06] vedant-z commented on #4297
@withshubh Thanks a lot

[2022-10-07 06:08] withshubh commented on #4297
Hi all,

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

cc: @Syed-Ansar @AyushK-101 @adityapathakk @OjashKush @WadekarPrashant @TheOjasSingh @mayankagnihotri7 @BajajAyush @shashwat933 @Priyanshu-Si

[2022-10-07 06:39] washbin opened #4344 "[docs]: github flow link broken"
### Summary

I was reading the contributing guides for tooljet and while opening the associated links, The link to Github Flow was broken and I was redirected to the main docs page.

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://github.com/ToolJet/ToolJet/blob/develop/CONTRIBUTING.md

### Steps to reproduce the issue

1. Open ToolJet github repo

[2022-10-07 06:48] withshubh commented on #4344
Hey @washbin
Thanks for raising the issue.
From next time please wait for the issue to be confirmed and assigned to you before creating a PR.

[2022-10-07 06:48] washbin commented on #4344
@withshubh doesnt it make sense to not include up-for-grabs label for issues that are already taken or have an open PR, I have surfed through various repositries hoping to come across issues open for working but sadly most come up already taken even with the up-for-grabs label.
Is the label meant for something else or am I misunderstanding something  ?

[2022-10-07 06:49] washbin commented on #4344
Ohh, sure, was rushing a little, my bad.

[2022-10-07 06:58] withshubh commented on #2860
Hey @exitflynn Please create the PR for the issue that is already assigned to you. We can then move to another issue.

[2022-10-07 07:01] withshubh commented on #4243
Hey @mohdhaider07

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-07 07:08] withshubh commented on #4320
Hey @depapp
Thanks for helping localize ToolJet. Let's finish the whole Indonesian in this Issue?

[2022-10-07 07:12] #4334 closed

[2022-10-07 07:15] #4336 closed

[2022-10-07 07:24] withshubh commented on #985
Hey @WadekarPrashant
This issue is already assigned to someone. Please look for issues that are unassigned.

[2022-10-07 07:56] withshubh commented on #4188
Hey @SupOrg
Assigning this issue to you.

[2022-10-07 08:10] bestpika opened #4347 "Data is not immediately available after running "set variable" in runjs"
### Version Information

### Environment

- ToolJet | v1.26.1 (docker)

### What is the expected behaviour?

Use `actions.setVariable` to set the global variable and then read `variables` to get the data.

### What is the current behaviour?

I got `undefined`.

### How to reproduce the issue?

1. Reload page.
1. Execute the following runjs code.
[code]

### Screenshots or Screencast

![image](http

[2022-10-07 08:33] depapp commented on #4320
sure @withshubh , I'll update the issue title and working on it 🍻

[2022-10-07 09:42] arpitnath opened #4348 "Table widget: Add support for server side filtering"
## Proposed feature request
Option to toggle between client and server-side filtering the data and populating the same to the table widget.

On **server-side filtering** toggled on, the current data of the table should get any updates.
Instead, an event **On filter changed** can be binded with the action **Run Query**, which fires the query on filter change and populate the table with the filtered

[2022-10-07 11:02] #4344 closed

[2022-10-07 12:07] #4079 closed

[2022-10-07 14:16] arpitnath commented on #4312
Hi @Candida18 and @bestpika, Thanks for showing interest in contributing to ToolJet.

@Candida18 You should raise a Pull Request only when the issue is assigned to you by the core team.
Ignoring, for the first time, and assigning the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)
Happy

[2022-10-07 15:17] nilanshu24 commented on #4207
Hi, I am interested to work, can i work on this?

[2022-10-07 15:19] nilanshu24 commented on #4164
Hello, Can i work on this?

[2022-10-07 15:39] Candida18 commented on #4312
Sorry for the mistake. Could you please review the PR? @arpitnath
Thank you!

[2022-10-07 17:19] AyushK-101 commented on #3962
Can I work on this?

[2022-10-07 18:34] AbhishekTiwari23 commented on #4289
If the issue is still going on, then please let me know. I want to contribute.

[2022-10-07 18:35] AbhishekTiwari23 commented on #4237
If this issue is still going on, then please let me know. I want to contribute

[2022-10-07 18:38] AbhishekTiwari23 commented on #4207
If the issue still exists, then please let me know. I want to contribute

[2022-10-07 18:49] AbhishekTiwari23 commented on #4260
If the issue still exists, please assign it to me.

[2022-10-08 01:46] MrKrishnaAgarwal commented on #4289
I am already assigned and I have already made a PR.

[2022-10-08 03:53] arushmangal commented on #4185
Hey, I can take this issue up! @withshubh

[2022-10-08 04:04] arushmangal commented on #4182
Incase the assignee is unable to resolve the issue, I can resolve it!

[2022-10-08 04:41] arushmangal opened #4351 "[localization]: Translate Widget and Widget Manager in French"
### Summary

Translations for the 'Widget' and 'Widget Manager' in French need to be added

![Annotation 2022-10-08 101047](https://user-images.githubusercontent.com/83538403/194688691-62043314-16bf-4232-a7a5-df6313212c38.jpg)

Here's the guide to contributing to [localization](https://docs.tooljet.com/docs/contributing-guide/l10n)

Once approved, please assign the issue to me and I'll submit the

[2022-10-08 04:44] #4351 closed

[2022-10-08 04:45] arushmangal opened #4352 "[localization] Translate Widget and Widget Manager to French"
### Is your proposal related to a problem?
Add translations for Widget and Widget Manager strings in French.

### Describe the solution you'd like
The strings for 'Widget' and 'Widget Manager' to be translated to French

![Annotation 2022-10-08 101047](https://user-images.githubusercontent.com/83538403/194688840-ee305f5a-6256-4119-bcd3-a39833ef9999.jpg)

### If the feature is approved, would you b

[2022-10-08 04:48] arushmangal opened #4353 "[localization] Translate Confirmation Page strings to French"
### Is your proposal related to a problem?
Add translations for Confirmation Page strings in French.

### Describe the solution you'd like
Add translations for Confirmation Page strings in French:

![Annotation 2022-10-08 101807](https://user-images.githubusercontent.com/83538403/194688945-4cd8e965-d568-49bb-877d-0f9bdefc06d0.jpg)

### If the feature is approved, would you be willing to submit a P

[2022-10-08 05:35] keerthanasathya commented on #4233
Hey @arpitnath , where can I find unassigned issues to contribute?!

[2022-10-08 07:26] Frenchtoast0 opened #4354 ""Unlimited" Character Title Possible"
### Version Information

### Environment
ToolJet Cloud - Windows

### What is the expected behaviour?
I can create a title with an "unlimited" amount of characters.

### What is the current behaviour?
Currently, I can bypass the 25 character limit with simple developer tools and then make a title with an unlimited length.

### How to reproduce the issue?

1. Go to the create dashboard page
2. Open

[2022-10-08 07:32] Frenchtoast0 opened #4355 "Negative Canvas Widths"
### Version Information

### Environment
Tooljet Cloud - Windows

### What is the expected behaviour?
Negative canvas width's not allowed.

### What is the current behaviour?
App allows me to enter a negative canvas width.

### How to reproduce the issue?

1. Open settings
2. Set max canvas width to a negative number

### Screenshots or Screencast
![image](https://user-images.githubusercontent.com

[2022-10-08 07:35] Frenchtoast0 commented on #4353
I would be interested in doing this one.

[2022-10-08 15:58] Ruchika30 commented on #4298
hi @withshubh  Kindly assign it to me too. Would like to look into it if not fixed yet

[2022-10-08 16:02] Ruchika30 commented on #4189
hi  @arpitnath  Kindly assign it to me too. Would like to look into as it looks like there is no update on the issue

[2022-10-08 16:02] Ruchika30 commented on #4206
hi  @arpitnath  Kindly assign it to me too. Would like to look into as it looks like there is no update on the issue

[2022-10-08 16:03] Ruchika30 commented on #4167
hi  @withshubh   Kindly assign it to me too. Would like to look into as it looks like there is no update on the issue

[2022-10-08 17:33] aloks98 commented on #4167
Working on it still ✌🏻

[2022-10-08 18:11] Shelly011s commented on #4185
@withshubh @arpitnath Hey I just figured the issues with setting up the project and I have started working on this issue. So kindly do not unassign me.

[2022-10-08 19:48] gottfired opened #4357 "docker-compose contains unsupported option "platform""
### Version Information
develop branch, git hash: 6b655b7f17b7848f4948e2f6037ae932cd63bd1d

### Environment
ToolJet Cloud / Docker

### What is the expected behaviour?
docker-compose build should work

### What is the current behaviour?
Running `docker-compose build` gives

[code]

platform is not supported with docker-compose version "3" (see e.g. https://github.com/docker/cli/issues/1050)

### H

[2022-10-08 21:00] MuhammadAakash commented on #4206
@Ruchika30  am on it. I was busy the whole week.
Will do it over the weekend, and let you know.

[2022-10-08 21:08] Shelly011s commented on #4352
I would like to take on this issue.

[2022-10-09 06:22] freakomonk commented on #4296
Hi. @yashdhanore Are you currently working on this ? Please let us know if we can take this up

[2022-10-09 06:46] MuhammadAakash commented on #4206
Hi @Ruchika30. Please start working on this issue after confirming it from @arpitnath
Because I don't have time. so best wishes.

[2022-10-09 07:34] AyushK-101 commented on #4060
I would like to work on this

[2022-10-09 07:35] yashdhanore commented on #4296
@freakomonk I'm working on it. will let you know if i get stuck

[2022-10-09 07:59] AyushK-101 commented on #4206
Looks like the original assignee has removed his assignment. I would like to work on the issue @arpitnath if you could assign it to me.

[2022-10-09 08:16] withshubh commented on #4243
Hey @abhishekpatil4 👋  - The PR will be reviewed soon.

[2022-10-09 08:19] Ruchika30 commented on #4206
Sure . On it . Thanks for informing @MuhammadAakash . Please assign it to me @arpitnath

[2022-10-09 08:21] withshubh commented on #4237
Hey @iamakhileshmishra - Any updates on the PR?

[2022-10-09 08:32] withshubh commented on #4298
Hey @Ruchika30 👋

Thanks for your interest in contributing to ToolJet but the assignee has already created a PR for this issue.

You can look for other open issues and make sure it isn't assigned to someone.

[2022-10-09 10:09] arpitnath commented on #4207
@laurisseau Any updates on this issue?

[2022-10-09 10:14] arpitnath commented on #4240
@alammoiz
This is the same file from the latest develop https://github.com/ToolJet/ToolJet/blob/develop/frontend/src/Editor/Inspector/Components/DefaultComponent.jsx#L145

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-09 13:09] tanishk-23 commented on #4355
@Frenchtoast0 Can you please assign this issue to me?

[2022-10-09 13:11] tanishk-23 commented on #4354
@Frenchtoast0 Can you assign this to me?

[2022-10-09 13:25] anshu189 commented on #4355
@Frenchtoast0 I'd like to fix this issue as I did a similar one earlier, kindly assign it to me.

[2022-10-09 16:01] prakhar-198 commented on #4297
Is there something still left to be done? assign me.

[2022-10-09 16:04] prakhar-198 commented on #4206
Is there something still left to be done? Please assign me.

[2022-10-09 16:05] prakhar-198 commented on #4289
Is there still something left to be done? please assign me I'll fix it!

[2022-10-09 16:48] MrKrishnaAgarwal commented on #4289
I have already made a PR, please look for some other issues, Thanks

[2022-10-09 16:59] prateek-1606 commented on #2998
Hi @sherfin94 . i would like to work on this if any one can confirm this feature.
Thanks

[2022-10-09 17:10] prateek-1606 commented on #2987
Hey @withshubh , i would like to work on this issue by creating an option to disable an action button. can you assign it to me ?.
Thanks

[2022-10-09 18:03] mohithgupta commented on #4206
I can make a PR for this. You can assign this to me if possible.

[2022-10-09 18:05] mohithgupta commented on #4239
Can you provide a screenshots for reproducing the issue ? Then you can assign this to me if possible!

[2022-10-09 18:06] mohithgupta commented on #4267
Oh ok Thanks Arpit! I guess I can close the issue now?

[2022-10-09 20:45] AyushK-101 commented on #2860
I would like to work on this if the issue is still unresolved @withshubh

[2022-10-09 21:03] Frenchtoast0 commented on #4355
I’m not a repository manager.  I just posted the issue for them to review.

[2022-10-09 21:56] ishita-0023 opened #4362 "Add Dark Mode Feature"
Dark mode purportedly reduces glare and blue light on your digital screens, making it a better option for your eyes as compared to light mode. That being said, dark mode may lead to more vision issues in some cases.
Therefore I would love to add dark mode to the website

Please assign me this issue.
#hacktoberfest2022

[2022-10-09 21:59] #4362 closed

[2022-10-09 23:59] owengaspard commented on #878
@withshubh If someone is needed to work on this, I would be happy to.

[2022-10-10 02:39] #4245 closed

[2022-10-10 02:42] #4289 closed

[2022-10-10 02:44] #4242 closed

[2022-10-10 04:22] withshubh commented on #2860
Hey @AyushK-101

Assigned it to you.

[2022-10-10 04:26] withshubh commented on #2987
Hey @prateek-1606
Sorry but a team member has already submitted a PR for this #4341
Please pick any other open issue.

[2022-10-10 06:19] marazzax commented on #4354
I can help you with this one, can you assign this to me.

[2022-10-10 07:41] #4133 closed

[2022-10-10 08:36] kavinvenkatachalam commented on #4312
@bestpika Instead of passing additional props to the custom component, the requirement can be achieved by passing it to the data props. Attaching the same data for your reference and closing the issue

`{{{ title: 'Hi! There', buttonText: 'Update Title', customVariable: variables}}}`

You can use the `data.customVariable` inside the custom component to get global variables access. The component da

[2022-10-10 08:36] #4312 closed

[2022-10-10 11:48] #4262 closed

[2022-10-10 12:27] jibe-b opened #4363 "Drag and drop of comment kills the UI"
### Version Information

### Environment
Tooljet cloud, using Firefox on Linux

### What is the expected behaviour?
Drag and drop of comment moves the pin.

### What is the current behaviour?
The full UI disappears

### How to reproduce the issue?

1. Create a comment
2. Click on the comment to drag it
3. See the

### Screenshots or Screencast

Here is the pin of a comment
![image](https://user-im

[2022-10-10 13:33] arpitnath commented on #4021
Additional description
The exposed variable `currentData` is not updated if the length of the data is the same as previous one.

[2022-10-10 16:23] Shelly011s commented on #1692
I would like to work on this issue. But could please provide some details on what should be expected behaviour.

[2022-10-10 18:35] Drishti-jain21 opened #4367 "[docs]: Making Changes to Contributing.md"
### Summary

We can add proper guide on how to contribute to this repository, including some helpful pictures.
This can be useful for the first time contributors.

We can also add text according to the different issues that can be created along with making them into clickable link for easier user experience
<img width="784" alt="image" src="https://user-images.githubusercontent.com/100796147/19493

[2022-10-10 20:06] yashdhanore commented on #4296
@freakomonk you can have it

[2022-10-11 02:30] TKirtan commented on #4367
Can I work on this issue ?

[2022-10-11 02:37] Drishti-jain21 commented on #4367
@TKirtan I am working on this issue

[2022-10-11 03:35] #4348 closed

[2022-10-11 03:38] #4297 closed

[2022-10-11 03:40] #4298 closed

[2022-10-11 05:10] ShabanaNaik opened #4369 "Needs check and fix in Sigin in the Mobile Website of Tooljet"
### Version Information
Mobile Phone: Samsung J8

### Environment

    ToolJet Mobile

### What is the expected behaviour?
  The Sig In and  Try Tooljet Cloud links should direct to respective webpages

### What is the current behaviour?

  When I am trying to Sign in or use the Try Tooljet Cloud it is not redirecting me to any webpages rather the navbar just closes.
 I tried the same with other p

[2022-10-11 05:40] stepinfwd commented on #4369
Hey , @ShabanaNaik  Thanks for reporting the issue its fixed 🎉   , ToolJet website and platform is managed separately so  closing this here.Please feel free to check on other open issues with `[hacktoberfest]` or `good-first-issue` tags.

[2022-10-11 05:40] #4369 closed

[2022-10-11 05:53] ShabanaNaik commented on #4369
Thank you for your timely reply.
Please also check the signup page where the login button is hidden by the chatbox mobile phone
![Screenshot_20221011-100716_Chrome](https://user-images.githubusercontent.com/76608039/195006166-cc06c81d-e420-4096-a32f-1b70eeb74d7a.jpg)