[2022-10-11 05:54] shubh22 commented on #4343
Hi,
We do not have any plans to support the Nepali language as of now. So closing the issue.

[2022-10-11 05:54] #4343 closed

[2022-10-11 06:15] shubh22 commented on #4354
Hi @Frenchtoast0,
Assigned the issue to you.

[2022-10-11 06:50] withshubh commented on #4296
Hey @amit-ksh 👋
Are you interested in working on this issue?

[2022-10-11 06:53] amit-ksh commented on #4296
Yup! I'm interested @withshubh

[2022-10-11 07:35] withshubh commented on #4296
Yes!!

Assigned it to you.

[2022-10-11 07:44] #3953 closed

[2022-10-11 08:17] #4164 closed

[2022-10-11 08:21] alta-atc commented on #2814
Wow! Thanks guys!

On Tue, Jun 14, 2022, 12:36 AM Sherfin Shamsudeen ***@***.***>
wrote:

[2022-10-11 10:36] Zunaid24 commented on #4182
Hey @arushmangal, Thanks but I'm still working on it.

[2022-10-11 11:19] withshubh commented on #4367
Hey @Drishti-jain21 👋

Thanks for showing interest in contributing to ToolJet but the current version of our Contributing Guide is really simple and straight forward, and we would like to keep it that way. :)

Having said that I would like you to pick other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-11 11:19] #4367 closed

[2022-10-11 11:27] alammoiz commented on #4240
https://github.com/ToolJet/ToolJet/pull/4372
@arpitnath , please review

[2022-10-11 11:54] Drishti-jain21 opened #4374 "[localization] Translate Confirmation Page Strings Spanish"
### Is your proposal related to a problem?
Add translations for confirmation page strings in Spanish

### Describe the solution you'd like
The strings need to be translated.

![image](https://user-images.githubusercontent.com/100796147/195082367-2b337242-a9a6-40ea-9459-3276d0e93fe2.png)

### If the feature is approved, would you be willing to submit a PR?
yes

[2022-10-11 11:59] withshubh commented on #4363
Thanks, @jibe-b for creating the issue. We will work on fixing it soon.

[2022-10-11 12:02] Drishti-jain21 commented on #4374
@withshubh please assign me this issue

[2022-10-11 12:21] withshubh commented on #4320
Hey @depapp - Any update on it?

[2022-10-11 12:49] withshubh commented on #4260
Closing this issue as we already have the docs for tree select: https://docs.tooljet.com/docs/widgets/tree-select

[2022-10-11 12:49] #4260 closed

[2022-10-11 13:36] alammoiz commented on #4239
@arpitnath could you please assign to me this?

[2022-10-11 13:37] depapp commented on #4320
hi @withshubh
I've working on it, I'll raise the PR tomorrow 🙇

[2022-10-11 15:22] amit-ksh commented on #4296
@withshubh I'm facing difficulties setting up Tooljet locally.
Server was not able to make connections with DB. And my best guess is that I'm setting env variables right. Can you help me with that?

[2022-10-11 18:31] rushikeshadhav commented on #4354
Is this open? @Frenchtoast0  are you working on it?

[2022-10-11 18:34] rushikeshadhav commented on #4244
Hey, @Rahul-Palahwat are you still working on it?
If not I would like to take it up?

[2022-10-11 18:37] rushikeshadhav commented on #4374
Can you please assign me?

[2022-10-12 06:09] shubh22 commented on #4275
Hi @DanyaBrain, we are already working on fixing this on priority. Should be available in a week. Cheers.

[2022-10-12 06:32] #4182 closed

[2022-10-12 06:34] Navaneeth-pk commented on #4374
Closing as one of the contributors is already working Spanish translation.

[2022-10-12 06:34] #4374 closed

[2022-10-12 06:37] #4286 closed

[2022-10-12 06:37] Drishti-jain21 commented on #4374
No one is working on this part. Everyone is working on translating different strings than this
I request you to check it once, please

[2022-10-12 06:37] Drishti-jain21 commented on #4374
@Navaneeth-pk

[2022-10-12 06:46] Frenchtoast0 commented on #4354
I'm having some difficulties getting the local development environment running with docker-compose.  Any idea of the cause of this error?
![image](https://user-images.githubusercontent.com/38544250/195269257-749333b5-a226-4a98-9724-77b196fb8ab6.png)
I tried to follow these instructions as close as possible. https://docs.tooljet.com/docs/setup/docker/

[2022-10-12 06:55] withshubh opened #4380 "Change the `delete` modal color in dark mode"
### Is your proposal related to a problem?

The delete modal color is `light` even in dark mode.

### Describe the solution you'd like

Change the modal color to match the dark mode.

<img width="405" alt="Screenshot 2022-10-09 at 7_24_21 AM" src="https://user-images.githubusercontent.com/25361949/195271038-f7176cfb-bd9c-422f-8ffe-42fd7057f0b0.png">

### Steps to reproduce the issue
- Go to Manage

[2022-10-12 07:10] Hrx4 commented on #4380
Hey so how exactly do we contribute? where can we see the current modal? i am new to this , it would be great if you could help me this

[2022-10-12 07:20] D1ang commented on #4380
Hi I would like to take this one up.

[2022-10-12 07:23] Omm2005 commented on #4380
I also wanna contribute in this but I am confused how to! I am new to this

[2022-10-12 07:52] PratyayDhond commented on #4380
@withshubh

![image](https://user-images.githubusercontent.com/80563848/195282918-2d74f92c-ae61-4c79-8771-f5d49e2f647a.png)

do you want the whole card's color to meet the dark mode? I can do this, and what we can do is, how about we make the text for permanantly delete as bold, so that people's attention goes there whenever deleting.

[2022-10-12 07:55] PratyayDhond commented on #4380
@withshubh Continuing the previous comment,

For the card in dark mode, what I can do is make the  background a bit more blur/reduce opacity and focus on the card. The card will have the same color as of the background of dark mode, but when the card is opened, the background will have lowered opacity so that the card is in focus.

[2022-10-12 08:19] Rutam21 opened #4381 "[localization] Translate Confirmation Page strings to Hindi"
### Is your proposal related to a problem?

Add translations for Confirmation Page strings in Hindi.

### Describe the solution you'd like

Add translations for Confirmation Page strings in Hindi:

![Confirmation Page](https://user-images.githubusercontent.com/47860497/195289038-8b3810e4-bfb8-4ef8-97de-6208d1fcda60.jpg)

### If the feature is approved, would you be willing to submit a PR?
- [x] Ye

[2022-10-12 08:21] Rutam21 commented on #4381
@withshubh Please review, and assign it to me if approved.

[2022-10-12 08:23] withshubh opened #4382 "[Manage Groups] Highlight the selected apps in dark mode"
### Is your proposal related to a problem?

The selection is not clearly visible when the apps are selected for a group (in dark mode)

### Describe the solution you'd like

Change the color for the selected apps to be visible

### Steps to reproduce the issue
- Go to the `Manage Groups` from the dashboard
- Toggle dark mode
- Open a group
- Select apps to add to the group

https://user-images.git

[2022-10-12 08:24] Rutam21 opened #4383 "[localization] Translate Widget and Widget Manager to Hindi"
### Is your proposal related to a problem?

Add translations for Widget and Widget Manager strings in Hindi.

### Describe the solution you'd like

Add translations for Widget and Widget Manager strings in Hindi:

![194688840-ee305f5a-6256-4119-bcd3-a39833ef9999](https://user-images.githubusercontent.com/47860497/195290146-ebdea929-97fc-4e26-86b0-b57da62d86c9.jpg)

### If the feature is approved,

[2022-10-12 08:24] Rutam21 commented on #4383
@withshubh Please review, and assign it to me if approved.

[2022-10-12 08:28] withshubh opened #4384 "[Manage Users] Change the invite link copied toast position to top"
### Is your proposal related to a problem?

When the invite link for the user is copied, the toast notification is displayed on the bottom right corner.

### Describe the solution you'd like

Change the location of the toast notification to the top.

### Steps to reproduce the issue
- Go to the `Manage Users` from the dashboard
- Invite a user
- On the `Status` field click on the copy button next

[2022-10-12 08:31] gagandeepp commented on #4384
interested please assign

[2022-10-12 08:37] withshubh opened #4385 "The workspace switching arrow appears only when hovered over in dark mode"
### Is your proposal related to a problem?

The option to switch the workspace has an arrow that is not visible in the dark mode until the cursor hovers over the workspace name.

### Describe the solution you'd like

Make the cursor and workspace image visible in dark mode.

### Steps to reproduce the issue
- Toggle dark mode
- Go to the dropdown on the navbar
- Hover over the workspace name

![Sc

[2022-10-12 08:43] withshubh opened #4386 "Shows 2 toast notifications when the widget name is empty"
### Is your proposal related to a problem?

When a value of a widget name is set to empty, it throws two toast errors.

### Describe the solution you'd like

Show only one toast notification for this error.

### Steps to reproduce the issue
- On the app builder, drag a widget and set its name to an empty value
- Click anywhere on the canvas

[screen-capture (7).webm](https://user-images.githubuser

[2022-10-12 08:45] sherfin94 commented on #4347
Hey @bestpika , this seems to be a valid bug that needs to be fixed. I'm tagging it as a bug and we'll get to it as soon as possible.

[2022-10-12 09:16] KushalRaut commented on #4385
I would like to work on this issue. Please assign it to me.

[2022-10-12 09:16] TheLearneer commented on #4386
Hi @withshubh 👋

I would like to give it a shot 🙇

[2022-10-12 09:20] alammoiz commented on #4386
Could you please assign it to me?

[2022-10-12 09:21] alammoiz commented on #4385
Could you please assign it to me?

[2022-10-12 09:23] alammoiz commented on #4384
Could you please assign it to me?

[2022-10-12 09:23] alammoiz commented on #4382
Could you please assign it to me?

[2022-10-12 09:29] RachitGarg-12 commented on #4384
Hey @withshubh   please assign me this issue.

[2022-10-12 09:42] Manthan-Kuber commented on #4204
@arpitnath Can you assign it to me if it's still unsolved? I am willing to solve it.

[2022-10-12 09:57] Smartmind12 opened #4387 "Redirect to Tutorials Page Error"
### What is the expected behaviour?

The Expected behaviour would be to redirect page to tutorials page on tooljet.

### What is the current behaviour?

Currently the "Tutorials" section in the footer of Tooljet Docs takes you to a "Page Not Found".

### How to reproduce the issue?

1. Go to (https://docs.tooljet.com/docs/)
2. Scroll down to the page footer
3. Click "Tutorials" and find the error

[2022-10-12 10:00] Smartmind12 commented on #4387
Hey! I have raised this issue as i would be working on it...so I request you to find another issue to work on ...Thanks!!

[2022-10-12 10:01] ghousahmed commented on #4387
Okay

[2022-10-12 10:39] shah21 opened #4388 "[enhancement] Should manage errors when a user tries to access an app it doesn't have access"
### Is your proposal related to a problem?

Now, it Opens the app editor when a user tries to access an app it doesn't have access to.

### Describe the solution you'd like

Redirect to another page (Dashboard or show 403 error page)

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-12 11:23] withshubh opened #4390 "[cypress] Fix failing manage SSO spec in single workspace"
### Specify the kind of test

Due to some recent updates, the manageSSO spec in single workspace is failing.

### Describe the test

Fix the cypress test to avoid failure.

Link to file: https://github.com/ToolJet/ToolJet/blob/develop/cypress-tests/cypress/e2e/dashboard/single-workspace/manageSSO.cy.js

[2022-10-12 11:25] withshubh opened #4391 "[cypress] Fix failing manage SSO spec in multi workspace"
### Specify the kind of test

Due to some recent updates, the manageSSO spec in multi-workspace is failing.

### Describe the test

Fix the cypress test to avoid failure.

Link to file: https://github.com/ToolJet/ToolJet/blob/develop/cypress-tests/cypress/e2e/dashboard/multi-workspace/manageSSO.cy.js

[2022-10-12 11:26] tanishk-23 commented on #4390
@withshubh can you assign this issue to me?

[2022-10-12 11:26] tanishk-23 commented on #4391
@withshubh  can you assign this issue to me?

[2022-10-12 11:28] withshubh opened #4392 "[cypress] Fix failing manage groups spec"
### Specify the kind of test

Due to some recent updates, the manageGroups spec is failing.

### Describe the test

Fix the cypress test to avoid failure.

Link to file: https://github.com/ToolJet/ToolJet/blob/develop/cypress-tests/cypress/e2e/dashboard/manageGroups.cy.js

[2022-10-12 11:28] tanishk-23 commented on #4386
@withshubh can you assign this issue to me?

[2022-10-12 11:28] akarsh-jain-790 commented on #4391
@withshubh can you assign this to me?

[2022-10-12 11:29] akarsh-jain-790 commented on #4392
@withshubh can u assign this issue to me?

[2022-10-12 11:31] tanishk-23 commented on #4382
@withshubh Can you assign this to me?

[2022-10-12 11:33] tanishk-23 commented on #4385
@withshubh can you assign this issue to me?

[2022-10-12 11:53] FroostyCodes commented on #4392
Can I work on it?

[2022-10-12 11:55] withshubh commented on #4392
Hi @akarsh-jain-790

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-12 11:59] withshubh commented on #4382
Hi @Shoray2002

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-12 12:01] withshubh commented on #4386
Hi @TheLearneer

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

[2022-10-12 12:02] withshubh commented on #4386
Hey @alammoiz & @tanishk-23

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-12 12:03] alammoiz commented on #4391
Please assign this to me.

[2022-10-12 12:03] withshubh commented on #4392
Hi @FroostyCodes

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-12 12:03] alammoiz commented on #4390
Please assign this to me.

[2022-10-12 12:06] withshubh commented on #4391
Hi @tanishk-23

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-12 12:23] withshubh commented on #4387
Hi @Smartmind12

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

Also, you'll need to put this URL for Tutorial: https://docs.tooljet.com/docs/category/tutorial

[2022-10-12 13:21] sherfin94 opened #4393 "Automatic Columns generation in Table"
### Is your proposal related to a problem?

Currently, it is tedious to configure columns in table once a query is linked to it.

### Describe the solution you'd like

Automatically generate table column configuration based on the data that's fed to the table.

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-12 14:20] TheLearneer commented on #4386
Hi @withshubh

I was debugging this issue and realized that the `onBlur` event is firing multiple times itself, causing the toast notification to tigger multiple times itself.

Would love to hear the thoughts from you guys about what would the best way to handle the issue.

[2022-10-12 15:48] thenishantsapkota opened #4396 "[localization] translate all strings in Nepali"
### Is your proposal related to a problem?
Add translations in Nepali for `homePage`, `confirmationPage`, `onBoarding`, `redirectSso`, `oAuth2`, `widgetManager` section

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### If the feature is approved, would you be willing

[2022-10-12 16:21] Smartmind12 commented on #2895
@withshubh Can i work on the issue if TriJayDore is not working on it since 9 days have passed and no commits have been published yet?

[2022-10-12 16:27] #2634 closed

[2022-10-12 16:30] ajith-k-v opened #4397 "Newly created groups do not have a select-box for adding users."
### Version Information

### Environment

### What is the expected behaviour?
Newly created groups should have a select box for adding users.

### What is the current behaviour?
Newly created groups do not have a select box for adding users.

### Screenshots or Screencast

[Video](https://drive.google.com/file/d/1OGTlOB2HMIuaeFypbn1MLMtfqh_DN51K/view?usp=sharing)
### Please provide any traces or l

[2022-10-12 16:34] Smartmind12 opened #4399 "[docs]: Add more Keyboard Shortcuts"
### Summary

Currently there are only a limited number of shortcuts added in the [Keyboard Shortcuts Page](https://docs.tooljet.com/docs/tutorial/keyboard-shortcuts).
Some existing shortcuts are operational but they are yet to be added in the documents as they help users work in a faster manner.

### Issue Type

Documentation feature/update

### The entire URL of the documentation with the issue

[2022-10-12 16:56] #4393 closed

[2022-10-12 17:25] Abhay5855 commented on #4384
can you assign me this issue?

[2022-10-12 17:26] Abhay5855 commented on #4380
Can I work on this issue, please?

[2022-10-12 17:29] Abhay5855 commented on #4233
Can I work on this issue?

[2022-10-12 17:30] Abhay5855 commented on #4207
Can I work on this issue?

[2022-10-13 05:06] abhishekpatil4 commented on #4243
@withshubh @arpitnath I've done the suggested changes, please verify my pull request

[2022-10-13 05:48] #4021 closed

[2022-10-13 05:55] withshubh commented on #4380
Hey @PratyayDhond

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-13 05:57] withshubh commented on #4380
Create a PR with your solution. We will review it and let you know if any change is required.

[2022-10-13 05:58] withshubh commented on #4384
Hey @gagandeepp

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-13 06:00] withshubh commented on #4384
Hi all,

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

cc: @AbhishekRP2002 @alammoiz @RachitGarg-12 @Abhay5855

[2022-10-13 06:16] withshubh commented on #2895
Hey @TriJayDore 👋

Any updates on the PR?

[2022-10-13 06:21] withshubh commented on #4387
Hey @Smartmind12 👋

Thank you for contributing to ToolJet.
Unfortunately, we won't be able to add Hacktoberfest labels as we are not encouraging typos or minor URL fixes as meaningful contributions.

[2022-10-13 06:28] withshubh commented on #4387
Hey @Smartmind12 👋

Thank you for contributing. 😇
Only the issues with the [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest) label are valid for `hacktoberfest-accepted` label in their PRs.

[2022-10-13 06:43] #4387 closed

[2022-10-13 06:48] Frenchtoast0 commented on #4354
Entrypoint script needed to be updated to:

#!/bin/bash
set -e

if [ -d "./server/dist" ]
then
  SETUP_CMD='npm run db:setup:prod'
else
  SETUP_CMD='npm run db:setup'
fi

if [ -f "./.env" ]
then
  declare $(grep -v '^#' ./.env | xargs)
fi

npm run db:setup

exec "$@"

[2022-10-13 06:56] withshubh commented on #4390
Hey @tanishk-23

You already have an issue assigned. We can only assign another issue once a PR is created for the assigned one.
- https://github.com/ToolJet/ToolJet/issues/4391

[2022-10-13 06:56] withshubh commented on #4390
Hey @alammoiz 👋

Assigned this to you.

[2022-10-13 06:59] withshubh commented on #4383
Hi @Rutam21 👋

Thanks for showing interest in contributing to ToolJet.
Closing this issue as the Hindi localization is currently not on our roadmap. We will create the issue if we plan to add it in future.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-13 06:59] #4383 closed

[2022-10-13 07:00] withshubh commented on #4381
Hi @Rutam21 👋

Thanks for showing interest in contributing to ToolJet.
Closing this issue as the Hindi localization is currently not on our roadmap. We will create the issue if we plan to add it in the future.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-13 07:00] #4381 closed

[2022-10-13 07:06] Frenchtoast0 commented on #4354
https://github.com/ToolJet/ToolJet/pull/4402

[2022-10-13 07:20] withshubh commented on #4296
You can always join our slack community and ask for any help with ToolJet : https://tooljet.com/slack

[2022-10-13 07:50] #4397 closed

[2022-10-13 08:22] shubh22 commented on #4396
Hi @thenishantsapkota,
Thanks for showing interest, but we do not intend to support Nepali Language for now.

[2022-10-13 08:22] #4396 closed

[2022-10-13 08:25] shubh22 commented on #4355
Hi @Frenchtoast0,
Have assigned the issue to you.

[2022-10-13 08:29] shubh22 commented on #4318
Hi @sudOnur ,

GUI option for this would be a good solution.
Would be willing to raise a PR for this?

[2022-10-13 08:45] #4283 closed

[2022-10-13 08:55] #4157 closed

[2022-10-13 09:39] shivani1706 commented on #4244
can you assign me this issue

[2022-10-13 09:40] withshubh commented on #4278
Hey @bobbintb Thanks for creating the isssue.
Closing this issue as it is not relevant as of now. We might add it in the roadmap in the future.

[2022-10-13 09:40] #4278 closed

[2022-10-13 09:42] withshubh commented on #4277
Hey @DanyaBrain
Thanks for creating the issue. We will discuss this internally and add to the roadmap.

[2022-10-13 09:43] withshubh commented on #4276
Hey @DanyaBrain

This is a valid feature request. We will consider adding it to the roadmap but can't assure the timeline right now.

[2022-10-13 09:46] #4082 closed

[2022-10-13 09:46] #1926 closed

[2022-10-13 09:47] withshubh commented on #4226
Hey @Roaster05
Thanks for creating the issue. Closing this issue as the feature is currently not on our roadmap.

[2022-10-13 09:47] #4226 closed

[2022-10-13 09:49] #4217 closed

[2022-10-13 09:52] withshubh commented on #4213
Hey @PrasanthKumar77

We are looking into it. We'll share updates on it soon.

[2022-10-13 09:53] withshubh commented on #4211
Hey @PrasanthKumar77

Thanks for creating the issue. This feature is under development, we will let you know once the feature is released.

[2022-10-13 09:54] withshubh commented on #4210
Hey @PrasanthKumar77

Thanks for creating the issue. This is a valid feature request but it is not on priority, we will add it to the roadmap when required.

[2022-10-13 10:09] withshubh commented on #4380
Hi @shivani1706

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-13 11:24] withshubh commented on #4353
Hey @arushmangal 👋

Thanks for your interest in contributing to ToolJet.

Closing the issue as we are only accepting localization contributions for the issues that we create unless the issue is created by the native speaker. You can always check out other open issues. 😇

[2022-10-13 11:24] #4353 closed

[2022-10-13 11:25] withshubh commented on #4352
Hey @arushmangal 👋

Thanks for your interest in contributing to ToolJet.

Closing the issue as we are only accepting localization contributions for the issues that we create unless the issue is created by the native speaker. You can always check out other open issues. 😇

[2022-10-13 11:25] #4352 closed

[2022-10-13 11:26] withshubh commented on #4281
Hey @vedant-z  👋

Thanks for your interest in contributing to ToolJet.

Closing the issue as we are only accepting localization contributions for the issues that we create unless the issue is created by the native speaker. You can always check out other open issues. 😇

[2022-10-13 11:26] #4281 closed

[2022-10-13 11:26] withshubh commented on #4266
Hey @Ambareen09  👋

Thanks for your interest in contributing to ToolJet.

Closing the issue as we are only accepting localization contributions for the issues that we create unless the issue is created by the native speaker. You can always check out other open issues. 😇

[2022-10-13 11:26] #4266 closed

[2022-10-13 11:28] withshubh commented on #4261
Hey @daniloff200 👋

Thanks for your interest in localizing ToolJet.

Assigned the issue to you.

[2022-10-13 11:31] shah21 opened #4405 "Oauth refresh token isn't working for the multi-auth feature"
### Version Information
New
### Environment

All
### What is the expected behaviour?

Should able to refresh token after the token expired
### What is the current behaviour?

OAuth refresh token isn't working for the multi-auth feature
### How to reproduce the issue?

1. Create a restapi data source with OAuth (google)
2. create and run the query
3. retry after 1 hour(token expiration time)

### I

[2022-10-13 11:39] #4285 closed

[2022-10-13 11:51] #1316 closed

[2022-10-13 12:18] akshaysasidrn commented on #4200
Could you kindly share the logs?

[2022-10-13 12:18] arpitnath opened #4407 "Exposed variables for Table filters should be more unambiguous."
### Description
Exposed variables for Table filters should be more unambiguous.
Proposed updates:
[code]

[2022-10-13 12:21] akshaysasidrn commented on #4357
Hey @gottfired I'm using versions
[code]
And the docker-compose with version 3 works. Could you try updating your docker and docker-compose once?

[2022-10-13 12:23] #4407 closed

[2022-10-13 13:05] MLeissner commented on #4200
This issue is done because i discussed it then on slack. And now i don't have the logs anymore. So this issue can be closed.

Thank you
Michael

Von: Akshay
Gesendet: Donnerstag, 13. Oktober 2022 14:19
An: ToolJet/ToolJet ***@***.***>
Cc: Michael Leissner ***@***.***>; Author ***@***.***>
Betreff: Re: [ToolJet/ToolJet] Dashboard is empty (Issue #4200)

Could you kindly share the logs?

—
Reply to

[2022-10-13 14:08] RegishShrestha commented on #4257
can you assign me this issue?

[2022-10-13 15:23] #4243 closed

[2022-10-13 16:28] gottfired commented on #4357
Thanks, yes it's working in docker-compose v2.10.2

[2022-10-13 16:28] #4357 closed

[2022-10-13 18:06] Abhay5855 commented on #4385
Can you assign me this issue?

[2022-10-13 19:39] Frenchtoast0 opened #4412 "Fix spacing on login page"
### Version Information

### Environment
Tooljet Cloud

### What is the expected behaviour?
Spacing should exist between "Don't have an account..." and "Sign up".

### What is the current behaviour?
Two phrases are stuck together.

### How to reproduce the issue?

1. Go to the login screen
2. Also check the signup screen as the issue exists there as well.

### Screenshots or Screencast
![image](ht

[2022-10-13 19:46] Frenchtoast0 opened #4413 "Unlimited version name length allowed"
### Version Information

### Environment
Tooljet Cloud

### What is the expected behaviour?
Version name length should be restricted

### What is the current behaviour?
Version name length is unlimited.

### How to reproduce the issue?

1. Click "Create Version"
2. Set version to a super long string
3. After creating, app will look very messed up

### Screenshots or Screencast
![image](https://use

[2022-10-13 19:49] manishkushare opened #4414 "[ Bug ] : [ Table widget ] selecting option from badge column breaks the widget"
### Version Information
v1.26.2

### Environment
Development

### What is the expected behaviour?
When we select any option from the badge column in the table widget, that option should be visible in the respective column.

### What is the current behaviour?
When we select any option from the badge column in the table widget, it breaks it.

### How to reproduce the issue?

1. Create a new applicat

[2022-10-13 19:49] Frenchtoast0 opened #4415 "Can't add widgets to dashboard"
### Version Information

### Environment
ToolJet Cloud

### What is the expected behaviour?
I can add widgets to the dashboard.

### What is the current behaviour?
Can't drag widgets onto the dashboard.

### How to reproduce the issue?

1. Create a version
2. Create a version based off this version
3. Can't add widgets anymore

### Screenshots or Screencast
![image](https://user-images.githubuserc

[2022-10-13 20:44] bestpika commented on #4312
I actually tried passing variables in directly, but because of #4347, I couldn't access the variables properly.

[2022-10-14 02:04] amit-ksh commented on #4412
Same issue also exists on "Sign Up" page.

![Signup Page](https://user-images.githubusercontent.com/91947037/195745116-c79ba025-ac91-4684-bf68-56bedb5b9efb.png)

[2022-10-14 04:24] shubh22 commented on #4413
Hi @Frenchtoast0 ,

It seems like a valid issue, please feel free to create a PR with a length restricted to 25 and the minimum length to be 1.

[2022-10-14 04:26] shubh22 commented on #4412
hi @Frenchtoast0 ,
This page is under revamp and the issue will no longer exist. So closing this for now.

[2022-10-14 04:26] #4412 closed

[2022-10-14 04:56] stepinfwd opened #4417 "UI is breaking in user groups table"
### What is the expected behaviour?
UI  to be consistent

### What is the current behaviour?
Table is misaligned

### How to reproduce the issue?

1.Navigate to user groups

### Screenshots or Screencast
<img width="1440" alt="Screenshot 2022-10-14 at 8 17 08 AM" src="https://user-images.githubusercontent.com/31006028/195765455-df07e60a-b046-4bf5-bff5-650df47e122b.png">

### If the bug is confirme

[2022-10-14 04:58] Sanjayrk0206 commented on #3577
Hey @shivangT, I am interested in working on this issue. Can you assign it to me?

[2022-10-14 05:00] Sanjayrk0206 commented on #4206
Hey @arpitnath, I am interested in working on this issue. Can you assign it to me?

[2022-10-14 05:51] Frenchtoast0 opened #4420 "Unlimited Folder Name Possible"
### Version Information

### Environment
ToolJet Cloud

### What is the expected behaviour?
Folder name creation gives error when attempt to make a folder with over 25 chars.

### What is the current behaviour?
No backend validation, can create long folder names.

### How to reproduce the issue?

1. Click "Create Folder"
2. Open inspect tools (F12)
3. Delete the max characters = 25
4. Unlimited ch

[2022-10-14 05:57] Frenchtoast0 opened #4421 "Hamburger Menu Broken"
### Version Information

### Environment
ToolJet Cloud / Docker / Linux / MacOS ...

### What is the expected behaviour?
Hamburger menu should open and show a menu when clicked.

### What is the current behaviour?
No menu opens and javscript error is given.

### How to reproduce the issue?

1. Make sure screen has small enough width to see hamburger menu icon
2. Click on icon

### Screenshots or S

[2022-10-14 06:03] withshubh commented on #4273
Hey @DanyaBrain

Thanks for creating this bug. The bug is valid and we will fix it soon.

[2022-10-14 06:09] Frenchtoast0 opened #4422 "[docs]: Spelling error"
### Summary

Spelling error that makes the instructions strange.

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/contributing-guide/setup/docker

### Steps to reproduce the issue

1. Open docs
2. Go to "Making changes to the codebase"
3. Text says "would" when it should say "will".
![image](https://user-images.githubusercont

[2022-10-14 06:25] shubh22 commented on #4420
Hi @Frenchtoast0 ,
Assigning this to you.

[2022-10-14 06:39] withshubh commented on #4385
Hey @Abhay5855 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-14 07:08] arpitnath opened #4425 "Table: update the exposed variable for Table widget"
## Description
Update exposed variables terminology for table widget on column sort is applied

[2022-10-14 07:22] #4417 closed

[2022-10-14 08:00] arpitnath opened #4428 "Show or hide pagination footer for table widget"
### Description
The pagination footer should only be displayed when the client or server-side pagination is enabled

[2022-10-14 08:20] #4428 closed

[2022-10-14 09:14] #4332 closed

[2022-10-14 10:07] akarsh-jain-790 commented on #4233
@zainbinfurqan are you still working? If not @arpitnath can you assign this issue to me?

[2022-10-14 10:10] stepinfwd opened #4433 "Table properties column drag and reorder UX is improper."
### What is the expected behaviour?
To be more ux friendly.

### What is the current behaviour?
Its functional but UX king of irregular.

### How to reproduce the issue?

1.Go to table properties
2.Try drag and reorder for  columns

### Screenshots or Screencast

https://user-images.githubusercontent.com/31006028/195821939-87c7d44d-315f-47a3-a81b-db6c21eba6ac.mov

### If the bug is confirmed, woul

[2022-10-14 10:12] Sanjayrk0206 commented on #3962
Hey @shivangT, I am interested in working on this. Can you assign this to me?

[2022-10-14 10:13] zainbinfurqan commented on #4233
@akarsh-jain-790  yes i am working on it.

[2022-10-14 11:14] tanishk-23 commented on #4415
Please assign this issue to me?

[2022-10-14 11:15] tanishk-23 commented on #4421
Please assign this issue to me?

[2022-10-14 11:46] #4076 closed

[2022-10-14 12:26] #4132 closed

[2022-10-14 13:23] pbjorklund opened #4437 "Plotly layout barchart stacked doesn't work"
### Version Information

### Environment
Docker

### What is the expected behaviour?
Setting "layout": { "barmode": "stack" } should display stacked bars.

### What is the current behaviour?
Nothing happens.

### How to reproduce the issue?

Create data with 2 bar objects like https://plotly.com/javascript/bar-charts/

Add barmode
{
"data": {{queries.mssql7.data}},
"layout": { "barmode": "stack" }

[2022-10-14 14:03] BhaskarKarnatak commented on #4399
Please assign this to me @Smartmind12. I will work on this

[2022-10-14 14:09] BhaskarKarnatak commented on #4422
I would like to work on this issue. can you assign me this issue @Frenchtoast0

[2022-10-14 16:45] tanishk-23 commented on #4437
Can you assign this issue to me?

[2022-10-14 16:57] ArmanChand commented on #2895
@withshubh ,
Please validate my PR. It been a while now no one is working on it.

[2022-10-14 19:38] withshubh commented on #2895
Hey @ArmanChand

I checked your PR and here's my review:
- You only added `undo` but the issue is for all the shortcuts mentioned in the doc
- By `adding gif` I mean the create gifs showing all the keyboard shortcuts in action in ToolJet. You have added some random gif.

[2022-10-14 19:43] withshubh commented on #2895
Hey @TriJayDore 👋
Please let us know if you're still working on the PR. If not, we will have to assign it to another contributor.

[2022-10-14 19:52] deathemperor opened #4443 "use graphiql for GraphQL queries"
### Is your proposal related to a problem?

Writing GraphQL queries is really hard without queries suggestions

### Describe the solution you'd like

Graphiql can fetch the schema and do all the queries suggestions

### Describe alternatives you've considered

### If the feature is approved, would you be willing to submit a PR?

Possible but not probable :P

[2022-10-15 01:59] Smartmind12 commented on #2895
@withshubh Since I am in line waiting for this issue to be assigned so please assign it to me... @ArmanChand Please donot create PR without the issue being assigned to you and please wait in line for your turn! Thanks!!

[2022-10-15 02:08] Smartmind12 commented on #4399
@withshubh @shubh22 Please approve this issue so that i can start working on it! Thanks!

[2022-10-15 02:10] Smartmind12 commented on #4399
Hey @BhaskarKarnatak thanks for volunteering however I would be working on this issue so requesting you to work on another issue in the meantime...thanks!

[2022-10-15 03:55] TriJayDore commented on #2895
Sorry I couldn't work on this.Please assign to others.On 15-Oct-2022 1:13 am, Shubhendra Singh Chauhan ***@***.***> wrote:

Hey @TriJayDore 👋

Please let us know if you're still working on the PR. If not, we will have to assign it to another contributor.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-15 04:26] PratyayDhond commented on #4380
@withshubh I needed a bit help, I tried to go through the code but it is very confusing and I am unable to find where the css part is located, can you help me with it? :)

[2022-10-15 05:36] anuj98 commented on #4168
Hi @arpitnath I was not able to run the solution. You can assign this to someone else.

[2022-10-15 06:48] samyakjain26 commented on #2659
can you assign me this issue

[2022-10-15 07:09] withshubh commented on #2659
Closing this issue as fixed.

[2022-10-15 07:45] ismailbohra commented on #4244
i can do this can you please assign me this issue

[2022-10-15 10:20] manishkushare opened #4444 "[ Bug ] : Editor throws [ TypeError: Cannot read properties of undefined ] warning in the console"
### Version Information
v1.27.1
### Environment
Development

### What is the expected behaviour?
When opening any application, it should run smoothly without throwing any warnings in the console

### What is the current behaviour?
When we open any application, it runs smoothly but throws a warning in the console - `TypeError: Cannot read properties of undefined`

### How to reproduce the issue?
1.

[2022-10-15 10:54] Ruchika30 commented on #4380
Check this file
frontend/src/_components/ConfirmDialog.jsx
@PratyayDhond

[2022-10-15 11:19] shivani1706 commented on #4380
Can you plz assign me this.

On Sat, 15 Oct, 2022, 4:24 pm Ruchika Sood, ***@***.***>
wrote:

[2022-10-15 12:22] PrasanthKumar77 opened #4446 "Should be able to select version of documents"
### Is your proposal related to a problem?

Currently i am using 1.1.14 version and i knew i am behind the latest version but if i want to refer docs regarding a component the document always points the latest version. because of that i am unable to identify what changed in which version from docs.

### Describe the solution you'd like

provide an option to choose document version with a dropdown.

[2022-10-15 16:38] taicoding commented on #4186
Hi there, I'm a native spanish speaker and after chekking the [PR #4205](https://github.com/ToolJet/ToolJet/pull/4205) I found some grammar mistakes that make the texts lose its meaning. Since the PR is not merged I would like to work in a better translation.

[2022-10-15 16:53] TalhaQuddoos commented on #4421
Hi, I would like to solve this issue. Can you please assign this to me?

[2022-10-15 16:55] TalhaQuddoos commented on #4415
I would like to work on this, please assign it to me.

[2022-10-15 18:28] Ambareen09 commented on #4186
Can you please leave a review, as I have done what I could do, and allow my correct contributions to reflect towards this PR?

[2022-10-15 19:16] thenishantsapkota commented on #4059
The issue has been stagnant for a while
Can I do this one?

[2022-10-15 19:37] withshubh commented on #1692
Hey @Shelly011s - Sorry, this issue cannot be assigned at the moment. You can look for other open issues.

[2022-10-15 19:41] #2659 closed

[2022-10-16 06:43] withshubh commented on #4168
Hey @anuj98 - The issue has been unassinged.

[2022-10-16 06:45] withshubh commented on #4399
Hey @Smartmind12
Can you mention what is missing in the documentation and what are you proposing to add?

[2022-10-16 06:53] akarsh-jain-790 commented on #4168
@withshubh can you assign this issue to me?

[2022-10-16 07:00] withshubh opened #4448 "Add a modal with warning message on disabling password"
### Is your proposal related to a problem?

In the Password login section in Manage SSO, user can simply disable the password login without any getting any information.

### Describe the solution you'd like

Add a modal when a user toggles off the password login.

**Message**: Users won’t be able to login via username and password if password login is disabled. Please make sure that you have setup

[2022-10-16 07:05] akarsh-jain-790 commented on #4448
@withshubh  can you assign this issue to me?

[2022-10-16 07:07] withshubh opened #4449 "Newly created version shows HTML entities instead of the actual version ('<' => &lt;)"
### Is your proposal related to a problem?

Creating a new version with a name that includes `<`,`>` shows HTML entities instead of the actual characters.
NB: Working perfectly When we edit any version name to some other word with `<`, `>` symbols.

### Describe the solution you'd like

Fix the issue so the new version displays the name as it is entered rather than displaying HTML (`&lt;`)

![Scre

[2022-10-16 07:13] Surajrane45 commented on #4449
@withshubh I am interested to work on it. Can you assign it to me please

[2022-10-16 07:20] Surajrane45 commented on #4413
@shubh22 If no one is working, can you assign this to me. I would like to fix this

[2022-10-16 07:28] withshubh opened #4450 "Version names should not start with space"
### Is your proposal related to a problem?

Currently, the version names are can include a leading space, so it could make similar versions since the version dropdown doesn't show any space.

### Describe the solution you'd like

add a check for leading or trailing space in version names

![Screenshot 2022-10-14 at 10 44 29 AM](https://user-images.githubusercontent.com/25361949/196023649-ee11bb61-

[2022-10-16 07:29] akarsh-jain-790 commented on #4450
@withshubh can you assign this issue to me?

[2022-10-16 07:32] surajrane42 commented on #4449
@withshubh  I am interested to work on it. Can you assign it to me, please

[2022-10-16 07:32] surajrane42 commented on #4413
@shubh22 If no one is working, can you assign this to me. I would like to fix this

[2022-10-16 07:33] withshubh opened #4451 "fix the error message: Apps removed from the group"
### Is your proposal related to a problem?

When an app is deleted from the group it shows the error message `Apps removed from the group`

### Describe the solution you'd like

Fix the error message `App removed from the group`

### Steps to reproduce
- Go to Manage Groups
- Create a new group and add a few apps
- Delete an app and check the error toast

![Screenshot 2022-10-16 at 1 00 47 PM](htt

[2022-10-16 07:34] surajrane42 commented on #4451
@withshubh I would like to work on this issue. Can you assign it to me

[2022-10-16 07:37] withshubh opened #4452 "fix the error message: Users removed from the group"
### Is your proposal related to a problem?

When a user is deleted from the group it shows the error message `Users removed from the group`

### Describe the solution you'd like

Fix the error message `User removed from the group`

### Steps to reproduce
- Go to Manage Groups
- Create a new group and add a few users
- Delete a user and check the error toast

![Screenshot 2022-10-16 at 1 07 09 PM](

[2022-10-16 07:39] akarsh-jain-790 commented on #4452
@withshubh can you assign this issue to me?

[2022-10-16 07:40] Smartmind12 commented on #4399
Shortcuts like:

[2022-10-16 07:41] chaiwattsw commented on #4392
since @akarsh-jain-790 remove their assignment please assign this issue to me @withshubh

[2022-10-16 07:43] FroostyCodes commented on #4452
Hi @withshubh can I please work on this?

[2022-10-16 07:47] tanishk-23 commented on #4452
@withshubh can you assign this to me?

[2022-10-16 07:48] tanishk-23 commented on #4450
@withshubh can you assign this to me?

[2022-10-16 07:52] withshubh opened #4453 "Fix the error message when editing the workspace with same name"
### Is your proposal related to a problem?

When editing a workspace name, if a workspace already exists then you get the error message " XYZ workplace already exists."

### Describe the solution you'd like

Make the error message clear like "The workspace *XYZ* already exists. "

### Steps to reproduce
- Go to the dropdown on the header
- Edit the workspace
- Click on the Save button without chan

[2022-10-16 07:52] akk312000 commented on #4453
Can I work on this? @withshubh

[2022-10-16 07:55] tanishk-23 commented on #4453
@withshubh please assign this issue to me

[2022-10-16 07:59] withshubh opened #4454 "Make environment variable's delete modal's color in dark mode"
### Is your proposal related to a problem?

The delete modal color is `light` even in dark mode.

### Describe the solution you'd like

Change the modal color to match the dark mode.

![Screenshot 2022-10-16 at 1 25 46 PM](https://user-images.githubusercontent.com/25361949/196024798-ee1e31e0-e56e-435c-82e8-deca82b1393d.png)

### Steps to reproduce the issue
- Go to Manage Environment Variable from

[2022-10-16 08:00] akarsh-jain-790 commented on #4454
@withshubh can you assign this issue to me?

[2022-10-16 08:07] withshubh opened #4455 "Error toast should be at center in profile settings"
### Is your proposal related to a problem?

All the error messages in the Profile setting currently appear on the top-left.

### Describe the solution you'd like

Change the position of the error message in profile settings to the center.

### Steps to reproduce the issue
- Go to Profile setting
- Create an error either by saving empty values for any field
- Click on the `update`

![Screenshot 202

[2022-10-16 08:08] tanishk-23 commented on #4455
@withshubh please assign this issue to me

[2022-10-16 09:38] amit-ksh commented on #4455
I would like to work on this issues.

[2022-10-16 11:29] navya-Singla-1-3-0-9 commented on #4455
I would like to take this up. Please assign this issue to me.

[2022-10-16 12:21] withshubh commented on #4455
Hey @tanishk-23

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 12:22] withshubh commented on #4455
Hi @amit-ksh & @navya-Singla-1-3-0-9

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-16 12:25] withshubh commented on #4454
Hey @akarsh-jain-790

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 12:28] leimath commented on #4451
Can this be assigned to me? Incase, Surajrane42 is assigned https://github.com/ToolJet/ToolJet/issues/4449

[2022-10-16 12:30] withshubh commented on #4450
Hey @akarsh-jain-790 & @tanishk-23
Thanks for your interest in contributing to ToolJet.
There is an issue already assigned to both of you. 🙌

[2022-10-16 12:31] withshubh commented on #4449
Hey @surajrane42 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 12:32] withshubh commented on #4451
Hey @leimath 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 12:45] Ananyamadhu08 commented on #4453
Hey @withshubh I would like to work on this issue.

[2022-10-16 12:45] withshubh commented on #4399
Sorry @Smartmind12 but the changes that you're suggesting are not relevant.
Closing the issue.

[2022-10-16 12:45] #4399 closed

[2022-10-16 12:46] withshubh commented on #4453
Hey @Ananyamadhu08 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 12:51] withshubh commented on #4168
Hey @akarsh-jain-790
An issue was assigned to you earlier and then later you unassigned yourself from that issue. I have already assigned another issue to you. Let's not spam all the issues that are being created. Please comment on only the issue that you believe you'll be able to do. Also, please do inform us if you're not interested in working on an issue before unassigning yourself.

[2022-10-16 12:53] daniel-shuy commented on #4450
@withshubh I'd like to take a stab at this

[2022-10-16 12:54] ashishkashyap31 commented on #4452
Hi @withshubh , I would love to work on this issue.

[2022-10-16 13:06] daniel-shuy commented on #4450
@withshubh would it be better to simply trim the input?

[2022-10-16 13:18] withshubh commented on #4450
Hi @daniel-shuy 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 13:31] withshubh opened #4459 "Remove repeated REST methods from Stripe operations"
### Is your proposal related to a problem?

The operations in the Stripe datasource show REST methods (GET, POST) twice - one in icon and other in endpoint.

### Describe the solution you'd like

Remove the repeated method from the endpoint in the operations in Stripe datasource.

### How to reproduce the issue?
- Open ToolJet app builder
- Add stripe datasource
- Go to the query panel and create

[2022-10-16 13:43] withshubh opened #4460 "Selecting a heading on rich text editor redirects to dashboard"
### Is your proposal related to a problem?

When selecting headings (H1, H2, H3 etc) in the Rich text editor component, the page redirects to the dashboard of ToolJet.

### Describe the solution you'd like

Fix the Rich Text Editor heading selection.

### How to reproduce the issue?
- Open ToolJet app builder
- Drag and drop Rich Text Editor on the canvas
- Select any heading

[richtext_1.webm](ht

[2022-10-16 13:47] withshubh commented on #4452
Hi @ashishkashyap31

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 13:48] daniloff200 opened #4461 "[refactor]: refactor of translation keys"
### What area of the codebase is to be refactored?

During my work on #4261 I've noticed one thing in all translation JSON's:

<img width="489" alt="12323232" src="https://user-images.githubusercontent.com/13692220/196038920-37f32a6d-7a88-4cc2-9dd0-f0ae38fe9a57.PNG">

One of the keys has a typo in the name, and also, few lines down we have the same one, but, with the correct name. I'm pretty sure,

[2022-10-16 13:53] KushalRaut commented on #4459
Hi, @withshubh I want to work on this issue. Can you please assign it to me?

[2022-10-16 14:17] jerempy commented on #4460
Can I take this one?

[2022-10-16 14:30] amit-ksh commented on #4448
Can i work on this issue?

[2022-10-16 14:46] daniloff200 commented on #4459
can I pick this one?

[2022-10-16 14:47] withshubh commented on #4422
Hey @Ishika414 & @BhaskarKarnatak

Thanks for showing interest in contributing to ToolJet.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-16 14:48] daniloff200 commented on #4384
hi, @withshubh
I saw it was assigned before, but, right now there's no assignment for this one.
Can I pick this?

[2022-10-16 14:48] withshubh commented on #4422
Closing this issue as fixed. It will be up on the next release.

[2022-10-16 14:48] #4422 closed

[2022-10-16 15:01] withshubh commented on #4461
Hey @daniloff200 👋
Thanks for creating the issue (and the PR) but there is already another PR for the same changes - https://github.com/ToolJet/ToolJet/pull/4400

Unfortunately, we will have to close this issue and the PR for this issue.

[2022-10-16 15:01] #4461 closed

[2022-10-16 15:01] Revortni commented on #4460
I'd like to try this one

[2022-10-16 15:03] daniloff200 commented on #4461
oh!
I haven't seen that :)

[2022-10-16 15:06] withshubh commented on #4460
Hi @jerempy 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 15:06] withshubh commented on #4460
Hi @Revortni 👋

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

[2022-10-16 15:08] withshubh commented on #4384
Hey @daniloff200 👋
There is one issue assigned to you, we will assign more issues once the PR for the currently assigned one is up. 😇

[2022-10-16 15:16] gagandeepp commented on #4384
@withshubh  please review my PR for the same and assign issue to me.

[2022-10-16 15:16] Revortni commented on #4460
@withshubh Ok ill check other issues.  Quick question. I was trying to setup the project using docker and got this error. Not sure what to do about it
![image](https://user-images.githubusercontent.com/19191940/196043372-b707ecaa-428a-4b14-8f20-a7fedfe801b4.png)

[2022-10-16 15:22] withshubh commented on #4460
Hey @Revortni 👋
You can shoot setup related questions on our slack channel. Feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-16 15:23] withshubh commented on #4384
The issue is assigned to you and the PR will be reviewed soon 🙌

[2022-10-16 16:07] FroostyCodes commented on #4459
Can I work on it?

[2022-10-16 17:14] withshubh commented on #4204
Hey @andreaevolo
Let me know if you're still working on the issue?
Else we can assign it to @Manthan-Kuber.

[2022-10-16 18:32] emidhun opened #4467 "Specs are failing on v1.27.0"
### Cypress Integration test

### Describe the test

Fix the failing specs due to the flaky nature of the spec.

[2022-10-16 22:08] withshubh commented on #4258
Closing this issue as the Italian is completely localized.

[2022-10-16 22:08] #4258 closed

[2022-10-16 22:10] withshubh commented on #4179
Hey @Aditya-Ambre
Is there any update on it? We can assign it to someone else if you're facing any issues.

[2022-10-16 22:11] #4293 closed

[2022-10-16 22:24] withshubh commented on #4170
Hey @intSpartan
We're prioritizing native speakers' PR for localization as we're getting wrong translations when a non-native submit a PR.
We'll have to assign it to @Elegidoadedo.
Feel free to look for other open issues.

[2022-10-16 22:34] withshubh commented on #4188
Hey @SupOrg
Are you still working on it?

[2022-10-17 02:46] CalArcher commented on #4420
Has this been fixed? If not I can get it done ASAP

[2022-10-17 03:53] gagandeepp commented on #4459
@withshubh  Interested please assign

[2022-10-17 03:53] gagandeepp commented on #4448
@withshubh interested please assign

[2022-10-17 04:11] akarsh-jain-790 commented on #4448
I’m working on it

[2022-10-17 04:13] gagandeepp commented on #4448
It's not assigned to anyone as of now.
So anyone can ask for it to be assigned.

[2022-10-17 04:15] akarsh-jain-790 commented on #4448
Yeah I already asked above

[2022-10-17 04:17] #4454 closed

[2022-10-17 04:24] Revortni commented on #4460
@withshubh  sure

[2022-10-17 04:26] #4450 closed

[2022-10-17 05:40] gondar00 opened #4469 "[Bug] Fix comments feature crash when a comment bubble is dragged"
### Version Information
Latest
### Environment
Tooljet Cloud

### What is the expected behaviour?
The app should not crash when the comment bubble is dragged

### What is the current behaviour?
The app crashes when the comment bubble is dragged

### How to reproduce the issue?

1. Add more than one comment bubble
2. Drag one of the comment bubble

### Screenshots or Screencast
https://www.loom.com

[2022-10-17 06:07] #4452 closed

[2022-10-17 07:07] kavinvenkatachalam opened #4472 "[Bug]: Added Data Source Not Visible in Query Manager"
### Version Information

1.27.0

### Environment

ToolJet Cloud

### What is the expected behaviour?

Data sources should be visible on the query manager

### What is the current behaviour?

The data source is only visible after reloading.

### How to reproduce the issue?

1. Open query manager.
2. Click on the plus button.
3. Add new data source.

### If the bug is confirmed, would you be willing

[2022-10-17 08:17] #4455 closed

[2022-10-17 08:24] tanishk-23 commented on #4449
@withshubh can I work on this issue?

[2022-10-17 09:06] Surajrane45 commented on #4449
@tanishk-23 I am currently working on this issue

[2022-10-17 09:19] surajrane42 commented on #4449
Hey @tanishk-23 I am working on it currently & its in progress

[2022-10-17 09:21] #4451 closed

[2022-10-17 10:16] jqlblue opened #4475 "Appwrite database need "databaseId" request parameter"
### Version Information

### Environment

    ToolJet  MacOS ...

### What is the expected behaviour?

    i want to config ToolJet connect to Appwrite database

### What is the current behaviour?

    but it failed with “404 | database_not_found | Database not found”。maybe the databaseId is required in appwrirte 1.0.3。

### How to reproduce the issue?

1. Appwrite database verison：1.0.3
2. ToolJe

[2022-10-17 10:25] stepinfwd opened #4476 "Improvements in Table widget related to sort"
### Is your proposal related to a problem?
improvement in certain properties table widget

### Describe the solution you'd like
Disable sorting' to 'Enable sorting': name change property
If sorting is disabled, don't show server side sort option

### If the feature is approved, would you be willing to submit a PR?
yes

[2022-10-17 10:34] depapp opened #4478 "[Bug] there's no space on hyperlink text at Login, Sign Up & Forgot Password page"
### Version Information
v1.27.1

### Environment

All envs

### What is the expected behaviour?

expected text should be
- `Don't have account yet? Sign up`
- `Already have an account? Sign in`

### What is the current behaviour?

there's no space on `Don't have account yet?Sign up` & `Already have an account?Sign in` text

### How to reproduce the issue?

1. open page at `/login` or `/signup` or

[2022-10-17 10:43] withshubh commented on #4478
Hey @depapp
Assigned this issue to you.

[2022-10-17 10:47] depapp commented on #4478
thanks @withshubh , I'll work on it 🙇🏻

[2022-10-17 10:57] SurojN commented on #4448
Can i work on this issue???

[2022-10-17 11:02] waveywaves opened #4479 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for ToolJet maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for ToolJet. This will provide maintainers with previews of PRs made to the ToolJet github repo which would be deployed in the cloud. This will allow them to review and get

[2022-10-17 11:17] tunix opened #4480 "actions.showAlert cannot show danger type alerts"
### Version Information

[code]

### Environment

Docker on Linux

### What is the expected behaviour?

I expect to see an alert when clicking on a button.

### What is the current behaviour?

The alert doesn't show up. If I change alert type to `info` or `warning` the alert shows up.

### How to reproduce the issue?

1. Create a runJS query with this code: `actions.showAlert("danger", "testing")`

[2022-10-17 12:06] stepinfwd opened #4481 "Option to toggle display of column hide ::[ Table widget ]"
### Is your proposal related to a problem?

Currently no option to hide disable column icon

### Describe the solution you'd like

Add property to toggle show/hide of column hide option.

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-17 12:38] sureshveernala opened #4483 "Table client side filter not applying as expected"
### Version Information
1.14.1

### Environment
Docker

### What is the expected behaviour?
Filtered data should be displayed when table data is updated

### What is the current behaviour?
When the table data is updated client-side filter is not applied but the icon shows as applied

### How to reproduce the issue?
1. Add a table component with some data
2. Add & Apply a client-side filter on tabl

[2022-10-17 13:04] shubh22 opened #4484 "[Datasource] - Create a new data source plugin for Microsoft Azure Blob Storage"
**Goal**
Create a new data source plugin for **Microsoft Azure Blob Storage** to store large objects

**Operations to be supported:**

- List Containers
- List blobs in a container (paginated)
- Delete a blob
- Upload a new blob
- Read a blob

**Implementation**
Guide for building ToolJet plugins: https://docs.tooljet.com/docs/contributing-guide/tutorials/creating-a-plugin
Azure Blob SDK reference

[2022-10-17 13:44] surajrane42 opened #4486 "User input isn't sanitized on server while editing server names. Sanitization is done only for create versions"
### Version Information

### Environment

### What is the expected behaviour?
User input should be sanitized while editing version names as it is done currently while creating versions

### What is the current behaviour?
Currently user input is not sanitized while editing version name

### How to reproduce the issue?

1. Edit any application
2. Go to versions dropdown & click on edit icon for edit

[2022-10-17 14:36] Frenchtoast0 commented on #4478
Hi @withshubh, why was my request to fix this issue closed: https://github.com/ToolJet/ToolJet/issues/4412 but this one is allowed now?

[2022-10-17 17:29] taicoding commented on #4186
@Ambareen09 I open a [PR ](https://github.com/Ambareen09/ToolJet/pull/1) on your forked repo with the corrections

[2022-10-17 17:34] #3957 closed

[2022-10-17 17:50] SarojWasti opened #4488 "[docs]: Errors in Docker Setup Doc"
### Summary

There are many grammatical errors in Docker Setup doc which in my opinion should be fixed for improving documentation (user instructions).

### Issue Type

Documentation feature/update

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/setup/docker

### Steps to reproduce the issue

Visit the doc link and there are many fixable errors throughout the

[2022-10-17 20:10] withshubh commented on #4488
Hey @SarojWasti
Thanks for creating the issue.
The issue doesn't have enough information about the errors, can you share screenshots with marks on those errors?

[2022-10-17 21:34] withshubh opened #4489 "Line number is displayed while show line number is set to false in code editor"
### What is the expected behaviour?

The code editor component has **show line number** property which when set to `{{false}}` should hide the line number from the component

### What is the current behaviour?

Currently, **show line number** property when set to `{{false}}` doesn't hides the line numbers from the component.

### How to reproduce the issue?

1. Add code editor to canvas
2. Click o

[2022-10-17 22:10] 3t8 opened #4490 "[docs]: Unwanted underline in README"
### Summary

Underline shows up in between deploy buttons on hover in README.md

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

_No response_

### Steps to reproduce the issue

_No response_

### Additional Information

_No response_

### If the issue is confirmed, would you be willing to submit a pull request?

Yes

### Code of Conduct

- [X] I agree to

[2022-10-17 22:14] 3t8 commented on #4490
Proposed fix #4491

[2022-10-17 22:22] depapp commented on #4478
@withshubh @Frenchtoast0 sorry guys, I didn't know if this kind of issue was reported.
I didn't check on closed issues, I only check on open issues 🙇

[2022-10-17 22:40] withshubh opened #4492 "chart loading spinner is not at the centre vertically"
### What is the expected behaviour?

The loader in the chart component should be at the center

### What is the current behaviour?

The loading state spinner is at the top of the chart component.

### How to reproduce the issue?

1. Add chart component
2. Click on the component handle of the chart
3. Toggle on the loading state

### Screenshots or Screencast

![Screenshot 2022-10-18 at 4 09 47 AM]

[2022-10-17 22:44] LPRegen commented on #4184
Hi, I'm not sure if @varun7singh will continue working on this but if this is available, I would like to take it.

[2022-10-17 22:45] withshubh opened #4493 "set default color for Tabs highlight color"
### What is the expected behaviour?

There should be a default color value for Highlight color of tabs component

### What is the current behaviour?

Currently, there is no value set to Highlight Color in styles of Tabs

### How to reproduce the issue?

1. Add Tabs component
2. Click on the component handle of the tabs to open properties
3. Go to styles and check Highlight color

### Screenshots o

[2022-10-17 22:51] fcoiuri commented on #4492
Hi, can I work on this issue?

[2022-10-17 22:53] withshubh opened #4494 "Table Event - Change label from Bulk update to 'Save Changes'"
### What is the expected behaviour?

There is an event in the Table named `Bulk Update`.

### What is the current behaviour?

The `Bulk Update` label should be renamed as `Save Changes`

### How to reproduce the issue?

1. Add Table component
2. Open table properties, and go to the events
3. Add an Event, and on the events dropdown you'll find `Bulk Update`

### Screenshots or Screencast
![Screens

[2022-10-17 22:56] withshubh opened #4495 "Table Event - Change label from on sorting to 'Sort Applied'"
### What is the expected behaviour?

In table, there is an event named `On sorting columns`

### What is the current behaviour?

The `On sorting columns` label should be renamed as `Sort Applied`

### How to reproduce the issue?

1. Add Table component
2. Open table properties, and go to the events
3. Add an Event, and on the events dropdown you'll find `On sorting columns`

### Screenshots or Scr

[2022-10-17 23:00] withshubh opened #4496 "Table Properties - Change label from 'Show bulk update actions' to 'Show Update Buttons'"
### Is your proposal related to a problem?

In the table, we have a property called `Show bulk update actions`, rename the label to `Show update buttons`

### How to reproduce the issue?

1. Add Table component
2. Open table properties, and go to the options
3. You'll find an option to enable/disable 'Show bulk update actions'

![Screenshot 2022-10-18 at 4 27 53 AM](https://user-images.githubuserc

[2022-10-17 23:02] withshubh commented on #4492
Hey @fcoiuri

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-17 23:03] 3t8 commented on #4496
I'd like to work on this

[2022-10-17 23:05] withshubh commented on #4184
Hey @varun7singh - Unassigning this issue as there was no update on it for more than 15 days.

Assigning it to @LPRegen

[2022-10-17 23:06] withshubh commented on #4496
Hi @3t8

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-17 23:15] 3t8 commented on #4495
Can I also work on this issue?

[2022-10-17 23:15] 3t8 commented on #4494
Can I also work on this issue?

[2022-10-17 23:32] 3t8 commented on #4496
Let me know if I should change anything else #4497

[2022-10-17 23:42] adripo commented on #4493
I would like to work on this issue

[2022-10-18 00:46] Henrique-Gouvea commented on #4494
Hi, I would like to work on this issue... could you please assign it to me?

[2022-10-18 00:51] Henrique-Gouvea commented on #4495
Hi, I would like to work on this issue... could you please assign it to me?

[2022-10-18 01:03] 3t8 commented on #4494
Changed label #4499

[2022-10-18 01:05] thenishantsapkota commented on #4489
Hi I would like to get assigned on this issue!

[2022-10-18 01:09] 3t8 commented on #4495
Changed label https://github.com/ToolJet/ToolJet/pull/4500

[2022-10-18 01:57] SarojWasti commented on #4488
1. Repeated words and punctuation mistake here:
![ss2](https://user-images.githubusercontent.com/69208771/196316227-7c568983-e809-40dc-bc0a-283dcac03ad0.png)

2. to use -> using the (could be improved), and some missing commas.
![ss3](https://user-images.githubusercontent.com/69208771/196316355-8bd2727e-5d60-45b4-aa7f-581046108f2a.png)

3. `If you are running a Linux server` makes more sense (coul

[2022-10-18 02:02] SarojWasti commented on #4488
And the use of `Docker` word throughout the documentation isn't consistent. Should use capital letter for starting letter. You can make the call for improvements.

[2022-10-18 02:51] tanishk-23 commented on #4489
@withshubh can I work on this issue?

[2022-10-18 02:53] tanishk-23 commented on #4492
@withshubh can I work on this issue?

[2022-10-18 03:17] #3986 closed

[2022-10-18 04:00] shubh22 commented on #4478
These pages are under revamp so this issue will not be accepted as well.

[2022-10-18 04:00] #4478 closed

[2022-10-18 04:11] #4493 closed

[2022-10-18 04:30] kavinvenkatachalam opened #4501 "[Bug]: Disable Picking Browser Language in Localisation"
### Version Information

v1.27.0

### Environment

ToolJet Cloud

### What is the expected behaviour?

The language should be English irrespective of the browsers language

### What is the current behaviour?

As of now, the localisation is based on the browser language

### How to reproduce the issue?

1. Add the browser language as Italian
2. Delete the `i18nextLng` key from localStorage
3. Refre

[2022-10-18 07:18] #4170 closed

[2022-10-18 07:19] #4467 closed

[2022-10-18 07:21] #4185 closed

[2022-10-18 07:21] #4288 closed

[2022-10-18 07:22] #4235 closed

[2022-10-18 07:22] tanishk-23 commented on #4495
@withshubh can I work on this issue?

[2022-10-18 07:28] #4172 closed

[2022-10-18 07:34] withshubh commented on #4446
Hey @PrasanthKumar77
Thanks for creating the issue. We will discuss this internally and let you know when we plan to add it to our roadmap.

[2022-10-18 07:40] withshubh commented on #4204
Hey @andreaevolo - Unassigned the issue since there was no update for a long time.

Hey @Manthan-Kuber - Assigned the issue to you.

[2022-10-18 07:52] #4180 closed

[2022-10-18 07:53] #4257 closed

[2022-10-18 08:20] withshubh commented on #4494
Hey @Henrique-Gouvea

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-18 08:22] withshubh commented on #4494
Hey @3t8
Sorry, but there is an issue already assigned to you.
Also, Please don't create PRs unless the issue is assigned to you. Please follow the [Contributing Guidelines](https://github.com/ToolJet/ToolJet/blob/develop/CONTRIBUTING.md).

[2022-10-18 08:26] #4495 closed

[2022-10-18 08:39] withshubh commented on #4489
Hi @thenishantsapkota

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-18 09:22] alammoiz commented on #4391
@withshubh How can I run specific test file?

[2022-10-18 09:56] stepinfwd opened #4504 "Google sheets breaks app while trying to reconnect"
### What is the expected behaviour?
App should not break.

### What is the current behaviour?
App breaks while reconnecting sheets.

### How to reproduce the issue?

1.Connects sheets from datasource.
2.Try to reconnect .
3.Observe above case.

### Can you identify the location in the driver source code where the problem exists?
frontend/src/_components/Googlesheets.jsx

### If the bug is confirme

[2022-10-18 10:21] alammoiz commented on #4391
Thanks @emidhun , I'm getting this error, Do you have any idea?
<img width="1020" alt="Screenshot 2022-10-18 at 3 20 54 PM" src="https://user-images.githubusercontent.com/24625561/196404363-f17e3b2b-5a92-4717-94be-9b10168305b0.png">

[2022-10-18 10:22] gsmithun4 opened #4506 "[BUG] REST API plugin - trying to get auth token if unauthorised response from API with auth type basic"
### Version Information
latest
### Environment
all envs

### What is the expected behaviour?
Should not try to get auth token using refresh token if rest API auth type is not oauth

### What is the current behaviour?
Trying to get auth token using refresh token if rest API auth type is basic

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-18 10:24] emidhun commented on #4391
@alammoiz I hope you `did npm install` on `cypress-tests` directory.

[2022-10-18 10:25] withshubh commented on #4488
Hi @SarojWasti

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-18 10:26] withshubh commented on #4488
For point number 4 - let's make `TCP` caps.

[2022-10-18 10:34] SarojWasti commented on #4488
Okay

[2022-10-18 10:41] alammoiz commented on #4391
It worked @emidhun Thanks

[2022-10-18 11:51] alammoiz commented on #4390
Please review https://github.com/ToolJet/ToolJet/pull/4509

[2022-10-18 12:09] #4488 closed

[2022-10-18 12:11] Navaneeth-pk commented on #4479
We are already using Heroku for this purpose.

[2022-10-18 12:11] #4479 closed

[2022-10-18 12:31] withshubh commented on #4483
Hey, @sureshveernala - Can you please try to use the latest version of ToolJet? We recently made some major fixes and updates to the table

[2022-10-18 12:34] kavinvenkatachalam opened #4510 "[Bug]: Not Able to Toggle the Query Panel"
### Version Information

v1.27.0

### Environment

ToolJet Cloud

### What is the expected behaviour?

The user should able to toggle the query panel

### What is the current behaviour?

When the query panel is resized/dragged to the bottom of the screen, the users are not able to expand it

### How to reproduce the issue?

1. Create a new application
2. Drag the query panel to the bottom of the s

[2022-10-18 13:20] Henrique-Gouvea commented on #4494
Hi @withshubh ,
Thanks, very happy to contribute

[2022-10-18 13:25] 3t8 opened #4512 "Deleting component shows toast with MacOs shortcut by default"
### Version Information
Latest
### Environment
ToolJet Cloud
### What is the expected behaviour?
When deleting any component a toast message with `Component deleted! (⌘ + Z to undo)` should be shown on MacOs.
When deleting any component a toast message with `Component deleted! (ctrl + Z to undo)` should be shown on Windows/Linux.
### What is the current behaviour?
When deleting any component an al

[2022-10-18 16:55] Henrique-Gouvea commented on #4494
Hi,
Thanks for the opportunity to collaborate on my first issue.
#4515

[2022-10-18 18:08] Henrique-Gouvea commented on #4494
#4516

[2022-10-18 20:50] vedant-z commented on #4188
Hey @withshubh if @SupOrg isn't available for working I would like to work on this

[2022-10-18 21:20] withshubh commented on #4188
Hey @vedant-z - As mentioned by Navaneeth in the previous comment, we already have two PRs for this issue. You can look for any other open issues.

[2022-10-18 21:22] withshubh commented on #4188
@Navaneeth-pk - Closing the PR by @exitflynn as it was reviewed by a native speaker and there are no updates on it.

[2022-10-19 00:05] ShankyJS commented on #4188
I'm happy to do this one, I'm native Spanish speaker.

[2022-10-19 00:34] withshubh commented on #4459
Hey @KushalRaut
Assigned this issue to you.

[2022-10-19 00:37] withshubh commented on #4448
Hey @akarsh-jain-790
Assigned this issue to you.

[2022-10-19 00:49] withshubh commented on #4188
Hey @ShankyJS
Thank you for your interest in contributing to ToolJet but there is already a PR #4229 by a native speaker. You can look for other open issues.

[2022-10-19 02:14] #4414 closed

[2022-10-19 02:17] #4444 closed

[2022-10-19 02:29] #4469 closed

[2022-10-19 03:44] tanishk-23 commented on #4453
@withshubh can I work on this issue?

[2022-10-19 03:45] abutalha opened #4517 "Please add Arabic localization with RTL support"
I have searched many similar tools but none of them have this option.
You give a separate tables list for us to fill in the localization strings ourself.

[2022-10-19 04:22] Ruchika30 commented on #4206
I am trying hard to set up the project . Dropped the message on slack as well.

[2022-10-19 04:48] shubh22 commented on #4480
Hi @tunix,

Thanks for bringing this up. We have replicated it.
We will fix it soon.

[2022-10-19 05:27] shubh22 commented on #4420
Hi @Frenchtoast0,
Gentle reminder for this :)

[2022-10-19 05:33] shubh22 commented on #4415
Hi @Frenchtoast0 ,
we are not able to reproduce this. can you please be more descriptive?

[2022-10-19 06:26] thenishantsapkota commented on #4489
Thank you 💯
I am working on this 😄

[2022-10-19 06:30] manishkushare opened #4518 "[ Bug ] : [ Table widget ] filter popup is not attached near filter button but attached to bottom"
### Version Information
v1.27.1

### Environment
Development

### What is the expected behaviour?
A filter popup should be attached near the filter button in the table widget.

### What is the current behaviour?
A filter popup is not attached near the filter button but is attached to the bottom.

### How to reproduce the issue?

1. Create a new application or open an existing one
2. Drag a Table w

[2022-10-19 06:34] waveywaves commented on #4479
@Navaneeth-pk I don't see any previews on your PRs though. This solution is to allow your PRs to have preview environments specifically.

[2022-10-19 06:35] Navaneeth-pk commented on #4479
Preview apps are created when a specific label is added to the PR.

Cheers,
Navaneeth PK

Founder & CEO

ToolJet.com ( https://tooljet.com )
+91-9400812423
https://www.linkedin.com/in/navaneeth-pk/

On Wed, Oct 19 2022 at 12:04, Vibhav Bobade < ***@***.*** > wrote:

[2022-10-19 06:57] #4363 closed

[2022-10-19 07:20] shah21 commented on #4475
I will look into this issue @jqlblue let me test it from my side too

[2022-10-19 08:10] Aditya-Ambre commented on #4179
I apologise for my unavailability,
I request the Issue to be assigned to another developer.
Thank You.

On Mon, 17 Oct, 2022, 3:40 am Shubhendra Singh Chauhan, <
***@***.***> wrote:

[2022-10-19 09:01] zainbinfurqan commented on #4233
HI @arpitnath  i just tried to reproduce the issue but seems like its behaving as expected.
<img width="295" alt="Screen Shot 2022-10-19 at 2 01 02 PM" src="https://user-images.githubusercontent.com/30855000/196646410-764dc73f-ae7f-41c3-9055-ebc0ec81c6c2.png">

[2022-10-19 09:06] #4494 closed

[2022-10-19 10:55] #4187 closed

[2022-10-19 10:59] Ambareen09 commented on #4186
@taicoding I merged you PR in my repo. I have opened PR in this main repo, #4205 , If you want you can sign the CLA as well!

[2022-10-19 11:03] withshubh opened #4523 "[localization] Finish the Spanish translation"
### Is your proposal related to a problem?

We got community contribution of Spanish translation for the following strings:
- `globals`
- `loginSignupPage`
- `appCard`
- `widgetManager`

The rest of the strings are left to be translated.

### Describe the solution you'd like

Translate the remaining strings to completely localize ToolJet in Spanish

Note: This issue requires a native speaker

[2022-10-19 11:04] withshubh commented on #4523
Hey @ShankyJS - Are you interested in this issue?

[2022-10-19 11:04] withshubh commented on #4188
Hey @ShankyJS - Check the comment here https://github.com/ToolJet/ToolJet/issues/4523#issuecomment-1283830862

[2022-10-19 11:28] #4186 closed

[2022-10-19 11:36] LPRegen commented on #4523
Hi, if @ShankyJS doesn't want to take it I would like to @withshubh

[2022-10-19 12:01] #4184 closed

[2022-10-19 12:10] withshubh commented on #4512
Hey @3t8
Thanks for creating this issue. Assigned this issue to you.

[2022-10-19 12:45] shah21 opened #4524 "Add a feature to block a list of IP addresses for REST API"
### Is your proposal related to a problem?

* Should be able to set forbidden hosts through environmental variables
* Should be able to automatically block the request to these hosts using REST API plugins

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-19 14:28] ShankyJS commented on #4523
I can take it @withshubh

Thanks a lot, please assign!

[2022-10-19 14:56] ShankyJS commented on #4188
Hey @withshubh, thanks! Already commented please assign that one to me, will start working on it!

[2022-10-19 15:40] tanishk-23 commented on #4382
@withshubh can i work on this issue?

[2022-10-19 17:04] gsmithun4 commented on #4506
Added in https://github.com/ToolJet/ToolJet/pull/4514

[2022-10-19 17:04] #4506 closed

[2022-10-19 19:07] 3t8 commented on #4512
Thanks! @withshubh check #4513

[2022-10-20 05:08] vishnurk6247 commented on #4484
Hey @shubh22, I'd like to give this a shot. Could you please assign this issue to me?

[2022-10-20 07:15] withshubh commented on #4382
Hey @Shoray2002
Is there any update on it?

[2022-10-20 07:16] withshubh commented on #4523
Hey @ShankyJS
Assigned to you.

[2022-10-20 07:56] arpitnath opened #4530 "Run Python code to transform queries' response"
## Description
Currently transforming query responses with **Transformation** only supports Javascript to manipulate or update the data.

### Proposed feature
Support to write **Python** code in **Transformation** along with Javascript

[2022-10-20 09:01] kaustav202 opened #4533 "[docs]: Fix errors in appwrite.md under data-sources docs"
### Summary

The appwrite.md markdown file has a lot of spelling, grammatical and contextual errors which need to be fixed for improving the readability of the doc.

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://github.com/ToolJet/ToolJet/blob/develop/docs/docs/data-sources/appwrite.md

### Steps to reproduce the issue

Navigate to https://githu

[2022-10-20 09:03] bestpika opened #4534 "[fr] ES6 module in runjs"
### Is your proposal related to a problem?

I want to be able to use the ES6 module "import" in runjs.

### Describe the solution you'd like

A new switch in the advanced tab of runjs allows code writers to decide whether to enable ES6 modules.

### Describe alternatives you've considered

N/A

### If the feature is approved, would you be willing to submit a PR?

[2022-10-20 09:11] kaustav202 commented on #4533
I'd like to take this up

[2022-10-20 11:01] sherfin94 opened #4536 "General slowness of app editor, particular while opening Inspector"
### Version Information

### Environment

Enterprise deployment
### What is the expected behaviour?

Opening inspector, switching tabs etc should be instantaneous
### What is the current behaviour?

There is delay while opening inspector, or switching tabs, in fairly complicated, scaled up apps.
### How to reproduce the issue?

1. Create or import a complicated app with several components
2. Try c

[2022-10-20 11:16] #4510 closed

[2022-10-20 11:21] #4472 closed

[2022-10-20 11:25] AyushK-101 commented on #2860
@kavinvenkatachalam @withshubh made a PR regarding the issue, please review and suggest changes, if any

[2022-10-20 11:30] arpitnath opened #4539 "Code block [code hinter] : The cursor should be auto set to middle of `{{ }}` with the auto completion"
## Proposed improvement
On providing input to `code editor` fields (code block with preview box), the input of `{{` auto-completes it to `{{}}`, with the cursor position at the end of the list(characters).

**The proposed improvement:** The cursor position should be in the middle of the list of characters
for example:
`{{|}}`

[2022-10-20 11:47] #4536 closed

[2022-10-20 12:27] stepinfwd opened #4541 "Fire onsort event while removing sort in table widget"
### What is the expected behaviour?
event to be removed on sort removal

### What is the current behaviour?
no event is fired on sort removal

### How to reproduce the issue?

1.apply on sort event in table widget and sort table
2.observe above issue

### If the bug is confirmed, would you be willing to submit a PR?
YEs

[2022-10-20 13:40] andreasbhansen commented on #229
Hi Shivang,

Thanks for looking into this.
Do you have any updates to share on the implementation of pages?

[2022-10-20 16:21] tunix opened #4544 "Showing "Unable to fetch notifications" alerts whenever the page changes"
### Version Information

tooljet-ce
v1.27.4

### Environment

Kubernetes

### What is the expected behaviour?

No such alert to show up.

### What is the current behaviour?

An alert with `Unable to fetch notifications` as content is shown whenever I change to another page, refresh the page etc.

### How to reproduce the issue?

1. Created a PostgreSQL database
2. Deployed tooljet-ce on k8s
3. dep

[2022-10-20 19:24] stepinfwd opened #4546 "image column type addition in Table widget"
### Is your proposal related to a problem?
currently no default column type of image available  in table

### Describe the solution you'd like
Add column type image

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-20 19:50] stepinfwd opened #4548 "Column type text closes on type of each key in Table widget"
### What is the expected behaviour?
Textarea closes only on outside/enter press

### What is the current behaviour?
Textarea closes on each keypress

### How to reproduce the issue?

1.choose column type as text
2.try to type

### Can you identify the location in the driver source code where the problem exists?
frontend/src/Editor/Components/Table/columns/index.jsx

### If the bug is confirmed, wo

[2022-10-20 22:17] withshubh commented on #229
Hey everyone 👋

**Update**: The multi-page app feature is under development and we will share an update once it is released.

[2022-10-20 23:34] akshaysasidrn commented on #4486
@surajrane42 Yeah, sanitisation is missed on the version update. Would you help to pick it up and fix it?

[2022-10-20 23:45] Frenchtoast0 commented on #4420
Hi, @shubh22.  I'm aware of it.  I was hoping that my other MR's would get merged in before I began on this so I could update my local branch to match tooljet fresh again.  If not, I might need to figure out another way to get a fresh branch.

[2022-10-21 05:11] #4533 closed

[2022-10-21 05:17] surajrane42 commented on #4486
@akshaysasidrn Sure. You can assign this to me

[2022-10-21 06:13] AyushK-101 commented on #4168
@withshubh can I work on this?

[2022-10-21 06:41] shubh22 commented on #4484
@vishnurk6247 sure. assigning it to you :)

[2022-10-21 07:33] Shoray2002 commented on #4382
Yes I am still working on this and will update by end of week.

[2022-10-21 09:23] stepinfwd opened #4550 "Selecting GCS template from templates crashes app"
### What is the expected behaviour?
App to be stable on template selection

### What is the current behaviour?
Selecting GCS template crashes app

### How to reproduce the issue?

1.Select dropdown from create new application from dashboard
2.Choose GCS from create app from templates

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-21 11:37] shah21 commented on #4475
look like the current implementation is deprecated, will fix this

[2022-10-21 12:53] Manthan-Kuber opened #4553 "Changes to frontend aren't reflected in the browser unless docker containers are rebuilt"
### Version Information
1.18.0

### Environment
Docker ( Windows 11 + WSL 2 )

### What is the expected behaviour?
Client container should hot reload and changes should be reflected on the frontend.

### What is the current behaviour?
Changes aren't reflected on the frontend unless containers are rebuilt

### Please provide any traces or logs that could help here.
`npm ERR! path /app/frontend` <br

[2022-10-21 14:35] gondar00 opened #4554 "[Bug] comment feature toggle not picked from env"
### Version Information
Latest

### Environment
All

### What is the expected behaviour?
comment feature toggle should be picked from env

### What is the current behaviour?
comment feature toggle not picked from env

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-21 16:50] gagandeepp commented on #4480
@withshubh interested please assign

[2022-10-21 16:51] gagandeepp commented on #4392
@withshubh no one is assigned to this please assign

[2022-10-21 17:21] akarsh-jain-790 commented on #4492
@withshubh can you assign this issue to me ?

[2022-10-21 17:48] TomerPacific opened #4556 "[Localization] Add Hebrew Translation"
### Is your proposal related to a problem?
Seeing as there are other languages ToolJet is being translated, I thought to also help ToolJet support Hebrew.

### Describe the solution you'd like

Being a native Hebrew speak, I'd be happy to help out in translating ToolJet to Hebrew following this [guide](https://docs.tooljet.com/docs/contributing-guide/l10n/).

### If the feature is approved, would

[2022-10-21 19:08] tanishk-23 commented on #4480
@withshubh can I work on this issue?

[2022-10-22 03:25] biswadeep25 commented on #4207
@arpitnath Can you assign this issue to me?

[2022-10-22 05:26] akarsh-jain-790 commented on #4168
I'm working on it

[2022-10-22 06:07] tanishk-23 commented on #4386
@withshubh can I work on this issue?

[2022-10-22 06:08] tanishk-23 commented on #4252
@withshubh can I work on this issue?

[2022-10-22 06:09] tanishk-23 commented on #4244
@withshubh can you please assign this issue to me?

[2022-10-22 06:48] TheLearneer commented on #4386
Hi @tanishk-23 if you feel you can debug and solve the issue then sure, please pick it up if the maintainers assign it to you.

[2022-10-22 07:00] ShankyJS commented on #4523
Thank you @withshubh, going to work on it this weekend!

[2022-10-22 07:30] tanishk-23 commented on #4386
@withshubh I am ready to work on it please assign it to you

[2022-10-22 11:04] celcarpe commented on #4179
Can I get assigned on this?

[2022-10-22 11:16] anujbansal17 opened #4559 "Charts- Show gridlines option is not clickable after 2 clicks"
### What is the expected behaviour?
Show gridlines option should be clickable every time user clicks on that button under chart properties

### What is the current behaviour?
Show gridlines option is not clickable after 2 clicks under chart properties

### How to reproduce the issue?

1. Create a chart
2. Now try to click on `show grid lines` button more than twice

### Can you identify the locati

[2022-10-22 11:17] anujbansal17 opened #4560 "Charts- Show axes option is not clickable after 2 clicks"
### What is the expected behaviour?
Show axes should be clickable every time user clicks on that button under chart properties

### What is the current behaviour?
Show axes option is not clickable after 2 clicks under chart properties

### How to reproduce the issue?

1. Create a chart
2. Now try to click on `show axes` button more than twice

### Can you identify the location in the driver source

[2022-10-22 11:21] anujbansal16 opened #4561 "Charts- Show axes option is not clickable after 2 clicks"
### What is the expected behaviour?
Show axes should be clickable every time user clicks on that button under chart properties

### What is the current behaviour?
Show axes option is not clickable after 2 clicks under chart properties

### How to reproduce the issue?

1. Create a chart
2. Now try to click on `show axes` button more than twice

### Can you identify the location in the driver source

[2022-10-22 11:22] anujbansal16 commented on #4561
please close https://github.com/ToolJet/ToolJet/issues/4560. Will fix it with this id.

[2022-10-22 11:23] anujbansal16 opened #4562 "Charts- Show gridlines option is not clickable after 2 clicks"
### What is the expected behaviour?
Show gridlines option should be clickable every time user clicks on that button under chart properties

### What is the current behaviour?
Show gridlines option is not clickable after 2 clicks under chart properties

### How to reproduce the issue?

1. Create a chart
2. Now try to click on `show grid lines` button more than twice

### Can you identify the locati

[2022-10-22 11:23] anujbansal16 commented on #4562
please close https://github.com/ToolJet/ToolJet/issues/4559. Will fix it with this id.

[2022-10-22 11:24] #4559 closed

[2022-10-22 11:24] #4560 closed

[2022-10-22 13:28] Abubakrce19 opened #4563 "[docs]: docs/docs/Enterprise/audit_logs.md needs some Grammatical and spelling improvement."
### Summary

I found some crucial errors which need to fixed

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

docs/docs/Enterprise/audit_logs.md

### Steps to reproduce the issue

_No response_

### Additional Information

_No response_

### If the issue is confirmed, would you be willing to submit a pull request?

Yes

### Code of Conduct

- [X] I agree

[2022-10-22 13:28] Abubakrce19 commented on #4563
Please assign me this issue
with hacktoberfest tag
Thank you

[2022-10-22 15:10] Gokul-Ks opened #4565 "[Localization] Support for Tamil - Translation"
### Is your proposal related to a problem?

I would like to extend accessibility to Tooljet by adding Tamil translation

### Describe the solution you'd like

I'm a native Tamil speaker and would like to Translate Tooljet. I will use this guide for this issue [guide](https://docs.tooljet.com/docs/contributing-guide/l10n/)

### If the feature is approved, would you be willing to submit a PR?

Yes

[2022-10-22 16:10] Navaneeth-pk commented on #4563
@Abubakrce19 closing the issue as it doesn't mention the specific mistakes.

[2022-10-22 16:10] #4563 closed

[2022-10-22 18:05] Abubakrce19 commented on #4563
@Navaneeth-pk
I have already generated a PR for this issue which got merged! but just because
that PR was not resolving an issue[with hacktoberfest tag] my PR is not valid for swags, thats why I created this issue.
Please consider my PR for Tooljet swags even it does not adress an
issue with hacktoberfest tag.
Thank you

[2022-10-23 06:41] #4554 closed

[2022-10-23 12:08] withshubh commented on #4443
Hey @deathemperor
Thanks for creating this feature request issue.
This seems to be a valid request,  we will let you know when we plan to add it to the roadmap.

[2022-10-23 12:23] withshubh commented on #4556
Hey @TomerPacific
Thanks for showing interest in contributing to ToolJet.
Unfortunately, we will have to close this issue as the Hebrew translation is not on our roadmap at the moment.
Also, please follow the [contributing guidelines](https://github.com/ToolJet/ToolJet/blob/develop/CONTRIBUTING.md) before creating a PR.

[2022-10-23 12:23] #4556 closed

[2022-10-23 12:28] withshubh commented on #4179
Hey @celcarpe
Assigned this to you.

[2022-10-23 12:37] withshubh commented on #4168
Hey @akarsh-jain-790
Assigned the issue to you.
And please consider this as our last warning - You can't simply create PRs for the issues that are not assigned to you. We will be forced to close any PR that is created without an issue assigned to you. Please follow the [contributing guidelines](https://github.com/ToolJet/ToolJet/blob/develop/CONTRIBUTING.md).

[2022-10-23 12:39] withshubh commented on #4386
Hey @TheLearneer - Are you sure you don't want to work on this issue?

[2022-10-23 12:41] TheLearneer commented on #4386
Well @withshubh I mean whoever works on it will have to go on a discussion with you guys.
Because it definitely is not an easy to fix from what I debugged.

If @tanishk-23 wanna give it a shot, then sure, I am find with it 🙇

[2022-10-23 12:42] withshubh commented on #4244
Hey @Rahul-Palahwat
Any update on this?
If you're not working on it then let us know, we will assign the issue to someone else.

[2022-10-23 12:47] withshubh commented on #4386
Cool! @TheLearneer
Assigned the issue to @tanishk-23

[2022-10-23 12:49] withshubh commented on #4252
Hey @AnmolBansalDEV - Unassigned the issue as it's been more than 15 days and there is no update on it.

[2022-10-23 12:49] TheLearneer commented on #4386
BTW @withshubh just to add on it.
The toast doesn't appear just twice but even more times.

For e.g. set the name to empty string, click somewhere on the editor in the right, click on the section where components can be added.
You will be able to see that the toast will even appear multiple times

[2022-10-23 12:49] withshubh commented on #4252
@tanishk-23 There is an issue already assigned to you.

[2022-10-23 12:52] withshubh commented on #4480
Hi @gagandeepp

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-23 12:53] withshubh commented on #4392
Hey @gagandeepp - There is another issue assigned to you.

[2022-10-23 13:15] withshubh opened #4571 "Hide `server side filter` option in table when `Show filter button` is disabled"
### Is your proposal related to a problem?

1. Currently option for `Server side filter` is shown even when the `Show filter button` is disabled.
2. `Server side filter` option is placed at the bottom of the list, rather it should be right below the `Show filter button

### Describe the solution you'd like

1. If the `Show filter button` button is disabled, don't show the option for the `server si

[2022-10-23 13:24] withshubh opened #4572 "Position of `Show Search box` option in table should be above the `Server-side search` toggle"
### Is your proposal related to a problem?

1. Currently option for `Server-side search` is shown even when the `Show Search box` is disabled.
2. `Show Search box` option is placed at the bottom of the list, rather it should be right above the `Server-side search`

### Describe the solution you'd like

1. If the `Show Search box` button is disabled, don't show the option for the `server side searc

[2022-10-23 13:28] tanishk-23 commented on #4572
@withshubh can you assign this issue to me?

[2022-10-23 13:30] withshubh commented on #4571
Hey @daniloff200
Assigned the issue to you.

[2022-10-23 13:35] AyushK-101 commented on #4382
Hey @withshubh can I work on this, I have raised a PR for the current assignment

[2022-10-23 13:38] AyushK-101 commented on #4572
Hey can I work on this, I have raised a PR for my current assignment

[2022-10-23 13:41] withshubh opened #4573 "Add color to the lines above and below Property and Styles"
### Is your proposal related to a problem?

In dark mode, when you click on a widget to edit its properties, you'll see that the color of the lines of the Property and Styles bar is white.

### Describe the solution you'd like

Change the color of the lines according to the Dark mode in ToolJet.

### Steps to reproduce the issue
- On the app builder, drag a widget and check the top of the right si

[2022-10-23 13:45] withshubh opened #4574 "fix the broken calendar icon (App Icon in dashboard)"
### Is your proposal related to a problem?

Go to the dashboard and click on the three dots on the app card. Select the `Change icon` option and you'll see that one of the icons is broken.

### Describe the solution you'd like

Fix the breaking Calendar icon

![Screenshot 2022-10-20 at 10 34 03 AM](https://user-images.githubusercontent.com/25361949/197395755-08547829-fffb-450c-90ef-21aebaadf67c.pn

[2022-10-23 13:46] tanishk-23 commented on #4574
@withshubh can I work on this issue?

[2022-10-23 13:47] tanishk-23 commented on #4573
@withshubh can I work on this issue?

[2022-10-23 13:48] akarsh-jain-790 commented on #4574
@withshubh can you assign this to me?

[2022-10-23 13:48] withshubh opened #4575 "While deleting a version, show the name of version in the confirmation modal."
### Is your proposal related to a problem?

Currently, when you delete a version from the app. The modal that shows doesn't confirm which version is being deleted.

### Describe the solution you'd like

Display the version that the user is trying to delete in the modal.

### Steps to reproduce the issue
- Create/Open an app in ToolJet
- Create a version and try to delete it
- Check the warning in

[2022-10-23 13:51] withshubh opened #4576 "Alert does not break lines if there are no spaces in the message"
### Is your proposal related to a problem?

Currently, when you try to show a long alert message it won't break the line and will go out of bounds.

### Describe the solution you'd like

Fix the alert message to break the line.

### Steps to reproduce the issue
- Create/Open an app in ToolJet
- Add an event handler to show the alert
- Add a long alert message and trigger the event to show alert

!

[2022-10-23 13:52] tanishk-23 commented on #4575
@withshubh can I work on this issue?

[2022-10-23 13:54] withshubh opened #4577 "New data-source name accepts "<,>" but shows html entities "&lt;" and "&gt;" accordingly."
### Is your proposal related to a problem?

Creating a new datasource with a name that includes `<`,`>` shows HTML entities instead of the actual characters.

### Describe the solution you'd like

Fix the issue so the new datasource displays the name as it is entered rather than displaying HTML (`&lt;`)

### Steps to reproduce the issue
- Create/Open an app in ToolJet
- Add a datasource
- Edit the

[2022-10-23 13:59] withshubh opened #4578 "dark mode on table's `striped` and `Striped & Bordered` table type mode"
### Is your proposal related to a problem?

The columns on the table show up in light mode when the table type is selected as `Striped` or `Striped & Bordered`

### Describe the solution you'd like

Make the particular table type compatible with dark mode.

### Steps to reproduce the issue
- Create/Open an app in ToolJet
- Add a table widget
- Click on the table to edit its properties
- Go to the

[2022-10-23 14:07] withshubh commented on #4382
Hey @AyushK-101
Assigned the issue to you.

[2022-10-23 14:14] withshubh opened #4579 "text not saved of `Copy to clipboard` action for `on click` event of table's action button"
### Is your proposal related to a problem?

When adding the `on click` event for the action button on the table widget and selecting the `Copy to Clipboard` action, when you enter the text, it won't save. It resets after you close the event handler popup.

### Describe the solution you'd like

Fix the `Copy to clipboard` action for the action button

[copy-to-clipboard.webm](https://user-images.gi

[2022-10-23 14:30] akarsh-jain-790 commented on #4168
@withshubh FYI  I am not spamming on all the issue which are raised. I have only commented to these 4 issues(4448, 4454, 4452, 4450) Also I didn't find any guideline that says you can't ask for more than 1 issues.

I have asked to assign only those issue which I believe I will able to do (Already made PR for the issues that I got assigned and some of them already got merged)

`please do inform us

[2022-10-23 14:33] ishantagarwal00 commented on #4574
Hey @withshubh, I would love to work on this. Can you please assign this to me?

[2022-10-23 14:34] withshubh commented on #4574
Hey @ishantagarwal00
Assigned this issue to you.

[2022-10-23 14:43] ishantagarwal00 commented on #4575
Hey @withshubh , I would like to work on this issue. Can you please assign this to me?

[2022-10-23 14:44] withshubh commented on #4575
Hey @ishantagarwal00 This issue is already assigned to you - https://github.com/ToolJet/ToolJet/issues/4574

[2022-10-23 14:45] ishantagarwal00 commented on #4492
Hey @withshubh, if the issue still exists, I would like to work on the same. Can you please assign this to me?

[2022-10-23 14:49] akarsh-jain-790 commented on #4578
@withshubh can you assign this to me? I have already raised PR for my current assignments.

[2022-10-23 14:49] ishantagarwal00 commented on #4576
Hey @withshubh, I would like to work on this issue. Can you please assign this to me?

[2022-10-23 15:00] ishantagarwal00 commented on #4575
Hey @withshubh, issue #4574 is assigned to me, thanks for that, but I would like to work on issue #4575 also if you allow.

[2022-10-23 16:21] FroostyCodes commented on #4575
@withshubh can I work on this?

[2022-10-23 17:37] SarthakD15 commented on #4577
I want to work on this issue. Please assign it to me.

[2022-10-23 17:52] Jasleen-001 commented on #4573
hey,i would like to work on this issue .Kindly assign it to me

[2022-10-23 21:20] PrakashGatiyala opened #4583 "Email click at privacy page is not clickable"
### Is your proposal related to a problem?

![image](https://user-images.githubusercontent.com/34413515/197418715-e4bee2e5-811a-462f-a4e0-343f03b0fdd6.png)

Hi,  Email click at privacy page(https://www.tooljet.com/privacy) is not clickable. When clicking on email, it should automatically open the email app.
I want to work on this issue.
Can you assign it to me?

### Describe the solution you'd lik

[2022-10-24 02:49] Smartmind12 commented on #4579
@withshubh Can you assign this to me so that i can work on it!

[2022-10-24 03:19] Smartmind12 commented on #2895
@withshubh Can you please assign this issue to me so that i can create the PR for the same ...Thanks!

[2022-10-24 07:18] alammoiz commented on #4576
Could you please assign to me?

[2022-10-24 07:19] alammoiz commented on #4573
Could you please assign to me?

[2022-10-24 07:19] alammoiz commented on #4579
Could you please assign it to me?

[2022-10-24 07:28] alammoiz commented on #4577
Could you please assign it to me?

[2022-10-24 07:55] Elegidoadedo commented on #4188
@ShankyJS is already done the PR, i'm just waiting for the merge :)

[2022-10-24 08:15] Saikatssd commented on #4573
I have already started working on this. Please Assign me

[2022-10-24 09:08] Navaneeth-pk commented on #4583
Thanks for reporting the issue. Website is not part of this repo, we will fix this asap.

[2022-10-24 09:08] #4583 closed

[2022-10-24 09:22] celcarpe commented on #4169
Is anyone working on this?

[2022-10-24 09:23] withshubh commented on #4573
Hey @Jasleen-001

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-24 09:27] Saikatssd commented on #4573
ok

[2022-10-24 09:45] withshubh commented on #4577
Hey @SarthakD15

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-24 09:50] withshubh commented on #4579
Hi @Smartmind12 ,

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-24 09:53] withshubh commented on #4576
Hey @ishantagarwal00 - There is already an issue assigned to you #4574

[2022-10-24 09:53] withshubh commented on #4576
Hey @alammoiz
Assigned the issue to you.

[2022-10-24 09:57] withshubh commented on #4575
Hey @FroostyCodes

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-24 10:00] withshubh commented on #4578
Hey @akarsh-jain-790
Assigned the issue to you.

[2022-10-24 10:02] tanishk-23 commented on #4572
@withshubh please assign this issue to me as I have made pr for my current assignment

[2022-10-24 10:06] stepinfwd opened #4586 "[docs]: Clickhouse added twice in sidebar"
### Summary

 Clickhouse added twice in sidebar in datasource ref section

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

http://localhost:3000/docs

### Steps to reproduce the issue

1) open docs
2) Go to datasource reference

### Additional Information

_No response_

### If the issue is confirmed, would you be willing to submit a pull request?

Yes

#

[2022-10-24 10:09] alammoiz commented on #4576
Hi, Thanks for assigning me. Should I add ellipses here or move this to the next line?

[2022-10-24 10:48] Smartmind12 commented on #2895
I have already created a PR for the previous issue...I would like to work on this next!

[2022-10-24 11:01] #4586 closed

[2022-10-24 11:01] 3t8 commented on #4496
Did you get a chance to look at it? @withshubh

[2022-10-24 13:19] tolgaulas opened #4590 "Transformations not accepting data.map function"
### Version Information
Latest,

### Environment
Docker

### What is the expected behaviour?
Transformation works as mentioned in the documentation

### What is the current behaviour?
Displays error data.map is not a function.

### How to reproduce the issue?
1. Create any running query.
2. Hit transformation and copy paste the example transformation code
3. Click Preview

### Screenshots or Scree

[2022-10-24 15:24] #4261 closed, assigned to daniloff200

[2022-10-24 15:32] TheLearneer commented on #4573
@withshubh You might have actually forgot to assign though 🙈

[2022-10-24 16:19] #4550 closed

[2022-10-24 17:34] #4490 closed

[2022-10-24 18:01] #4460 closed

[2022-10-24 18:01] #4320 closed

[2022-10-24 18:02] MOHAMMED-AAJ commented on #4460
4487

[2022-10-24 18:15] #4384 closed

[2022-10-24 20:41] Jhengmateo08 opened #4592 "[refactor]:"
### What area of the codebase is to be refactored?

(Write your answer here.)

### What are the potential advantages of this proposed refactoring?

(Describe the advantages here.)

[2022-10-24 20:48] Jhengmateo08 opened #4593 "💜"
### Specify the kind of test

(Cypress integration-test)

### Describe the test

(Write your answer here.)

[2022-10-25 03:36] #4179 closed

[2022-10-25 04:11] #4501 closed

[2022-10-25 04:21] kavinvenkatachalam opened #4594 "[Feature]: Form Widget"
### Is your proposal related to a problem?

To create a form, we need to add events to the inputs, textarea, button, etc., and bind in JS to collect those values. It will be better to have a form widget that collects all the value with onSubmit event.

### Describe the solution you'd like

Form widget can be created with sub container layer so that any widget can be dropped into it. If any of the

[2022-10-25 06:34] manishkushare opened #4596 "[ Enhancement ] : Adding PDF downloading option in Table widget"
### Environment
Development

### Is your proposal related to a problem?
In the current deployment, there is no way to download the data from the **Table widget** in PDF format.

### Describe the solution you'd like
We can add the option to download data in PDF using the jspdf package

### How to reproduce the issue?
1. Create a new application or open an existing one
2. Drag the table widget on th

[2022-10-25 06:38] #4518 closed

[2022-10-25 07:16] #4593 closed

[2022-10-25 07:17] #4592 closed

[2022-10-25 07:18] #4043 closed

[2022-10-25 07:41] diwash007 opened #4598 "Image overflown on the homepage"
### Version Information

### Environment
ToolJet Cloud

### What is the expected behaviour?
The image should not be overflown and should fit within the viewport.

### What is the current behaviour?
Image is being overflown

### How to reproduce the issue?

1. visit https://www.tooljet.com/

### Screenshots or Screencast
![image](https://user-images.githubusercontent.com/39879720/197708985-412c715c

[2022-10-25 08:28] withshubh commented on #4598
Hey @diwash007 - Thanks for creating the issue but this repository does not include the code for the website. We'll get it fixed internally.

[2022-10-25 08:30] vedant-z commented on #4577
@withshubh May I work on this?

[2022-10-25 08:36] withshubh commented on #4598
This is fixed now. Thanks again!

[2022-10-25 08:36] #4598 closed

[2022-10-25 08:44] Ali7040 opened #4599 "website overflow x-axis"
### Version Information
Version 106.0.5249.119 (Official Build) (64-bit)
### Environment

### What is the expected behavior?

image overflow x-axis.

### What is the current behavior?

overflow
 x-axis

### How to reproduce the issue?

1.
2.
3.

### Screenshots or Screencast
![25 10 2022_13 42 11_REC](https://user-images.githubusercontent.com/81979505/197727215-f8de46c1-caa3-4d13-b9a9-f0d10a63e5c8

[2022-10-25 08:54] #4539 closed

[2022-10-25 09:08] ShankyJS commented on #4523
Currently working on this PR: https://github.com/ToolJet/ToolJet/pull/4600/files will finish it probably tomorrow!

[2022-10-25 09:30] emidhun opened #4601 "Add Regression for postgreSQL datasource,"
### Specify the kind of test

Cypress integration-test

### Describe the test

Cypress Regression Test

[2022-10-25 09:51] withshubh commented on #4599
Hey @Ali7040 I don't find any image overflow on the website. Can you specify?

[2022-10-25 09:51] tolgaulas commented on #4590
Obviously data returned by api was not an array but an object. Fixed with updating api result to array. IIt was a false alarm.

[2022-10-25 09:51] #4590 closed

[2022-10-25 09:54] withshubh commented on #4577
Sure @vedant-z - Assigned it to you.

[2022-10-25 10:25] Ali7040 commented on #4599
@withshubh  now it's done

[2022-10-25 10:25] #4599 closed

[2022-10-25 10:38] withshubh commented on #4572
Hey @tanishk-23 - assigned it to you.

[2022-10-25 10:55] withshubh commented on #4492
Hey @fcoiuri Are you still working on it?

[2022-10-25 11:02] #2860 closed

[2022-10-25 11:11] withshubh commented on #4380
Any update on it @PratyayDhond ?

[2022-10-25 11:18] withshubh commented on #4244
Unassigned @Rahul-Palahwat as there was no update for more than 20 days

[2022-10-25 11:21] withshubh commented on #4238
Hey @PaarthAgarwal - Any update on it?

[2022-10-25 11:22] withshubh commented on #4237
Unassigned @iamakhileshmishra as there was no update on it.

[2022-10-25 11:23] withshubh commented on #4207
Unassigned @laurisseau as there was no update on it.

[2022-10-25 11:31] withshubh commented on #4059
Hey @saimaheshtaduri - Any updates on it?

[2022-10-25 11:32] AyushK-101 commented on #4382
@withshubh I've raised a PR regarding the issue, kindly review

[2022-10-25 11:32] withshubh commented on #3630
Hey @exitflynn - Any updates on the PR?

[2022-10-25 11:33] withshubh commented on #2633
Hey @utkershrajvenshi
Any updates on the PR?

[2022-10-25 11:34] withshubh commented on #1817
Hey @Srisuma13 - Any updates on it?

[2022-10-25 11:34] withshubh commented on #1673
Hey @Gurpreet-Singh-Bhupal - Any updates on it?

[2022-10-25 11:35] withshubh commented on #985
Hey @saimaheshtaduri - Any updates on it?

[2022-10-25 11:58] AyushK-101 commented on #4244
Can I work on this? I've raised a PR for my current assignment

[2022-10-25 12:13] withshubh commented on #4244
Assigned to you @AyushK-101

[2022-10-25 13:16] saimaheshtaduri commented on #4059
@withshubh I'll raise a pr in a day or two.
Thanks :)

[2022-10-25 13:16] saimaheshtaduri commented on #985
@withshubh I'll raise a pr in a day or two.
Thanks :)

[2022-10-25 13:30] vedant-z commented on #4577
@withshubh Hey I need some help on how and from where should I proceed

[2022-10-25 13:56] withshubh opened #4605 "[datasource] create a new plugin for MindsDB"
#### Goal
Create a new data source plugin for **[MindsDB](https://mindsdb.com/)**

#### Operations to be supported:

- list predictors
- list data sources
- get data source
- get predictor
- queryPredict
- data source loadData

#### Implementation
Guide for building ToolJet plugins: https://docs.tooljet.com/docs/contributing-guide/tutorials/creating-a-plugin
MindsDB reference: https://www.npmjs.co

[2022-10-25 13:58] zaahmed-nisum-com commented on #4492
@withshubh  Can i work on it please.

[2022-10-25 13:59] abdellani commented on #4605
Hi
can you assign this to me :)

[2022-10-25 15:00] akshaysasidrn opened #4606 "ToolJet redirects public apps to login page when using subpath"
### Version Information
v1.27.2

### Environment
All

### What is the expected behaviour?
Should be able to view the public app

### What is the current behaviour?
Redirects to login page

### How to reproduce the issue?

1. Start server with preconfigured subpath
2. create an app and make it public
3. try viewing the app without login using the shareable link

### If the bug is confirmed, would y

[2022-10-25 16:12] geisterfurz007 commented on #4534
This sounds interesting! I would like to have a look at this if you don't mind (to any maintainer reading) :)

[2022-10-25 16:37] developer-diganta commented on #4453
@withshubh  Is this issue still open? If so, then can I work on it?

[2022-10-25 18:35] Abhay5855 commented on #4380
@withshubh Is it still pending can I take this task?

[2022-10-25 18:54] utkershrajvenshi commented on #2633
Hi. I am facing issues in setting up ToolJet on my machine. Is there a way to work on this using Gitpod?

[2022-10-25 19:23] AyushK-101 commented on #4382
![image](https://user-images.githubusercontent.com/86164395/197863045-4e8f5f84-fb85-47c0-aed7-e83011d3f97d.png)

@withshubh I've made a new PR(#4608), the selected apps will appear in blue and the hover over non-selected apps will be light blue

[2022-10-25 21:00] arpitnath commented on #4183
As @dmdbilal won't be able to continue working on this issue, unassigning the same.
cc: @withshubh
Ref: https://github.com/ToolJet/ToolJet/pull/4302#issuecomment-1291135222

[2022-10-26 02:48] withshubh commented on #4605
Hey @abdellani 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-26 03:50] withshubh commented on #2633
Currently, we don't have the support for Gitpod. You can shoot any question regarding setting up ToolJet on our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-26 03:51] withshubh commented on #4380
Unassigned @PratyayDhond as there was no update on it.

[2022-10-26 03:52] withshubh commented on #4380
Hi @Abhay5855 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-26 03:54] withshubh commented on #4453
Hey @developer-diganta 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-26 03:58] withshubh commented on #4492
Hi @zaahmed-nisum-com 👋

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-26 04:04] withshubh commented on #4207
Hey @biswadeep25

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-26 04:05] withshubh commented on #4237
Hey @AbhishekTiwari23
Are you still interested in this issue?

[2022-10-26 04:07] withshubh commented on #4206
Hey @Ruchika30
Any luck on setting up the project?

[2022-10-26 04:10] withshubh commented on #4239
Hey @mohithgupta
Are you still interested in this issue?

[2022-10-26 04:22] AyushK-101 commented on #4244
![image](https://user-images.githubusercontent.com/86164395/197933745-fe96d8df-6576-4a93-b1f5-2973ed3b8bea.png)

@withshubh I guess the issue was resolved, it shows loader color #fff by default

[2022-10-26 04:30] AyushK-101 commented on #4237
![image](https://user-images.githubusercontent.com/86164395/197934816-566ef9a4-8c8d-4aff-a800-ac5ab87cdd7a.png)

@withshubh I guess the issue has been already resolved

[2022-10-26 04:31] #4240 closed

[2022-10-26 04:33] AyushK-101 commented on #4206
Can I work on this?

[2022-10-26 04:35] #4181 closed

[2022-10-26 04:35] AyushK-101 commented on #4183
I would like to work on this, the issue assigned to me currently was already resolved

[2022-10-26 04:39] AyushK-101 commented on #2245
Can I work on this?

[2022-10-26 04:51] #3576 closed

[2022-10-26 05:15] #4165 closed

[2022-10-26 05:34] Frenchtoast0 commented on #4415
Unable to reproduce anymore either.  Must be super rare.

[2022-10-26 05:38] Frenchtoast0 commented on #4420
https://github.com/ToolJet/ToolJet/pull/4612

[2022-10-26 08:00] FroostyCodes commented on #4459
@withshubh if there is no update on it, can I work on it please?

[2022-10-26 09:23] iamakhileshmishra commented on #4237
Sorry @withshubh Sorry, Due to my academic work I was not able to work on the issue assigned to me, I am guilty of such behaviour.
If this issue is still not resolved I would love to complete my work.

[2022-10-26 09:45] iamakhileshmishra commented on #2895
@withshubh  If the issue still not resolved I would like to work on this issue please assign this to me.

[2022-10-26 10:43] Ruchika30 commented on #4206
Noo. No one ever replied to my query on slack @withshubh

[2022-10-26 14:37] sudhinm opened #4617 "[Deprecation warning] Update Github actions node version to Node 16"
### Version Information
NA
### Environment
NA

### What is the expected behaviour?
Node version 16 should be used in all the actions in the Github workflow config.

### What is the current behaviour?
Github actions have stopped supporting Node 12 since [April 2022](https://github.com/nodejs/Release/#end-of-life-releases).  And the usage of old version is leading to warning annotations as seen in t

[2022-10-26 15:05] #4453 closed

[2022-10-26 15:21] dlebech opened #4618 "Cannot deploy Tooljet when database uses a unix socket, likely due to a regression after wait-for-it was introduced"
### Version Information

1.27.5

### Environment

- Docker via `tooljet/tooljet-ce:v1.27.5`
- Google Cloud Run with Cloud SQL for PostgreSQL

### What is the expected behaviour?

Tooljet container should start when deployed to Cloud Run.

### What is the current behaviour?

Tooljet container times out during Cloud Run deployment/startup while waiting for the database in the Docker entrypoint.

It

[2022-10-26 15:36] arpitnath opened #4619 "On Blur with trailing white spaces in the widget property's input fields breaks the output and logs type error in the debugger"
### What is the expected behaviour?
Trailing white spaces at the end of the input should not update the widget definitions on the blur event

### What is the current behaviour?
On Blur with trailing white spaces in the widget property's input fields breaks the output and logs type error in the debugger

### How to reproduce the issue?

1. Drop any widget, for example, a table widget
2. Open the wi

[2022-10-26 16:15] arpitnath opened #4621 "Widget inspector Toggle element (Fx): component stops receiving updates after the every first"
### What is the expected behaviour?
On toggling the value for n number of times, the toggle should update the component level state (fx toggle element) and also updates the widget definitions.

### What is the current behaviour?
After the very first update, the fx toggle element, stops updating its own state along with widget definitions

### How to reproduce the issue?

1. Add any widget, for exa

[2022-10-26 23:15] SanjoyPator1 commented on #4207
Hi, I am interested in this issue. Can I work on this issue?

[2022-10-26 23:22] SanjoyPator1 commented on #4237
I would love to work on this issue. Can you assign it to me?

[2022-10-26 23:22] SanjoyPator1 commented on #4206
I would love to work on this issue. Can you assign it to me?

[2022-10-27 01:34] ricardojlrufino commented on #4347
I got a error running online

Running this in preview mode
![image](https://user-images.githubusercontent.com/515675/198169772-1fb5db30-5798-45bc-95d1-609e688496a6.png)

i got this error
![image](https://user-images.githubusercontent.com/515675/198170163-d82a07c5-7a36-452a-8e59-6ab252271649.png)

this error not hapen if i click in preview button , see ..
![image](https://user-images.githubusercont

[2022-10-27 01:37] ricardojlrufino commented on #4347
PS: Similar to this: https://github.com/ToolJet/ToolJet/issues/4444

[2022-10-27 02:35] Smartmind12 commented on #4617
@withshubh Can you assign this issue to me so that i work on this issue as part of hacktoberfest?

[2022-10-27 03:18] vedant-z commented on #4577
Hi @withshubh

If I am not wrong I need to make some changes in frontend/src/Editor/DataSourceManager/DataSourceManager.jsx

Specifically in createDatasource function

Am I going in right direction?

![IMG_20221027_084526.jpg](https://user-images.githubusercontent.com/93431609/198183008-726ce916-a1a8-43e3-8959-3e055aec74a1.jpg)

[2022-10-27 06:20] #4575 closed

[2022-10-27 06:23] withshubh commented on #4183
@AyushK-101 Assigned to you

[2022-10-27 06:25] withshubh commented on #4459
Hey @KushalRaut - Any update on it?

[2022-10-27 06:31] withshubh commented on #2895
Assigned to you

[2022-10-27 06:34] ri-tae-ka opened #4625 "add a 'scroll back to top' button"

[2022-10-27 06:37] #4625 closed

[2022-10-27 06:40] withshubh commented on #4206
Hey @Ruchika30 - Can you please DM me on slack so that I can take a look?

[2022-10-27 06:49] withshubh commented on #4617
Hey @sudhinm - Thanks for creating the issue. We'll get this fixed soon.

[2022-10-27 06:52] withshubh commented on #4244
Thanks @AyushK-101

Closing the issue as it seems to be fixed. (cc: @arpitnath - checked on cloud)

[2022-10-27 06:52] #4244 closed

[2022-10-27 07:01] AyushK-101 commented on #4183
![image](https://user-images.githubusercontent.com/86164395/198213543-c2bd2f58-5c3b-42d9-84f3-c22128f24c41.png)

@withshubh I guess this issue was already resolved

[2022-10-27 07:09] shubh22 commented on #4565
Hi @Gokul-Ks ,
This is not our roadmap as of now.

[2022-10-27 07:09] #4565 closed

[2022-10-27 07:20] #4405 closed

[2022-10-27 07:22] sherfin94 opened #4626 "Table crashes if the data supplied to it contains nesting (ie, objects)"
### Version Information

### Environment

MacOS
### What is the expected behaviour?

When nested data is supplied to table, table should not crash
### What is the current behaviour?

When nested data is supplied to table, table crashes
### How to reproduce the issue?

1. Add a table
2. Add nested data to it

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-27 07:24] #3920 closed

[2022-10-27 07:26] #4626 closed

[2022-10-27 07:36] FroostyCodes commented on #4617
Hi @withshubh can I work on it?

[2022-10-27 08:04] iamakhileshmishra commented on #2895
As mentioned in SOlution Section I need to clarify one thing am I supposed to create a gif from my own for each shortcut?
If it is so then could you please provide me with some demos from which I can take reference? @withshubh

[2022-10-27 08:41] #4530 closed

[2022-10-27 09:04] stepinfwd opened #4628 "Enhancement :: Change current data exposed variable in table as original data coming to table"
### Is your proposal related to a problem?
Currentdata exposed variable changes with filters/ searches etc currently.

### Describe the solution you'd like
Keep it as original data coming to table

### Describe alternatives you've considered
NA

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-10-27 09:12] withshubh commented on #2895
@iamakhileshmishra - Yes, you are correct. Just need to create small gifs showing the shortcuts in action.
check this: https://docs.tooljet.com/img/tutorial/sharing/preview.gif

[2022-10-27 09:15] jashanshah33 commented on #3295
hi @sherfin94 , can i work on it.

[2022-10-27 09:16] withshubh commented on #4183
Thanks, @AyushK-101

Closing this issue. cc: @arpitnath

[2022-10-27 09:16] #4183 closed

[2022-10-27 09:34] #4355 closed

[2022-10-27 09:36] jashanshah33 commented on #3519
hi @Nandinisaha13, can i work on it

[2022-10-27 09:43] withshubh opened #4630 "[docs]: add image to button group docs"
### Summary

There is no image of the button group widget.

Add the following image in the button group doc below the description:
![Screenshot 2022-10-27 at 3 10 44 PM](https://user-images.githubusercontent.com/25361949/198250963-c29a2806-6c5e-465a-8942-772b7e0c526d.png)

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/widge

[2022-10-27 09:47] FroostyCodes commented on #4630
Hi @withshubh
Can I work on this?

[2022-10-27 09:58] Ruchika30 commented on #4206
Okk. I have never done with docker. This is something new to me . I ll check how to install with docker

[2022-10-27 10:04] #4621 closed

[2022-10-27 10:21] #4619 closed

[2022-10-27 10:50] #4354 closed

[2022-10-27 11:13] withshubh opened #4632 "fix the text mode of Amazon SES datasource"
### What is the expected behavior?

The Amazon SES datasource has two modes: HTML mode and Text mode. HTML and Text mode should be able to return data.

### What is the current behavior?

HTML mode works fine but Text mode is throwing errors.

### How to reproduce the issue?

1. Connect to Amazon SES datasource
2. Create a new Amazon SES query and choose the mode from the dropdown
3. Try Text mode

[2022-10-27 11:26] withshubh opened #4633 "fix the logo of Amazon SES in datasource modal"
### Is your proposal related to a problem?

The logo of Amazon SES datasource doesn't show up in the datasource modal.

### Describe the solution you'd like

Fix the broken image of the Amazon SES datasource

### How to reproduce the issue?

1. Go to the `Sources` in the left sidebar
2. Click on Add datasource
3. On the modal that pops up, scroll to find the Amazon SES

![Screenshot 2022-10-27 at

[2022-10-27 11:36] withshubh opened #4634 "[improvement] create a DTO for title length validation in workspace"
### Is your proposal related to a problem?

The title length validation of the workspace should have a data transfer object.

### Describe the solution you'd like

Create a DTO for title length validation of workspace

reference: https://github.com/ToolJet/ToolJet/pull/4402#discussion_r1005465650

[2022-10-27 11:39] AyushK-101 commented on #4634
I would like to work on this @withshubh

[2022-10-27 11:41] AyushK-101 commented on #4634
I would like to work on this

[2022-10-27 12:13] withshubh opened #4635 "Unlimited character title possible while editing a workspace name"
### Version Information

### Environment
ToolJet Cloud - Windows

### What is the expected behaviour?
While editing a workspace name, the user should not be able to add more than 25 characters to update a workspace name.

### What is the current behaviour?
Currently, users can bypass the 25-character limit with simple developer tools and then update the workspace name.

### How to reproduce the is

[2022-10-27 12:31] withshubh commented on #4630
Assigned to @hemanthhari2000 . ref: https://github.com/ToolJet/ToolJet/pull/4631#issuecomment-1293453924

[2022-10-27 13:55] alammoiz commented on #4576
@withshubh  Please review PR https://github.com/ToolJet/ToolJet/pull/4636

[2022-10-27 13:56] alammoiz commented on #4635
@withshubh could you please assign it to me?

[2022-10-27 13:58] alammoiz commented on #4633
Please assign this to me

[2022-10-27 14:04] Smartmind12 commented on #4634
@withshubh Can i work on this issue?

[2022-10-27 14:15] TheLearneer commented on #4634
Hi @withshubh 👋
I would love to work on it 🙏

[2022-10-27 14:24] Smartmind12 commented on #4632
@withshubh Can i work on this issue?

[2022-10-27 14:46] stepinfwd opened #4639 "S3 template crashing when creating app from templates"
### What is the expected behaviour?
App remaining stable

### What is the current behaviour?
App crashes upon selecting s3 template

### How to reproduce the issue?

1.Go to dashboard
2.Select s3 file explorer template
3.Observe above scenario

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-27 15:04] alammoiz commented on #4391
@emidhun please assign this to me, want to fix that as well

[2022-10-27 17:21] zaahmed-nisum-com commented on #4492
@withshubh  can you please review the ME https://github.com/ToolJet/ToolJet/pull/4640

[2022-10-27 18:46] #4167 closed

[2022-10-28 05:38] kirti1211c commented on #4635
@withshubh can I work on this issue?

[2022-10-28 07:41] bestpika commented on #4534
@geisterfurz007 If you are interested, please go ahead and do it, and thank you for your contribution!

[2022-10-28 08:55] withshubh commented on #4635
Hey @tanishk-23 - Assigned this issue to you.

[2022-10-28 09:00] withshubh commented on #4635
Hi @kirti1211c & @alammoiz

Thanks for showing interest in contributing to ToolJet but the issue is already assigned to someone.

You can check out other open issues here: [hacktoberfest](https://github.com/ToolJet/ToolJet/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest).

You can also use the "watch" feature of GitHub at the top right corner to get notified when new issues are created in this

[2022-10-28 09:14] withshubh commented on #4391
Hey @alammoiz - Assigned this issue to you.

[2022-10-28 09:19] withshubh commented on #4634
Hey @TheLearneer - Assigned this issue to you.

[2022-10-28 09:19] withshubh commented on #4633
Hey @AyushK-101 - Assigned this issue to you.

[2022-10-28 09:23] iamakhileshmishra commented on #2895
Ok got it... but the link you shared has an option on the preview on screen in the present issue I have to press Ctrl+C, Ctrl+V, Ctrl+Z, etc from the keyboard and their effects will be shown on the screen so my question is that that I have to show only the changes occurring in the screen.

In a short time I will be sharing a demo gif could you please confirm you need such a type so that I can proc

[2022-10-28 09:24] #4296 closed

[2022-10-28 09:27] withshubh commented on #2895
Sure!

[2022-10-28 09:31] iamakhileshmishra commented on #2895
![Ctrl+C](https://user-images.githubusercontent.com/79476272/198554988-b9de772a-4026-4182-bfde-7e7978f66f28.gif)

[2022-10-28 09:46] withshubh commented on #2895
- Please capture the full screen
- Use the Giphy Capture app to create gif

[2022-10-28 09:47] iamakhileshmishra commented on #2895
Ok, I am considering apart from these there is no issue. Like I have to create this type of GIF right?

[2022-10-28 09:48] withshubh opened #4642 "[docs]: replace the woocommerce connection screenshot from dark to light one"
### Summary

Currently, the image used in woocommerce datasource reference is captured in dark mode. Capture the connection screenshot in light mode and replace.

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/data-sources/woocommerce/

### Steps to reproduce the issue

_No response_

### Additional Information

_No response

[2022-10-28 09:49] Pakeetharan commented on #4642
Can you assign me this?

[2022-10-28 09:54] withshubh commented on #4642
Hey @Pakeetharan

Thanks for showing interest in contributing to ToolJet. We've assigned the issue to you.

If you have any questions related to setting up ToolJet, feel free to join our Slack community here: [Slack community](https://tooljet.com/slack)

[2022-10-28 09:55] withshubh commented on #2895
Yeah, you can go ahead. Create the PR, will review and let you know if any change will be there.

[2022-10-28 11:01] iamakhileshmishra commented on #2895
@withshubh I have made a PR please check it .

[2022-10-28 11:28] sherfin94 opened #4644 "S3 File explorer template freezes or crashes"
### Version Information

### Environment

ToolJet Cloud
### What is the expected behaviour?

Every template should be usable without freeze or crash
### What is the current behaviour?

S3 File explorer template freezes or crashes
### How to reproduce the issue?

1. Create app from S3 file explorer template
2. Observe crash

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-10-28 12:19] gondar00 opened #4647 "[Bug]: Pick env from public config for marketplace"
### Version Information
Latest
### Environment
MacOS

### What is the expected behaviour?
Feature toggle env should be picked up from public config

### What is the current behaviour?
Feature toggle env is not being picked up from public config

### How to reproduce the issue?

1. Set `ENABLE_MARKETPLACE_FEATURE` to true in env file
2. Navigate to the `/integrations` route
3. Blank page is display

[2022-10-28 12:33] AyushK-101 commented on #4633
![image](https://user-images.githubusercontent.com/86164395/198587114-9fe92e53-e595-4902-a26c-b8a27adab3a0.png)

@withshubh the Amazon SEZ option is not there anymore, should I fix the mailgun logo instead?

[2022-10-28 12:41] #4647 closed

[2022-10-28 13:05] AyushK-101 commented on #4239
![image](https://user-images.githubusercontent.com/86164395/198597670-c6daa71f-6bd4-4682-b848-ab14f791bd15.png)

@withshubh @arpitnath I guess the issue is already resolves, the layout accordion is open

[2022-10-28 13:11] AyushK-101 commented on #4239
@arpitnath @withshubh can I work on this? Also, how to make a custom widget? The issue currently assigned to me is no more there in the current version(Amazon SES logo) and I've made a PR for the dark mode dropdown issue.

[2022-10-28 13:14] AyushK-101 commented on #3577
@shivangT can you maybe make a video clip of the issue, it is working fine in my app

[2022-10-28 14:03] saimaheshtaduri opened #4653 "[docs]: update contributing.md"
### Summary

The report bug link can be even more specific.
change the docs from
We use GitHub issues to track public bugs. Report a bug by [opening a new issue](https://github.com/ToolJet/ToolJet/issues/new/choose). It's that easy!
to
We use GitHub issues to track public bugs. Report a bug by [opening a new issue](https://github.com/ToolJet/ToolJet/issues/new?assignees=&labels=bug%2C+needs+triage

[2022-10-28 14:16] saimaheshtaduri commented on #4653
@withshubh can I raise a pr ?

[2022-10-28 14:43] Smartmind12 opened #4655 "fix the logo of Mailgun in datasource modal"
### What is the expected behaviour?

Logo for Mailgun should be visible like all the other data source logos.

### What is the current behaviour?

The logo of Mailgun datasource is not visible in the datasource modal as an error is causing icon to be in white colour which is invisble in white background.

### How to reproduce the issue?

1. Go to the Sources in the left sidebar
2. Click on Add dat

[2022-10-28 16:17] KushalRaut commented on #4459
Due to some sudden works I am not able to give much time on this issue so yes you can assign other people for this task.

[2022-10-28 16:26] Arkaroy147 opened #4657 "Readme.md Tooljet logo doesn't send to the website when clicked"
In the Readme.md in the Tooljet repo, the image of Tooljet logo doesn't take us to the Tooljet site when clicked. But in Tooljet/server, the nest logo can take us to the site when clicked.
I wish to add this feature in main Readme.md. Can you assign me this issue? Also, can I get a hacktoberfest tag in this issue?
I wish to do a pull request if got assigned

[2022-10-28 20:15] alammoiz commented on #4391
Please review this PR https://github.com/ToolJet/ToolJet/pull/4658

[2022-10-29 08:30] iamakhileshmishra commented on #2895
@withshubh  Please accept my PR if there is no issue and if some changes required please let me know so that I can reform it soon as there is festive season and also Hacktoberfest is going to end.

[2022-10-30 08:07] oneknucklehead commented on #4206
Is the issue still up for grab?

[2022-10-30 11:00] geisterfurz007 commented on #4534
Do you have any guidance on where to start? While poking around in the codebase I believe I found the code editor but I couldn't find the place where the javascript ends up being executed.

[2022-10-30 15:42] withshubh commented on #4633
Hey @AyushK-101 - You need to be on the latest version to see the Amazon SES datasource. If you're checking it on cloud then the latest version is not yet deployed to ToolJet Cloud.
Also, Mailgun logo is already fixed.
Please setup ToolJet's latest version locally.

[2022-10-30 16:17] withshubh commented on #4239
Please create a PR for `Amazon SES logo` fix first.

[2022-10-30 16:22] withshubh commented on #4653
Hey, @saimaheshtaduri - Closing this issue as we are already working internally on improving it.

[2022-10-30 16:22] #4653 closed

[2022-10-30 16:25] withshubh commented on #4655
Closing this issue as this has already been fixed.

[2022-10-30 16:25] #4655 closed

[2022-10-30 16:27] withshubh commented on #4657
Hey @Arkaroy147 - Thanks for creating the issue.
Closing this issue as we are already working on improving this internally.

[2022-10-30 16:27] #4657 closed

[2022-10-30 16:39] withshubh commented on #4206
Yes, want to pick it up?

[2022-10-30 16:41] withshubh commented on #4534
Hey @geisterfurz007 - This issue is still in discussion internally. I'd suggest not starting working on it until assigned. Please
 pick any other open issue.

[2022-10-30 16:52] MuhammadAakash commented on #4206
It's in the documentation that how to set up project with the docker.

[2022-10-31 00:46] ckragarwal commented on #4573
Can I work on this if this is still pending?

[2022-10-31 05:11] manishkushare opened #4662 "[ Bug ] : [ Table Widget ] filters are not getting applied"
### Version Information
v1.28.2

### Environment
All

### What is the expected behaviour?
All the filters should work correctly.

### What is the current behaviour?
The filters are not working correctly.

### How to reproduce the issue?

1. Create a new application or open an existing one
2. Drag the Table widget on the canvas from the right sidebar.
3. In the Table widget, look for the filter but

[2022-10-31 06:23] withshubh commented on #4573
Hey @Saikatssd - Are you still working on it?

[2022-10-31 07:00] gondar00 opened #4664 "[Bug] sub path is not appended while serving static assets"
### Version Information
Latest

### Environment
All

### What is the expected behaviour?
SUB_PATH should be appended while serving static assets

### What is the current behaviour?
SUB_PATH is not appended while serving static assets

### How to reproduce the issue?

1. Hit any url under `/assets` for serving static assets with SUB_PATH
2. Observe the file doesn't get served

### Can you identify

[2022-10-31 07:05] #4664 closed

[2022-10-31 07:11] ajith-k-v opened #4666 "Fix failing dashboard specs"

[2022-10-31 07:48] oneknucklehead commented on #4206
Yes. Joining the slack channel!

[2022-10-31 07:58] snoseeds commented on #4632
Hi @withshubh and @Smartmind12, kindly allow me to work on this issue, it's my first time trying to contribute and I would appreciate getting issues to work on ASAP.

[2022-10-31 08:12] snoseeds commented on #4015
Hi @ajith-k-v, kindly assign this issue to me

[2022-10-31 08:17] snoseeds commented on #3816
Hi @ajith-k-v, kindly assign this issue to me

[2022-10-31 08:18] geisterfurz007 commented on #2334
Mind if I have a shot at this?

[2022-10-31 08:42] #4541 closed

[2022-10-31 08:42] #4546 closed

[2022-10-31 08:43] #4548 closed

[2022-10-31 08:49] #3692 closed

[2022-10-31 11:04] withshubh commented on #2334
Sure @geisterfurz007 ! Assigned the issue to you.

[2022-10-31 11:06] withshubh commented on #4015
Hey @snoseeds - Thanks for your interest in contributing to ToolJet. Assigned the issue to you.

[2022-10-31 11:10] snoseeds commented on #4015
Thanks @withshubh, I will commence work on it

[2022-10-31 11:26] #4390 closed

[2022-10-31 11:43] #4642 closed

[2022-10-31 11:43] #2895 closed

[2022-10-31 11:44] #4630 closed

[2022-10-31 11:44] #4169 closed

[2022-10-31 11:44] #4188 closed

[2022-10-31 11:57] snoseeds commented on #4015
Hi @withshubh , I just figured out now that Audit Logs is only part of the enterprise edition of ToolJet, and I thereby didn't see any related code to it in the publicly available repo code. Is there still any way I can work on this issue?

[2022-10-31 11:58] #4512 closed

[2022-10-31 12:08] snoseeds commented on #4028
@emidhun and @withshubh , kindly assign this issue to me

[2022-10-31 13:37] #4391 closed

[2022-10-31 13:38] #4666 closed

[2022-10-31 13:46] thenishantsapkota commented on #4459
@withshubh Can I work on this?

[2022-10-31 15:07] calebnorman opened #4672 "Allow S3 and other document storage solutions for app configuration storage"
### Describe the solution you'd like

Allow S3 and other document storage solutions for app configuration storage. Currently, the JSON configuration for an app is stored in a postgres JOSN blob which can get unwieldy when it gets big.

### If the feature is approved, would you be willing to submit a PR?

Sure

[2022-10-31 15:23] AyushK-101 commented on #4633
@withshubh Can you please tell the file name where the changes are to be made, I am unable to find it

[2022-10-31 15:36] snoseeds opened #4673 "Duplicate Workspace Names shouldn't be allowed under any scenario"
### Version Information
- v1.28.1

### Environment
- Docker

### What is the expected behaviour?
- Whenever a new workspace is to be created or an existing workspace name is to be updated, the application should not accept a duplicate workspace name irrespective of if the user is a member of that existing workspace or not.
- Beyond the business logic constraint desired above, there should also be

[2022-10-31 16:58] lfernandes commented on #2293
The URL has changed to:
https://docs.tooljet.com/docs/setup/docker

[2022-11-01 06:03] kavinvenkatachalam opened #4677 "[Bug]: Canvas Max Width Limit"
### Environment

Latest Develop

### What is the expected behaviour?

There should not be any maximum width for the canvas

### What is the current behaviour?

Max width of the canvas is set to `1292`

### How to reproduce the issue?

1. Go to `Editor`
2. Click on settings in the `LeftSideBar`
3. Try to change the max width of the canvas to 1293

### Can you identify the location in the driver sou

[2022-11-01 10:27] arpitnath opened #4680 "Marketplace: Add AWS S3"
### Proposed request

Adding AWS S3 plugin to the marketplace.

Ref: #3870

[2022-11-01 10:35] Shelly011s commented on #1673
If there are no updates from @Gurpreet-Singh-Bhupal, can I take up this issue?

[2022-11-01 10:54] #4680 closed

[2022-11-01 11:52] withshubh commented on #1673
Sure! @Shelly011s
Assigned it to you.

[2022-11-02 03:25] withshubh opened #4684 "add DTO validation for folder name, on folder creation"
### Is your proposal related to a problem?

The folder name (on folder creation) validation should have a data transfer object.

### Describe the solution you'd like

Create a DTO ([example](https://github.com/ToolJet/ToolJet/blob/develop/server/src/dto/version-create.dto.ts)) for validation for folder name (on folder creation)

reference: https://github.com/ToolJet/ToolJet/pull/4402#discussion_r1

[2022-11-02 03:47] #4448 closed

[2022-11-02 03:47] #4579 closed

[2022-11-02 04:46] sureshveernala commented on #4483
Thank you @withshubh, this issue was fixed in the latest version

[2022-11-02 04:46] #4483 closed

[2022-11-02 05:10] #4524 closed

[2022-11-02 05:11] #4504 closed

[2022-11-02 06:02] PrasanthKumar77 commented on #4011
hi @withshubh

may i know if this was picked for next version release?

we have a lot of applications build on this.

[2022-11-02 06:07] #4606 closed

[2022-11-02 08:12] mikebarr24 commented on #4684
@withshubh Could I take this issue?

[2022-11-02 08:44] manishkushare opened #4685 "[ Enhancement ] : [ Query Panel ] Editor"
### Is your proposal related to a problem?
The proposal is not related to the problem, but rather to the enhancement of UI for the Query Panel

### Describe the solution you'd like
Changes according to  new  UI are as follows:
1. When no queries are created
![Screenshot 2022-11-02 at 2 09 36 PM](https://user-images.githubusercontent.com/37823141/199440582-96486539-259a-459b-a614-003838de1b1b.png)

[2022-11-02 08:47] christophberger opened #4686 "Allow to add extra connection options to the PostgreSQL connection settings"
### Is your proposal related to a problem?

Some hosted PosgreSQL databases require extra connection parameters. See e.g. the [cluster/routing parameter for the Cockroach DB Cloud database]( https://www.cockroachlabs.com/docs/stable/connect-to-the-database.html).

Example: `postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=verify-full&options=--cluster%3D<routing-id>`

Here, `ssl

[2022-11-02 09:46] ajith-k-v opened #4688 "Fix failing profile spec"

[2022-11-02 12:21] withshubh commented on #4684
Sure @mikebarr24 - Assigning the issue to you.

[2022-11-02 19:04] tolgaulas opened #4691 "minio removeObject method to be added."
Minio works nice @mslourens & @gondar00, thank you for the great work.

Can you please add the `removeObject` method which can be very similar to getObject method.

Then we can also delete the objects after processing them.

[2022-11-03 02:15] #4189 closed

[2022-11-03 05:32] #4166 closed

[2022-11-03 06:00] ajith-k-v opened #4694 "Fix failing Manage SSO spec"

[2022-11-03 06:33] arpitnath opened #4696 "Queries fail when triggered on page load and self triggering queries crashes the app"
### What is the expected behaviour?
1. Queries should be run successfully on page load.
2. Queries should raise an error toast if it tries to trigger the same query

### What is the current behaviour?
1. On page load, the queries fail, as queries are yet to be fetched and added to the app state
2. On triggering the same query, the app crashes

### How to reproduce the issue?
**Queries fail when tr

[2022-11-03 08:11] #4420 closed

[2022-11-03 09:50] #4677 closed

[2022-11-03 11:12] arpitnath opened #4702 "Validating query name, throws error for non-existing queries"
### What is the expected behaviour?
On creating new queries, the query name should be validated with an existing query, and throw an error and fire toast only if a query exists with the same name

### What is the current behaviour?
Deleting a query and creating a query. with the same name fires an error toast for query names, when the query with the same existed previously.

### How to reproduce t

[2022-11-03 11:23] #4476 closed

[2022-11-03 11:32] #4173 closed

[2022-11-03 11:39] #4662 closed

[2022-11-03 11:47] #4628 closed

[2022-11-03 11:54] #4696 closed

[2022-11-03 11:57] #4702 closed

[2022-11-03 12:01] arpitnath opened #4704 "Stale connection error messages should be removed on exiting the data source manager or going back."
### What is the expected behaviour?
Stale connection error messages should be removed on exiting the data source manager or going back.

### What is the current behaviour?
Stale connection error messages do not get updated on going back to the data source lister.

### How to reproduce the issue?

1. Add any datasource, e.g bigquery
2. Test connections without populating any creds
3. Click the back

[2022-11-03 12:08] #4571 closed

[2022-11-03 16:05] stepinfwd commented on #4639
closed here https://github.com/ToolJet/ToolJet/pull/4646

[2022-11-03 16:05] #4639 closed

[2022-11-03 16:06] stepinfwd commented on #4639
closed here https://github.com/ToolJet/ToolJet/pull/4646

[2022-11-04 03:57] oliver-xie666 opened #4707 "dev local start server connect to database fail"
### Version Information

### Environment

   window

### What is the expected behaviour?

  connect to database

### What is the current behaviour?

  connect to database fail

### How to reproduce the issue?

1.cd server folder npm run db:create
2.
3.

### Screenshots or Screencast

 this is my .env file
![image](https://user-images.githubusercontent.com/75602879/199882344-b7c58090-1f42-4872-a568

[2022-11-04 04:09] gondar00 opened #4708 "[Bug] Query manager loading when a marketplace plugin is uninstalled"
### Version Information
Latest
### Environment
MacOS

### What is the expected behaviour?
Query manager should load when plugin is uninstalled

### What is the current behaviour?
Query manager doesn't load when plugin is uninstalled

### Screenshots or Screencast
![image](https://user-images.githubusercontent.com/12490590/199883673-fa22d515-b890-4b36-bdba-1dd2cc571d9b.png)

### Any possible soluti

[2022-11-04 04:50] shubh22 opened #4710 "Support for S3 type storage services"
There are many object storage services which conform with AWS S3 protocol. They use the same AWS SDK to access the objects. Currently, we do not support such services.

It will be an enhancement in the current AWS S3 plugin.

[2022-11-04 07:09] arpitnath opened #4711 "Creating a query, the options are set to their previous state used to create the last query from the same datasource/plugin"
### Version Information

### Environment
Latest develop

### What is the expected behaviour?
Creating a query, the options should be set to default.

### What is the current behaviour?
Creating a query, the options are set to their previous state used to create the last query from the same datasource/plugin

### How to reproduce the issue?

1. Add a datasource from the datasource manager
2. Create

[2022-11-04 07:19] #4644 closed

[2022-11-04 07:24] shubh22 commented on #4561
Issue has been fixed.

[2022-11-04 07:24] #4561 closed

[2022-11-04 07:24] shubh22 commented on #4562
Issue has been fixed.

[2022-11-04 07:24] #4562 closed

[2022-11-04 07:34] withshubh commented on #4633
@stepinfwd - Please help here

[2022-11-04 07:48] stepinfwd commented on #4633
Hey @AyushK-101  `plugins/packages/amazonses/lib/icon.svg` this would be the location of icon.

[2022-11-04 07:51] #4708 closed

[2022-11-04 09:54] ajith-k-v opened #4714 "Modify failing cypress spec"

[2022-11-04 13:10] arpitnath opened #4716 "S3 File Uploader Template crashes when a query is fired from Button"
## Description
The app crashes when a query **(getObjects)** is fired using an action attached with a Button component

[2022-11-04 18:46] Kazeemakeem commented on #2587
Hey @gondar00 Please assign this to me I want to work on it. Thanks

[2022-11-05 06:57] arpitnath opened #4719 "Marketplace: Plugins source data is always rendering custom testing component"
## Description
Plugins Datasource card should render UI according to the manifest data options provided

[2022-11-05 13:12] #4719 closed

[2022-11-05 13:43] arioki1 opened #4721 "failed to delete application"
### Version Information
v1.28.3-ee1.5.3-cloud1.1.3

### Environment
ToolJet Cloud

### What is the expected behaviour?
successfully delete application

### What is the current behaviour?
failed to delete application

### How to reproduce the issue?

1. delete application
2.
3.

### Screenshots or Screencast
<img width="1000" alt="Screenshot 2022-11-05 at 20 37 51" src="https://user-images.githubus

[2022-11-05 15:19] congvmit opened #4722 "TypeError: Cannot read property 'body' of undefined - RestAPI"
### Version Information

### Environment

ToolJet Docker / Linux

### What is the current behaviour?

I add a RestAPI as a source. Then write a query associating with that RestAPI source.
I click on preview button and receive this error messsage.

[code]

[2022-11-06 15:31] tolgaulas opened #4723 "docker server does not start at v.1.28.3"
### Version Information
1.28.3

### Environment
Docker

### What is the expected behaviour?
Server to start

### What is the current behaviour?
Server exits with error
tooljet-1283-server-1    | > tooljet@1.18.0 db:setup
tooljet-1283-server-1    | > npm --prefix server run db:setup
tooljet-1283-server-1    |
tooljet-1283-server-1    |
tooljet-1283-server-1    | > server@0.0.1 db:setup
tooljet-1283

[2022-11-07 05:22] #4704 closed

[2022-11-07 10:20] gondar00 opened #4726 "[Bug] text not readable for marketplace card in dark mode"
### Version Information
Latest develop

### Environment
MacOS

### What is the expected behaviour?
Text should be readable.

### What is the current behaviour?
Text is not readable.

### How to reproduce the issue?

1. Go to integrations page
2. Activate dark mode
3. Observe the text not being readable

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-11-07 11:26] #4726 closed

[2022-11-07 11:34] sherfin94 opened #4728 "Multi-page applications"
### Is your proposal related to a problem?

Presently, every application can only have a single page.
### Describe the solution you'd like

Provide the ability to add multiple pages in an application, and action to switch between them

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-11-07 20:00] withshubh commented on #4723
Hey @tolgaulas - Thanks for creating the issue. Let me check this and get back to you.

[2022-11-07 20:21] withshubh commented on #4722
Hey @congvmit - Thanks for creating the issue. Let me check this and get back to you.

[2022-11-07 20:23] withshubh commented on #4721
Hey @arioki1 - Thanks for creating the issue. We are already working on fixing this bug. We'll update here once it is fixed.

[2022-11-07 23:06] withshubh commented on #4673
Hey @snoseeds - Thanks for creating the issue.
This issue seems valid. Assigned the issue to you.

[2022-11-08 04:09] congvmit commented on #4722
Hi @withshubh,
Thank you so much! I realize that tooljet in docker cannot access to the API from another because of privacy.
By change the rule, It works now.
However, at the moment the issue is raised, the error message is quite ambiguous to me. It takes a long time to check the reason.

[2022-11-08 04:09] #4722 closed

[2022-11-08 05:48] #4714 closed

[2022-11-08 06:51] snoseeds commented on #4673
Great, thanks @withshubh. I've commenced work on it even while noting the issue can also happen when editing the name of an existing workspace, and I would do the fix for both!

[2022-11-08 07:34] snoseeds commented on #4673
Hi @withshubh, I think it would be good if we add a minimum length requirement for the organization name validation just as we have a max length for it. If you think so as well, what do you suggest should be the minimum length?

[2022-11-08 07:36] gondar00 opened #4731 "[Bug] Viewer not loading with installable plugin"
### Version Information
Latest develop

### Environment
MacOS

### What is the expected behaviour?
Viewer should load with installable plugin

### What is the current behaviour?
Viewer is not loading with installable plugin

### How to reproduce the issue?

1. Add a installable plugin
2. Add a widget
3. Open viewer

### Any possible solutions?
Pick manifest from the api in case of installed plugin

[2022-11-08 07:44] manishkushare opened #4733 "[ Bug ] : [ Manage Group Permissions Resources ] active tab switches to Apps on update in group permissions"
### Environment
Development

### What is the expected behaviour?
On the Manage Groups page, whenever we change any permissions from the respective tab, the respective changes should get updated without switching the tab

### What is the current behaviour?
On changing any permission, under the Permissions Tab, data is updated but the active tab switches to `Apps` in place of `Permissions`

### How

[2022-11-08 09:09] kafle1 opened #4735 "Get location data from the map component"
### Is your proposal related to a problem?

I tried to get the location selected by the user in the map but i could only get the coordinated i.e latitude and longitude.

### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/62476876/200522000-3b721f29-b2a6-4714-85a7-4707dc301fcc.png)
Here i want to get `Bhatkepati, Nepal` as data when i use `{{components.map1.loc

[2022-11-08 09:39] akshaysasidrn commented on #4723
Hey @tolgaulas, I'm unable to replicate the same locally. Would you mind sharing your .env file after masking the sensitive information?

[2022-11-08 11:19] AAYUSH-droid commented on #4574
Hey @withshubh i would like to take this issue!

[2022-11-08 12:00] #4731 closed

[2022-11-08 12:48] #4711 closed

[2022-11-09 06:51] withshubh commented on #4673
Great! Can you please update the issue with the same information

[2022-11-09 06:54] withshubh commented on #4673
1 character minimum length is fine.

[2022-11-09 06:59] withshubh commented on #4574
Hey @ishantagarwal00 - Any update on this?

[2022-11-09 08:02] #4694 closed

[2022-11-09 08:02] #4688 closed

[2022-11-09 20:55] tolgaulas commented on #4723
Ouch, deleted that after I could manage to compile from the source. Sorry. If you say no replication then it's probably my fault as no one has contributed so far.

[2022-11-09 20:55] #4723 closed

[2022-11-10 11:16] kavinvenkatachalam opened #4746 "[Bug]: Query On Page Load Triggered if Other Query is Added or Deleted"
### Version Information

### Environment

Latest develop

### What is the expected behaviour?

Should not run the query when other query is added or deleted

### What is the current behaviour?

When the query has `Run on page load` enabled, it run when other query is added or deleted

### How to reproduce the issue?

1. Add a query and enable `Run on page load` and save
2. Add another query and cl

[2022-11-10 12:38] withshubh commented on #4707
Hey @oliver-xie666 - Closing this issue as this is not a bug but related to the error in setting up ToolJet.
In windows, we recommend using WSL2 and use the [ubuntu setup doc](https://docs.tooljet.com/docs/contributing-guide/setup/ubuntu). You can join our [Slack community](https://www.tooljet.com/slack) and drop your questions there if you need help setting up ToolJet.

[2022-11-10 12:38] #4707 closed

[2022-11-10 14:03] emidhun opened #4748 "Fix failing widget specs on v1.28.3"
### Specify the kind of test

Cypress Spec fix Widgets

### Describe the test

Fix all test-cases on widgets.

[2022-11-10 21:25] arpitnath opened #4751 "Proposal to support for running Python code as a query ( client-side execution )"
## Proposal
- support for running custom Python code as a query.
- log the errors from the python code in the debugger
- access editor and workspace-level variables
- able to trigger component-specific actions
- able to trigger app-level actions (e.g., runQuery, setVariables, showAlert, etc)

[2022-11-11 05:30] #4748 closed

[2022-11-11 05:45] #4601 closed

[2022-11-11 11:47] #4746 closed

[2022-11-13 12:22] mike-luabase opened #4754 "The Table widget doesn't display JSONB postgres data"

[2022-11-14 06:15] withshubh commented on #4574
Hey @ishantagarwal00 - Unassigned the issue as there was no update.

[2022-11-14 06:37] #4388 closed

[2022-11-14 09:24] AAYUSH-droid commented on #4574
Hey can you tell me more about the file where the code for this is?!

[2022-11-14 11:05] emidhun opened #4760 "Add data-cy for google sheet connection form."
### Specify the kind of test

Cypress regression test

### Describe the test

Add data-cy for the common connection form elements and google sheet connection form elements.

[2022-11-14 11:27] kuberaspeaking opened #4762 "[docs]: Adding Restack as a way to deploy ToolJet on k8s on the users' AWS infrastructure."
### Summary

I wish to add [Restack](https://www.restack.io) as a way to deploy Tooljet on kubernetes on the user's AWS infrastructure.
I propose to add it on the same level as the option with Heroku under [Setup](https://docs.tooljet.com/docs/setup/).
Please let me know if you have any suggestions.

### Issue Type

Documentation feature/update

### The entire URL of the documentation with the iss

[2022-11-14 12:19] #4762 closed

[2022-11-14 12:20] Navaneeth-pk commented on #4762
We are adding more deployment options as per the requests from our community. Will reopen the issue if there is enough requests from our community.
@kuberaspeaking

[2022-11-14 20:00] Codebreaker101 opened #4764 "AppWrite source does not list documents"
### Version Information
![Screenshot from 2022-11-14 20-32-02](https://user-images.githubusercontent.com/16204269/201749060-0712ee3f-289d-4bd6-80c0-9600272d5329.png)

### Environment

Docker

### What is the expected behaviour?

For the query to List Documents in a collection to return a list of documents
### What is the current behaviour?

Currently it returns whatever the AppWrite source host ur

[2022-11-14 23:22] jalajk24 commented on #4733
Can I work in this issue? I don't know a lot about how to proceed with this.

[2022-11-15 05:53] withshubh commented on #4733
Hey @jalajk24 - Thanks for your interest in contributing to ToolJet.
There is already a PR created for this issue. Please pick other open issues.

[2022-11-15 07:32] withshubh commented on #4764
Hey @Codebreaker101 - Thanks for creating the issue.
We will update once it is fixed.

[2022-11-15 08:48] gondar00 opened #4765 "Add update button to installable plugin"
### Is your proposal related to a problem?
Currently, when a plugin is installed from marketplace there is no means to update it whenever a newer version is available.

### Describe the solution you'd like
Provide an update button that allows the datasource to be updated to a newer version "over the wire"

### If the feature is approved, would you be willing to submit a PR?
Yes

[2022-11-15 09:18] #4760 closed

[2022-11-15 11:39] virus2016 opened #4767 "openAPI not working with oauth2"
### Version Information

### Environment

Docker

### What is the expected behaviour?

I should be asked to login to protected endpoints.

### What is the current behaviour?

Do not get asked to login.

### How to reproduce the issue?

1. Create app
2. Add OpenAPI Datasource
3. Paste the following

[code]

### Screenshots or Screencast

![image](https://user-images.githubusercontent.com/11227384/2

[2022-11-15 12:46] a-c-m opened #4768 "Need the ability to reuse query results in source headers and/or send custom headers on graphQL queries"
### Is your proposal related to a problem?

Yes, it's currently not possible to send customer headers to a graphQL source, based on data in the app. Which is critical if you are to use api's which are authenticated per user / something they entered, vs per app at the env. var level.

### Describe the solution you'd like

1. Ability to use app data in source headers (strong preference for this)
2.

[2022-11-15 14:00] shah21 commented on #4767
Hey @virus2016, I have looked into your issue
Currently, our open API data source implementation will only work with the general security array(parent auth for all routes), I mean authorization for a specific route will not work.

[2022-11-15 17:08] virus2016 commented on #4767
Can you give me an example?

[2022-11-15 18:03] GlenEaston opened #4769 "Tab switching from component controls not working correctly"
### Version Information
1.29
### Environment
Docker
### What is the expected behaviour?
Event>Action>Control Components>Set Current Tab
When this is activated (eg from a Button), the app switches to the correct tab, but the tab is completely blank. (?? maybe rendering in the foreground??)

What should happen is the same as when one clicks on a tab: the tab renders correctly with components showing

[2022-11-16 12:31] a-c-m opened #4774 "Ability to reference current row on tables"
### Is your proposal related to a problem?

For custom columns, it would be great to be able to use data from the current row. E.g. the table has first and last names, you want to make a full name.

### Describe the solution you'd like

Being able to do something like `"{{currentRow.firstName}} {{currentRow.lastName}}"` to generate a full name when the row already had first and last.

### Describe

[2022-11-16 14:06] withshubh commented on #4774
Hey @a-c-m
You can use transformations to just combine the `firstName` & `lastName` columns and create a new column `fullName`:

Try this:
[code]

[2022-11-16 14:42] a-c-m commented on #4774
Thats a good work around thanks!

Other similar tools (appSmith) let you use it directly in the table as I indicated.

[2022-11-16 19:28] stepinfwd commented on #4574
file :: frontend/src/HomePage/AppCard.jsx
fix
frontend/assets/images/icons/app-icons/calender.svg
change this file name to `calendar.svg`
@AAYUSH-droid

[2022-11-16 19:47] stepinfwd opened #4781 "Table :: dragged column not sticking to cursor"
### What is the expected behaviour?
Dragged column to stick to cursor

### What is the current behaviour?
Dragged column not sticking to cursor

### How to reproduce the issue?

1.Use table widget
2.Try dragging columns
3.Observe above issue

### Screenshots or Screencast

https://user-images.githubusercontent.com/31006028/202279152-2f3f2171-8e68-48ca-b479-769e1c96d8ed.mov

### Any possible soluti

[2022-11-17 03:33] bestpika commented on #4347
@ricardojlrufino The change in number #4445 (#4444) did not fix my problem.

[2022-11-17 04:57] kavinvenkatachalam opened #4785 "[Bug]: Default View on Calendar is not Exposed Properly"
### Version Information

Latest Version

### Environment

ToolJet Cloud

### What is the expected behaviour?

When the default view of the calendar property is changed, the changed value needs to be exposed in the inspector

### What is the current behaviour?

The changed value of the default view in the calendar inspector is not exposed properly

### How to reproduce the issue?

1. Drop the calen

[2022-11-17 06:12] #4492 closed

[2022-11-17 06:13] #4576 closed

[2022-11-17 06:14] #4233 closed

[2022-11-17 06:22] #4204 closed

[2022-11-17 06:43] withshubh commented on #4774
Thanks for your feedback. We will look into it. 🙌

[2022-11-17 06:43] #4774 closed

[2022-11-17 06:49] #4385 closed

[2022-11-17 07:04] withshubh opened #4787 "DTO validation for version name validation"
### Is your proposal related to a problem?

The Version Name Validation should have a data transfer object.

### Describe the solution you'd like

Create a DTO ([example](https://github.com/ToolJet/ToolJet/blob/develop/server/src/dto/version-create.dto.ts)) for title length validation of the workspace

reference: https://github.com/ToolJet/ToolJet/pull/4612

[2022-11-17 07:33] #4733 closed

[2022-11-17 07:53] stepinfwd opened #4788 "Update onboarding flow"
### Is your proposal related to a problem?
No

### Describe the solution you'd like
Update the onboarding flow with new UI

### If the feature is approved, would you be willing to submit a PR?
yes

[2022-11-17 09:12] #4177 closed

[2022-11-17 09:18] shah21 opened #4789 "[improvement] - Workspace variables doesn't work in RunJS"
### Version Information

Latest

### Environment

All

### What is the current behaviour?

The current implementation of workspace environment variables didn’t work on RunJs queries

### If the bug is confirmed, would you be willing to submit a PR?
Yes

[2022-11-17 09:20] #3295 closed, assigned to Syed-Ansar

[2022-11-17 09:38] #4171 closed

[2022-11-17 09:50] emidhun opened #4791 "Add data-cy to table elements for cypress automation."
### Specify the kind of test

Cypress E2E

### Describe the test

Add data-cy to table widget and related components to help cypress automation test.

[2022-11-17 10:33] #4765 closed

[2022-11-17 12:27] #4578 closed

[2022-11-17 12:48] #4178 closed

[2022-11-17 15:44] withshubh opened #4794 "Heroku deploy failed with slug size being too large"
### Version Information

### Environment
Heroku

### What is the current behaviour?

The build process creates slug size above the Heroku limit

Getting the following error:
[code]

[2022-11-17 17:22] aryounce opened #4795 "PGPASSWORD environment variable written into log"
### Version Information
`1.29.0`

### Environment
Everywhere except(?) ToolJet Cloud.

### What is the expected behaviour?
Passwords are not written into logs.

### What is the current behaviour?
When database creation fails the entire command string including the value of the `PGPASSWORD` environment variable is written into the console log. We discovered this in CloudWatch Logs when attempting t

[2022-11-18 03:46] #4791 closed

[2022-11-18 08:39] withshubh commented on #4795
Hey @aryounce - Thanks for creating the issue. We'll fix this soon and let you know.

[2022-11-18 08:59] withshubh opened #4796 "[docs]: fix the grammatical errors in localization doc"
### Summary

There are a few grammatical errors in the localization documentation.
Example: the note at the bottom of the page,

[code]

It should be:
[code]

Please find all the errors on the page and create a PR.

### Issue Type

Documentation bug

### The entire URL of the documentation with the issue

https://docs.tooljet.com/docs/contributing-guide/l10n

### Steps to reproduce the issue

_No

[2022-11-18 09:04] gogoiakash2311 commented on #4796
Can you assign this to me?

[2022-11-18 09:11] withshubh commented on #4796
Hey @gogoiakash2311 - Thanks for showing interest in contributing to ToolJet. Assigned the issue to you.

[2022-11-18 09:31] stepinfwd opened #4798 "Bulk selection function in table column hide dropdown when bulk selection is turned on"
### What is the expected behaviour?
Table column hide dropdown should only contain

### What is the current behaviour?
When bulk selection is turned on table column hide dropdown shoes a function

### How to reproduce the issue?

1.use Table
2.enable bulk selection
3.view table hide column dropdown

### Screenshots or Screencast
![Screenshot 2022-11-18 at 8 21 49 AM](https://user-images.githubuser

[2022-11-18 20:28] vedant-z commented on #4787
Hi @withshubh May I try this?
Also if you could explain a little bit on what needs to be done it would be great.

[2022-11-18 22:55] gogoiakash2311 commented on #4796
I have made PR check #4800

[2022-11-19 13:34] poaudet commented on #4710
+1 :)

Will be nice to add custom endpoint for s3 local gateway or storj.io

[2022-11-20 10:37] Arsaev opened #4804 "PutItem and Update requests support in DynamoDB integration."
**Problem**
Current Integration for DynamoDB does not support writing actions like PutItem or Update key-value pairs.

**Possible solution**
- PutItem function that would marshal any given JSON struct to a valid DynamoDB JSON structure and attempt to write it.
- SET function to update a specific field in the data struct

I'm ready to implement it.

[2022-11-20 18:59] withshubh opened #4805 "fix typo on login page"
### What is the expected behaviour?

Currently. the text says `Don't have account yet? Sign up`

### What is the current behaviour?

The text should be `Don't have an account yet? Sign up`

### How to reproduce the issue?

1. Go to tooljet.com
2. click on sign in button

### Screenshots or Screencast

<img width="1438" alt="Screenshot 2022-11-20 at 9 30 25 AM" src="https://user-images.githubuserco

[2022-11-21 03:24] yajatvishwak commented on #4805
I'm on it

[2022-11-21 03:26] #4796 closed

[2022-11-21 03:40] yajatvishwak commented on #4805
#4807 check this out

[2022-11-21 04:10] Navaneeth-pk commented on #4804
Thanks for contributing to ToolJet. Assigned the issue.
@Arsaev

[2022-11-21 04:11] #4805 closed

[2022-11-21 05:37] Arsaev commented on #4804
Great! Thanks

[2022-11-21 08:39] manishkushare opened #4808 "[ Bug ] : [ warning in console ] Unsupported style property 'word-break'"
### Version Information
v1.29.0
### Environment
Development

### What is the expected behaviour?
There should not be a warning for  `Unsupported style property 'word-break'` as such in the console

### What is the current behaviour?
A warning is thrown in the console as `Unsupported style property 'word-break'`

### How to reproduce the issue?

1. Create a new application or open an existing one
2

[2022-11-21 08:55] withshubh opened #4810 "[slack datasource] add operation `list messages in a channel`"
### Is your proposal related to a problem?

Currently, there is no operation in slack datasource to `list messages from a channel`

### Describe the solution you'd like

Add an operation to the slack datasource `list messages in a channel`

Reference:
- https://github.com/ToolJet/ToolJet/pull/4022

[2022-11-21 09:22] withshubh opened #4811 "expose the `text` property of text component"
### Is your proposal related to a problem?

Currently, we cannot access the `text` property of the component using `{{components.text1.text}}`

### Describe the solution you'd like

Exposing the `text` property will make it easy to access the value of the text component and will be helpful for various use cases.

<img width="1605" alt="Screenshot 2022-11-21 at 2 13 01 PM" src="https://user-images.

[2022-11-21 09:44] emidhun opened #4812 "Add automation for table components and basic operations"
### Specify the kind of test

Cypress E2E

### Describe the test

Add the First `it` block which needs to cover all the element verifications and basic functionality of table.

[2022-11-21 11:30] Shelly011s opened #4815 "Scrollbar for editor sidebar and queries tab"
### Is your proposal related to a problem?
The editor sidebar and Queries tab do not show the overflowing content.

### Describe the solution you'd like
There should be a scrollbar to show the rest of the content in the editor sidebar and Queries tab.

### If the feature is approved, would you be willing to submit a PR?
I will try to.
### Screenshot
![image](https://user-images.githubusercontent.c

[2022-11-21 13:35] manishkushare opened #4816 "[ Bug ] : Canvas background color is not getting applied in the viewer mode"
### Version Information
v1.29.0

### Environment
All

### What is the expected behaviour?
If we apply any color to the background of the canvas, it should persist in the viewer mode as well.

### What is the current behaviour?
The applied background color for the canvas is not persisting in the viewer mode

### How to reproduce the issue?

1. Create a new application or open an existing one
2. In

[2022-11-21 13:35] frafra opened #4817 "Add links to rich text editor"
### Is your proposal related to a problem?

I cannot add links using the rich text editor.

### Describe the solution you'd like

It would be nice to have a button to add links.

### Describe alternatives you've considered

None.

### If the feature is approved, would you be willing to submit a PR?

I am not familiar with ToolJet enough to quickly submit a PR.

[2022-11-21 13:43] frafra opened #4819 "Rich text editor "Default Value" does not accept HTML"
### Version Information
1.29.0

### Environment

ToolJet Docker compose, using tooljet/tooljet-ce:latest

### What is the expected behaviour?

Setting `Default Value` to an HTML valid string should show the rendered HTML in the form.

### What is the current behaviour?

Rich text editor escapes the input.

### How to reproduce the issue?

1. Create a rich text editor
2. Set the `Default Value` to

[2022-11-21 13:46] withshubh commented on #4815
Hey @Shelly011s - Can you please share the device and browser details?

[2022-11-21 13:48] withshubh commented on #4819
Hey @frafra - Thanks for creating this issue. Assigned the issue to you.

[2022-11-21 14:00] frafra opened #4820 "Cannot build tooljet-client:development Docker image"
### Version Information
devel, 86917971a6fb12575c642fdff4e9d7725472eb3a

### Environment
Docker

### What is the expected behaviour?
The compose stack should build successfully when running `docker compose build`.

### What is the current behaviour?

It is not possible to build the `tooljet-client:development` image.

### How to reproduce the issue?

1. Checkout develop
2. `cp .env.example .env` a

[2022-11-21 15:27] frafra commented on #4820
It seems an obscure Docker issue.

Installing npm twice using two commands, does not work:

[code]

Installing them at once does not produce any error:
[code]

This also works:

`RUN npm i -g npm@7.20.0 && npm --prefix plugins install`

[2022-11-21 15:51] frafra commented on #4820
[code]

This seems to fix the issue.

[2022-11-21 16:14] frafra opened #4822 "plugins.Dockerfile.dev does not contain tsc"
### Version Information
devel, 86917971a6fb12575c642fdff4e9d7725472eb3a

### Environment
Docker.

### What is the expected behaviour?
The container should start without errors

### What is the current behaviour?
tsc cannot start

### How to reproduce the issue?

1. Run the plugins container

### Screenshots or Screencast

### Please provide any traces or logs that could help here.

### Any possibl

[2022-11-21 16:20] frafra opened #4823 "client.Dockerfile.dev: webpack not found"
### Version Information
devel, 86917971a6fb12575c642fdff4e9d7725472eb3a

### Environment
Docker.

### What is the expected behaviour?
The container should start without errors

### What is the current behaviour?
webpack cannot start

### How to reproduce the issue?

1. Run the client container

### Screenshots or Screencast

### Please provide any traces or logs that could help here.

### Any poss

[2022-11-21 16:21] frafra commented on #4822
I added it and executed `npm lock`. I get a different error now:

[code]

I am not familiar with TypeScript, so I do not know how to proceed.

[2022-11-21 16:30] frafra commented on #4820
I discovered various Docker issue. I will stop reporting now, waiting for your feedbacks on how to proceed.

[2022-11-21 18:35] Shelly011s commented on #4815
I am on Ubuntu 20.04.5 using chrome as a browser.

[2022-11-21 20:33] tunix opened #4825 "Multiselect Value Conversion inside Query"
### Version Information

Version: 1.28.2

### Environment

Kubernetes

### What is the expected behaviour?

I select all items inside a multiselect box. When I print it, I see it as an array:

[code]

But when I try to use it inside a API Query (like below), I get an error, mainly because it cannot represent the request as JSON. So the request is not even sent to the server.

The request is being

[2022-11-22 04:32] #4812 closed

[2022-11-22 06:31] withshubh commented on #4815
Hey Shelly - In the screenshot you shared, the resolution doesn't seem valid. can you share the resolution?

Also, I tried the scroll seems to work fine on my end.

![scroll](https://user-images.githubusercontent.com/25361949/203241197-00949850-1072-475a-a199-8a2e8ccc206b.gif)

[2022-11-22 06:34] withshubh commented on #4816
Hey @shantanuSakpal - Thanks for your interest in contributing to ToolJet. The PR is already created for this issue. Please look for other open issues.

[2022-11-22 06:43] withshubh opened #4826 "expose the `label` property of dropdown component"
### Is your proposal related to a problem?

Currently, we cannot access the `label` property of the dropdown component using `{{components.dropdown.label[0]}}`

### Describe the solution you'd like

Exposing the `label` property will make it easy to access the value of the dropdown component and will be helpful for various use cases.

[2022-11-22 06:53] withshubh commented on #4825
Hey @tunix - Can you share the generated preview (preview in green box) of this:
[code]

[2022-11-22 06:56] tunix commented on #4825
Hey @withshubh , please see below:

[code]

[2022-11-22 10:00] emidhun opened #4827 "Add data-cy for table column edit options."
### Specify the kind of test

Cypress E2E

### Describe the test

Add data -cy to help test cases for column edit options.

[2022-11-22 11:38] withshubh opened #4829 "vertical divider not visible when dropped on canvas"
### What is the expected behaviour?

Vertical divider, when dropped on the canvas, should have a default color, preferably black(`#000000`)

### What is the current behaviour?

Set the default color of the vertical divider component to black(`#000000`)

### How to reproduce the issue?

1. open the app editor
2. select a vertical divider from the widget sidebar and drop it on the canvas

### Screen

[2022-11-22 12:14] withshubh commented on #4825
Hey @tunix
Can you try passing this:
[code]

[2022-11-22 12:21] #4413 closed

[2022-11-22 14:06] tunix commented on #4825
It worked when placing `JSON.Stringify(...)`. Thank you!

[2022-11-22 15:09] withshubh commented on #4825
awesome!

[2022-11-22 16:13] frafra commented on #4822
@akshaysasidrn I see that you created the `*.Dockerfile.dev` files. I wonder if you know more about these issues.

[2022-11-23 04:09] mitin-andrey-n opened #4834 "Can not create demo data"
After run  **docker-compose run server npm run db:seed**
I get that:

Couldn't find tsconfig.json. tsconfig-paths will be skipped
Error: Cannot find module '../src/app.module'
Require stack:
- /app/server/scripts/seeds.ts
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:902:15)
    at Function.Module._load (internal/modules/cjs/loader.js:746:27)
    at Module.require (intern

[2022-11-23 06:57] ishaanparlikar commented on #4829
Can I take this ?

[2022-11-23 07:07] withshubh commented on #4829
Sure @ishaanparlikar - Assigned it to you.

[2022-11-23 07:26] withshubh commented on #4632
Hey @Smartmind12 are you still interested?

[2022-11-23 07:37] #4148 closed

[2022-11-23 07:41] withshubh commented on #4015
My bad - thanks for pointing that out. Unassigned the issue.

[2022-11-23 09:06] withshubh opened #4837 "Amazon SES: query fails if the value for CC or BCC is empty"
### What is the expected behaviour?

Query should pass when the values for `CC/BCC/body as text` are not provided

### What is the current behaviour?

query fails when any of the value is empty

### Screenshots or Screencast

https://user-images.githubusercontent.com/25361949/203507485-b8f7610d-01c4-49fe-8143-c4fa7da31b7f.mp4

[2022-11-23 09:17] #4523 closed

[2022-11-23 09:19] Shelly011s commented on #4815
The resolution I am working on is 1366*78(16:9).

[2022-11-23 09:28] withshubh opened #4838 "change position of `cell background color` option in column properties"
### What is the expected behaviour?

`Cell background color` is not a conditional property so it should not be inside the `Validations` accordion

### What is the current behaviour?

Currently, when you edit the column property and when the `make editable` is turned on then the `cell background color` property goes inside the validations accordion.

Put the `cell background color` property above v

[2022-11-23 11:50] ishaanparlikar commented on #4829
Hi @withshubh
Fixed the issue. Please have a look.
Thanks

[2022-11-23 12:05] ishaanparlikar commented on #4838
Hi @withshubh Can you assign this to me ?

[2022-11-23 12:17] withshubh commented on #4838
Hey @ishaanparlikar - Another issue is already assigned to you, please create a PR for that: https://github.com/ToolJet/ToolJet/issues/4829

[2022-11-23 12:30] withshubh commented on #4815
Hey @Shelly011s - Please check the screenshot, the resolution is the same as yours but the app editor fits well enough.
Can you please check if the web page on the browser is not zoomed out more than 100%? Try adjusting the webpage using  `ctrl` + `-` and `ctrl` + `+` keys

<img width="1176" alt="Screenshot 2022-11-23 at 5 56 54 PM" src="https://user-images.githubusercontent.com/25361949/203547436

[2022-11-24 11:06] adamsony06 opened #4843 "Hamburger menu for mobile"
### Is your proposal related to a problem?

Dear,

I want to build a responsive app, i have managed to make it on desktop, but in mobile it's not that great.
I wanted to create a hamburger menu for smooth navigation, but I can't manage to do it with your tool, even by using custom react component.

Is there a way to do it ? Could React component connect to Tooljet variables ?

### Describe the sol

[2022-11-25 13:11] neshorg commented on #3741
Also duplicate #2884

I'm experiencing the same issue here. Has anyone managed to take a look at this?

[2022-11-25 19:18] Mekhla-Asopa opened #4847 "Add automation for Export and Import Functionality"
### Specify the kind of test

Cypress E2E

### Describe the test

The test cases should cover all the element verifications as well as the basic functionality of an application's export and import.

[2022-11-26 04:46] withshubh commented on #4820
Hey @frafra
This issue is related to setting up ToolJet. Closing the issue, please ask the same in our [Slack community](https://www.tooljet.com)

[2022-11-26 06:32] vedant-z commented on #4837
@withshubh May I try this?

[2022-11-26 06:34] vedant-z commented on #4817
@withshubh I am willing to work on this

[2022-11-26 08:54] frafra commented on #4820
Hey :-)
This is not a support request, but a specific bug to code belonging to the repository.

[2022-11-26 12:31] mikebarr24 commented on #4684
@withshubh
I'm trying to get my head round DTOs and I'm just wondering if this has already been completed by Akshay.

This is within create-folder.sto.ts
[code]

[2022-11-27 15:59] mweichert opened #4850 "Create reusable component blocks"
### Is your proposal related to a problem?

Hi there! First off, I think ToolJet is fantastic. But what I'm missing is a way to embed an app in an app.

For instance, I'm working on creating Web3 apps.

Web3 apps commonly have a way of specifying an amount of tokens. I'd like to create that as a reusable component. I realize that I could create a custom component, but I don't have to do that - I w

[2022-11-28 05:29] #4823 closed

[2022-11-28 06:51] bestpika opened #4851 "The data of the custom component will be reset abnormally"
### Version Information

### Environment

Tooljet | docker | v1.29.0

### What is the expected behaviour?

The properties of `data` should be kept up to date.

### What is the current behaviour?

Except for the modified properties, the initial value will be changed back.

### How to reproduce the issue?

If my `data` has more than one property, whenever I set one of the properties, the other two p

[2022-11-28 08:13] withshubh commented on #4838
Hey @ishaanparlikar - Assigned the issue to you.

[2022-11-28 13:02] tuutoo opened #4853 "Code Editor pop up width overflow issue"
### Version Information
v1.29.1
### Environment
Docker

### What is the expected behaviour?
This pop-up width should not have width over the screen.

### What is the current behaviour?
This pop-up width have width over the screen and cannot adjust it back.

### How to reproduce the issue?

1. Do a preview or search of the query
2. Then Press "Pop out code editor into a new window" in table propert

[2022-11-28 13:15] kanunnikau opened #4854 "Table widget "Download as CSV" misses some values"
### Version Information

### Environment
ToolJet Docker

### What is the expected behaviour?
Selecting download as CSV/Excel in table widget should download all data, as visible in the table.

### What is the current behaviour?
If the table has custom column mapping (i.e. the visible "Column name" is different from the "key" that's used to parse incoming data) then downloaded file doesn't have val

[2022-11-28 14:20] kanunnikau opened #4858 "Table widget "Download as Excel" exports extra columns"
### Version Information

### Environment
ToolJet Docker v1.29.0

### What is the expected behaviour?
Table widget exports data to Excel same as it's displaying.

### What is the current behaviour?
Table exports:
- all column names as visible on the screen,
- all data as provided to the table.
There can be a mismatch between column names and data structure. For example, if there is a first "Actions

[2022-11-28 22:00] mjyoung commented on #4686
+1

[2022-11-29 02:28] ghoeffner opened #4859 "Add "Signature" component"
### Is your proposal related to a problem?
Right now, we have a lot of excellent components available. Would be great if we had a component that would allow us to get signatures from users.

### Describe the solution you'd like
Some component featuring other OSS, such as https://github.com/szimek/signature_pad would be excellent. We should be able to provide a signature image (for applications tha

[2022-11-29 03:22] GF-Huang opened #4860 "I can't drag the existing Table into Tabs as content"
### Version Information

### Environment
ToolJet Cloud

### What is the expected behaviour?
Allow drag the existing Table into Tabs as content.

### What is the current behaviour?
I can't.

### How to reproduce the issue?
![msedge_NL3fyh4mAR](https://user-images.githubusercontent.com/4510984/204430671-b9d4fdd9-5682-428a-acc0-69ac111eddb7.gif)

### Screenshots or Screencast

### Please provide any

[2022-11-29 05:25] tuutoo opened #4861 "Page design performance Issue when having bunch of data"
### Version Information
v1.29.1
### Environment

Docker

### What is the expected behaviour?

Expect to limit the records show for debug purpose, or even just remove them if they are causing the performance issue.

### What is the current behaviour?

The page is getting stuck, very bad experience to continue the design. I have to change my query to limit the records or columns to let it get smooth

[2022-11-29 11:44] #4827 closed

[2022-11-29 13:30] withshubh commented on #4860
Hey @GF-Huang
You cannot drag a component that is already on the canvas inside the container or tabs. The solution is to copy the component using [keyboard shortcuts](https://docs.tooljet.com/docs/tutorial/keyboard-shortcuts) and paste it inside the container or the tab.

Feel free to join out [slack community](https://tooljet.com/slack) if you have any questions.

Closing the issue as this is not

[2022-11-29 13:32] withshubh commented on #4859
Hey @ghoeffner
Let me check with the team if we have any plans to add it to the roadmap.

[2022-11-29 14:34] withshubh commented on #4817
Hey @vedant-z - Assigned the issue to you.

[2022-11-29 16:04] frafra commented on #4817
@vedant-z there is no link button on the toolbar of the editor. Rich text editors allow adding URLs as links, usually.

[2022-11-29 21:03] mikebarr24 commented on #4787
@withshubh If my current PR gets accepted, could you assign me to this. I think it's similar to what I've just submitted.
Thanks!

[2022-11-30 02:55] kavinvenkatachalam commented on #4851
Hi @bestpika,

Spreading the data while updating would fix this issue. Attaching the working code below,

[code]

Attaching the GIF,

![custom](https://user-images.githubusercontent.com/50441969/204696249-78ae8261-3f76-4540-95cd-74c2e6b0a96f.gif)

Closing the issue as this is not a bug.

[2022-11-30 02:55] #4851 closed

[2022-11-30 05:37] akshaysasidrn commented on #4820
Hey @frafra, I am unable to replicate the same on the latest develop. Could it be that you had tried installing tooljet locally and then when the node_modules folder is copied in docker env, it is failing to build? Could you try removing the node_modules dir and then try docker build once again?

[2022-11-30 06:52] withshubh commented on #4787
Sure! @mikebarr24 - assigned the issue to you.

[2022-11-30 09:34] withshubh commented on #4861
Hey @tuutoo - Can you try using the `Server side pagination` option available in the Table component?

[2022-11-30 09:41] ajith-k-v opened #4862 "Add data-cy for SSO and onboarding page elements"

[2022-11-30 10:11] ajith-k-v opened #4864 "Modify Manage SSO spec in multi-workspace"

[2022-11-30 14:50] frafra commented on #4820
Hey @akshaysasidrn. I never tried to develop without Docker, and no `node_modules` directory is found.
I cloned again, using the latest develop, and the problem is 100 % reproducible.

It seems that there is something happening with some environmental variable, such as PATH or similar, as the behavior changes based on the fact that the commands are executed inside the same shell as the npm upgrade

[2022-11-30 15:07] tuutoo commented on #4861
@withshubh I can not get result if using `Server side pagination`

![image](https://user-images.githubusercontent.com/9068314/204833539-bf1d065a-1fcd-4a07-b44e-ac78100b6830.png)

[2022-11-30 15:13] tuutoo commented on #4861
Switch "Server-side Pagination" I can get results, but the page design is slow.

![image](https://user-images.githubusercontent.com/9068314/204835462-be9fad34-0885-4d3a-98a1-48fe61e4fe05.png)

![image](https://user-images.githubusercontent.com/9068314/204835249-f7e2b0eb-698f-46ee-a755-231757907ca9.png)

[2022-11-30 15:48] vedant-z commented on #4817
Hey @withshubh I figured out that I need to add new span with LINK icon under class="RichEditor-controls".

![Screenshot_20221130_211305](https://user-images.githubusercontent.com/93431609/204843697-bd9deddf-5894-4635-afbf-838726623429.png)

The problem is that I am unable to find where is the controls item specified and after adding the icon how should I add its funcionality?

[2022-11-30 15:59] tuutoo commented on #4861
Above is using Graphql, I also tested using MSSQL as below, the result is same.

Switch "Server-side Pagination" Option On, I can not get results.
![image](https://user-images.githubusercontent.com/9068314/204845757-1402270b-2882-4b95-afc1-f704102873c7.png)

Switch "Server-side Pagination" Option off, I can get results, page design is slow or unresponsive.
![image](https://user-images.githubuserco